<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 01-03-2022
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-24-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <!-- <template if:true={customErrorMessage}>
        <section role="dialog" tabindex="-1" aria-label="Meaningful description of the modal content"
            aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <h4>Update Details</h4>
                    <button onclick={cancelUpdateDetailsModal}
                        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close">
                        <lightning-icon icon-name="utility:close" size="medium">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium">
                    <lightning-formatted-rich-text value={customErrorMessage}></lightning-formatted-rich-text>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button variant="brand" label="Cancel" onclick={cancelUpdateDetailsModal}
                        class="v-btn btn-md btn-reset">
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template> -->
    <div class="container shrink-mobile">
        <h1 class="slds-assistive-text">User Dashboard</h1>
        <section class="slds-clearfix slds-var-m-bottom_small">
            <div class="slds-float_right schedule_options">
                <lightning-button class="slds-var-m-right_small" label="Schedule Vaccine Appointment"
                    name="scheduleVaccination" variant="brand" onclick={handleClick}
                    if:true={Enable_Vaccination_Button_1st_Dose}></lightning-button>

                <lightning-button class="slds-var-m-right_small" label="Schedule Testing Appointment"
                    name="scheduleAppointment" variant="brand" onclick={handleClick}></lightning-button>
                <lightning-button class="slds-left_small" label="Add Dependent/Household Member/Client"
                    name="addDependent" onclick={handleClick}>
                </lightning-button>
            </div>
        </section>
        </br>
        <!-- Added by rajat as per story S-23784-->



        <template if:true={showSpinnerCarousel}>
            <div class="slds-is-relative spinner-container">
                <lightning-spinner variant="brand"></lightning-spinner>
            </div>
        </template>
        <article class="slds-card" if:true={checkBannerInfoExist}>
            <div class="slds-card__body slds-card__body_inner">
                <template if:false={showSpinnerCarousel}>
                    <div class="carousel-container">
                        <c-vt_tvrs_custom-carousel items={items} options={options}></c-vt_tvrs_custom-carousel>
                    </div>
                </template>
            </div>
        </article>
        <!-- End of story -->
        <!-- <article class="slds-card">
            <div class="slds-card__body slds-card__body_inner">
                If you believe you are eligible for an additional dose due to an immunocompromise condition, please update
                your contact details before scheduling your next dose.<br><br>
                To update your contact details, please use the Dependent/Household Member/Client tab below and click on
                the UPDATE DETAILS button.</br>
                Commented from here <br><br>
                If you would like to change your personal information, including preference on how the Department of
                Health contacts you, please edit your user profile by clicking Dependents/Household Members/Clients,
                then Update.  to here
            </div>
        </article> -->
        
        </br>





        <!-- <div><p>If you would like to change your personal information, including preference on how the Department of Health contacts you, please edit
            your user profile by clicking Dependents, then Update.</p></div></br> -->
        <lightning-tabset>
            <lightning-tab label="Appointments">
                <template if:true={showSpinner}>
                    <div class="slds-is-relative spinner-container">
                        <lightning-spinner variant="brand"></lightning-spinner>
                    </div>
                </template>
                <!---Added by Santhosh-->

                <div class="slds-var-p-around_small ">    
                    <div class="slds-card slds-var-m-top_small card-border">
                    <div class="slds-grid slds-gutters slds-var-p-around_small">
                        <div class="slds-col">    
                            <div class="section">
                                <h3 class="title">Status</h3>
                                <template for:each={statusOptions} for:item="option" for:index="index">
                                    <!-- <div class="slds-checkbox" key={option.label}>
                                        <label class="script" >
                                            <span class="fontsize"> {option.label}</span>
                                                <input type="checkbox" value={option.label} checked={option.value} onclick={handleChangeStatus}>
                                                <span class="geekmark">
                                            </span>
                                        </label>
                                    </div> -->
                                    <div class="slds-checkbox" key={option.label}>
                                        <input type="checkbox" id={option.label} value={option.label} checked={option.value} data-index={index} onclick={handleChangeStatus} />
                                        <label class="slds-checkbox__label" for={option.label}>
                                          <span class="slds-checkbox_faux"></span>
                                          <span class="slds-form-element__label fontsize">&nbsp;&nbsp;{option.label}</span>
                                        </label>
                                    </div>
                                    <br key={option.label}>
                                </template>
                            </div>
                            </div> 
                            <div class="slds-col">    
                                <div class="section">
                                    <h3 class="title">Type</h3>
                                    <template for:each={typeOptions} for:item="option" for:index="index">
                                        <!-- <div key={option.value}>
                                            <label class="script" >
                                                <span class="fontsize"> {option.label}</span>
                                                    <input type="checkbox" value={option.label} checked={option.value} onclick={handleChangeType}>
                                                    <span class="geekmark">
                                                </span>
                                            </label>
                                        </div> -->

                                        <div class="slds-checkbox" key={option.value}>
                                            <input type="checkbox" id={option.label} value={option.label} checked={option.value} data-index={index} onclick={handleChangeType}/>
                                            <label class="slds-checkbox__label" for={option.label}>
                                              <span class="slds-checkbox_faux"></span>
                                              <span class="slds-form-element__label fontsize">&nbsp;&nbsp;{option.label}</span>
                                            </label>
                                        </div>
                                        <br key={option.label}>
                                    </template>
                                </div>
                            </div>
                        <div class="slds-col">    
                            <div class="section">
                                <h3 class="title">Range</h3>
                                <template for:each={rangeOptions} for:item="option" for:index="index">
                                    <!-- <div key={option.value}>
                                        <label class="script" >
                                            <span class="fontsize"> {option.label}</span>
                                                <input type="checkbox" value={option.label} checked={option.value} onclick={handleChangeRange}>
                                                <span class="geekmark">
                                            </span>
                                        </label>
                                    </div> -->
                                    <div class="slds-checkbox" key={option.label}>
                                        <input type="checkbox" id={option.label} value={option.label} checked={option.value} data-index={index} onclick={handleChangeRange} />
                                        <label class="slds-checkbox__label" for={option.label}>
                                          <span class="slds-checkbox_faux"></span>
                                          <span class="slds-form-element__label fontsize">&nbsp;&nbsp;{option.label}</span>
                                        </label>
                                    </div>
                                    <br key={option.label}>
                                </template>
                            </div>                                     
                        </div>
                        <div class="slds-col">
                            <div class="section">
                                <h3 class="title">Sort</h3>
                                <template for:each={sortOptions} for:item="option" for:index="index">
                                    <!-- <div key={option.value}>
                                        <label class="script" >
                                            <span class="fontsize"> {option.label}</span>
                                                <input type="checkbox" value={option.label} checked={option.value} onclick={handleChangeSort}>
                                                <span class="checkmark">
                                            </span>
                                        </label>
                                    </div>
                                    <div class="form-check" key={option.value}>
                                        <input type="checkbox" class="form-check-input" name="hobby" />
                                        <label class="form-check-label">Anime</label>
                                      </div> -->
                                    <div class="slds-checkbox" key={option.label}>
                                        <input type="checkbox" id={option.label} value={option.label} checked={option.value} data-index={index} onclick={handleChangeSort} />
                                        <label class="slds-checkbox__label" for={option.label}>
                                          <span class="slds-checkbox_faux"></span>
                                          <span class="slds-form-element__label fontsize">&nbsp;&nbsp;{option.label}</span>
                                        </label>
                                    </div>
                                    <br key={option.label}>
                                </template>
                        </div>
                    </div>
                    </div> 
                    <!-- <div>
                        <lightning-button 
                            label="Apply" 
                            variant="brand" 
                            onclick={filter}
                            class="slds-align_absolute-center slds-var-p-top_medium "
                            style="margin-bottom: 9px;">
                        </lightning-button>
                    </div> -->
                </div>
            </div>

<!-- end update by santhosh-->
                <div class="slds-p-around_small" if:false={showSpinner}>
                    <template for:each={appointmentList} for:item="appointment">
                        <c-okcp-dashboard-appointment-card key={appointment.id} appointment={appointment}
                            onaction={handleAction}  >
                        </c-okcp-dashboard-appointment-card>
                    </template>
                    <div if:false={hasAppointment} class="slds-align_absolute-center">
                        No data available
                    </div>
                </div>
            </lightning-tab>
            <lightning-tab label="Dependents/Household Members/Clients">
                <template if:true={showSpinner}>
                    <div class="slds-is-relative spinner-container">
                        <lightning-spinner variant="brand"></lightning-spinner>
                    </div>
                </template>
                <div class="slds-p-around_small" if:false={showSpinner}>
                    <template for:each={contactList} for:item="contact">
                        <c-okcp-dependent-card key={contact.id} patient={contact}></c-okcp-dependent-card>
                    </template>
                </div>
            </lightning-tab>
        </lightning-tabset>








        <div class="slds-grid slds-wrap slds-var-m-top_small slds-var-m-bottom_large">
            <template if:true={hasAppointment}>
                <!--<div class="site-header slds-col slds-size_1-of-1" style="margin: unset;" if:true={hasResults}>
                    <div>
                        <p class="address"><strong>A positive result indicates the presence of SARS-CoV2, the virus
                                that
                                causes Coronavirus Disease 2019 (COVID-19). Results of this assay are for use in the
                                presumptive identification of SARS-CoV-2 in respiratory specimens from symptomatic
                                patients.
                                This testing is not specifically validated for detection of SARS-CoV2 virus in
                                asymptomatic patients. False positive and false negative results are possible.
                                False negative results are more likely in patients with a very low viral load or in
                                those with insufficient specimen collection. The possibility of a false negative
                                result
                                should be considered if the patient’s recent exposures or clinical presentation
                                suggest
                                that COVID-19 infection is probable.
                                Results of this test should not be used as the sole basis for diagnosis, treatment,
                                or
                                other patient management decisions.</strong>
                        </p> <br />
                        <p class="address">
                            <strong> This test is performed in compliance with a US Food and Drug Administration
                                (FDA)
                                Emergency Use Authorization (EUA).
                                It has been validated per requirements dictated by the FDA’s Guidance Document
                                (Policy
                                for Diagnostic Tests for Coronavirus Disease-2019 during the Public Health
                                Emergency;
                                Immediately in Effect Guidance for Clinical Laboratories, Commercial Manufacturers,
                                and
                                Food and Drug Administration Staff Document issued March 16, 2020).
                                This test is only authorized for the duration of time that circumstances exist
                                justifying this emergency use authorization under section 564(b)(1) of the Act, 21
                                U.S.C. 360bbb-3(b)(1), unless the authorization is terminated or revoked
                                sooner.</strong>
                        </p><br />
                        <p class="address"><strong>To view FDA required fact sheets about COVID-19 testing, go to <a
                                    href="https://immylabs.com/covidpcr"> https://immylabs.com/covidpcr </a>
                                Test performed at IMMYLabs, CLIA# 37D2180912 2701 Corporate Centre Dr. Norman, OK
                                73069
                            </strong> </p>
                    </div>
                </div>-->

                <template if:true={showConfirmation}>
                    <c-oktccompleteconfirmation type="cancel" appointment-id={appointmentId} onclose={hideModal}
                        from-dashboard={fromDashboard}>
                    </c-oktccompleteconfirmation>
                </template>
                <template if:true={showAppointmentModal}>
                    <c-okpceditappointment appointment-id={appointmentId} site-id={siteId} onclose={hideModal}>
                    </c-okpceditappointment>
                </template>
                <template if:true={showMap}>
                    <c-okpc-open-map map-markers={mapMarkers} onclosesingle={hideModal} title={titleMap}>
                    </c-okpc-open-map>
                </template>
            </template>

            <!--<template if:false={hasResults}>-->
            <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-3">
                <div class="base-db-card"
                    style="text-align: left; box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);margin: 1rem 1rem 1rem 0rem !important;">
                    <div class="content-section">
                        <h2 class="content-section--db-label">NEWS</h2>
                        <div style="overflow:scroll;height: 250px;">
                            <template for:each={newsData} for:item="news">
                                <div class="content-section--cs-card" key={news.id}>
                                    <p class="content-section--db-heading" if:true={news.news_heading__c}>{news.news_heading__c}</p>
                                    <p class="content-section--db-subheading">{news.news_description__c}&nbsp;
                                        <a if:true={news.link__c} target="_blank" style="color: #004E9A" href={news.link__c}>
                                            {news.link_label__c}</a>.
                                    </p>
                                </div>
                            </template>
                        </div>
                        <!-- Removed by Rajat as per Story S-23784 -->
                        <!-- <div class="content-section--cs-card">
                            <p class="content-section--db-heading">Stay Informed</p>
                            <p class="content-section--db-subheading">Get updates about COVID-19 in Vermont, including
                                information about testing
                                and vaccine rollout, at
                                <a target="_blank" style="color: #004E9A" href="https://www.healthvermont.gov/COVID-19"
                                    aria-label="Updates about COVID-19 in Vermont, this will open in a new tab">
                                    https://www.healthvermont.gov/COVID-19</a>.
                            </p>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                <div class="base-db-card"
                    style="text-align: left; box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);margin: 1rem 0rem 1rem 1rem !important;">
                    <div class="content-section">
                        <h2 class="content-section--db-label">Important Links</h2>
                        <div style="overflow:scroll;height: 250px;">
                            <template for:each={urlList} for:item="link">
                                <div class="content-section--cs-card" key={link.DeveloperName}>
                                    <a href={link.URL__c} class="content-section--im-link" target="_blank"
                                        aria-label={link.ariaLabel}>{link.Display_Name__c}
                                        &rarr;</a>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <!--</template>-->
        </div>
    </div>

    <!-- // Appointment Rescheduling -->
    <template if:true={rescheduleAppointment}>
        <c-okpc-schedule-appointment is-covid-portal appointment-id={appointmentId}
            oncloseappointment={hideRescheduleModal} account-id={rescheduleAppointment.accountId}
            event-process={rescheduleAppointment.eventProcess} is-second-dose={isSecondDose}
            old-vaccine-class={rescheduleAppointment.oldVaccineClass} pre-reg-date-time={preRegDateTime}
            event-ids={eventIds} is-rescheudle if:true={showCalendar}>
        </c-okpc-schedule-appointment>
    </template>

    <template if:true={isCancelledWindow}>
        <section onkeydown={handleKeyDown} role="dialog" tabindex="-1" aria-labelledby="modal-heading-01"
            aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={closeCancel}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Appointment Scheduling</h1>
                </header>
                <div class="slds-modal__content reschedule-modal slds-p-around_medium" id="modal-content-id-1">
                    <c-okcp-preference-component if:true={rescheduleAppointment.isTesting} onsubmit={handleSubmitData}
                        showpickfromdashboard={showpick} recordid={appointmentId} event-id={eventId}>
                    </c-okcp-preference-component>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeCancel}>Back</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <!-- <template if:true={showanydosemodal}>
        <c-vt_tvrs_schedule_any_appointment_modal patient-info={patientAppInfo} onreschedule={handleAction} onanydosemodalclose={handleAnyDoseModalToggle}></c-vt_tvrs_schedule_any_appointment_modal>
    </template> -->

    <template if:true={showContactSelectionModal}>
        <c-okpc-patient-select-modal-to-schedule-appointment tabindex="0" onclose={handleContactSelectionModalClose}
            onsubmit={handleContactSelected} patient-list={contactList} event-id={eventId}
            for-vaccination={forVaccination} onanydose={handleAnyDoseModalToggle}>
        </c-okpc-patient-select-modal-to-schedule-appointment>
    </template>
<!-- 
    <template if:true={showContactSelectionModal}>
        <c-okpc-patient-select-modal-to-schedule-appointment tabindex="0" onclose={handleContactSelectionModalClose}
            onsubmit={handleContactSelected} patient-list={contactList} event-id={eventId}
            for-vaccination={forVaccination} onreschedule={handleRescheduleAppointment}>
        </c-okpc-patient-select-modal-to-schedule-appointment>
    </template> -->

    <c-okpc-schedule-appointment appointment-id={appointmentId} oncloseappointment={hideModal}
        account-id={secondDoseData.accountId} event-process="Vaccination" event-ids={secondDoseEventIds}
        is-second-dose={secondDoseData.isSecondDose} old-vaccine-class={secondDoseData.oldVaccineClass}
        if:true={scheduleSecondDoseAppointment}>
    </c-okpc-schedule-appointment>
</template>