:host {
    padding: 2rem 1rem;
    display: block;
}

.site-header {
    padding: 2rem;
    background: white;
    margin: 1rem;
    display: flex;
    box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);
    text-align: left;
    margin-bottom: 0rem !important;
}

.site-name {
    font-size: 1.25rem;
    font-weight: 500;
}

.site-header .address {
    font-size: 14px;
    color: #777;
}

.site-header .icon {
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 0 2px #777;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    background: #eee
}

.icon {
    position: relative;
}

.icon-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-yellow {
    background: #EA8C00 !important;
}

.icon-green {
    background: #54A031 !important;
}

.controls {
    text-align: right;
    right: 2rem;
    position: absolute;
    padding: .2rem 0 0 !important;
}

.adr-link {
    color: #007CC6;
}

.cancelClass{
    padding: 2rem;
    background: white;
    margin: 1rem;
    box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);
    text-align: left;
    margin-bottom: 0rem !important;
}

@media (max-width: 480px) {
    .shrink-mobile {
        padding-left: 0;
        padding-right: 0;
    }

}