<template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <!-- 
    <template if:true={disableInputs}>
        <lightning-record-form record-id={contactId} object-api-name="Contact" fields={fields} columns="2"
            mode="readonly" onsubmit={sub}>
        </lightning-record-form>
    </template> -->
<!-- <template if:false={disableInputs}> -->
<div class="row form-section p-b-md">
<div if:false={isDependentContact} >
    <div class="col-sm-12">
        <h1 class="page-title">Who is this registration for?
        </h1>
        <lightning-radio-group name="registrationFor" label="" value={dataObj.registrationFor} options={registrationValues} onchange={handleInputChange}>
        </lightning-radio-group> 
    </div>
</div>
<div class="col-sm-12">
    <div if:false={ismyself} >
        I attest that the registered individual is a minor and/or I am the legal guardian, thus authorized to view their test result.
        <lightning-input type="checkbox" required name="registrationForAgree" label="I Agree" checked={dataObj.registrationForAgree} value={dataObj.registrationForAgree} onchange={handleInputChange} ></lightning-input>   
    </div>                
</div>
    <!--div class="col-sm-4">
        <lightning-combobox name="Suffix" label="Suffix" value={dataObj.suffix} placeholder="Select Suffix" options={salutations} onchange={handleInputChange}>
        </lightning-combobox>
    </div--> 
    <div class="col-sm-4">
        <lightning-input type="text" label="First Name" pattern="^[A-Za-z]+$" message-when-pattern-mismatch="Please do not use any special characters or space." required name="firstName" onchange={handleInputChange} value={dataObj.firstName}></lightning-input>
    </div>
    <!--div class="col-sm-4">
        <lightning-input type="text" label="Middle Name" name="middleName" pattern="^[A-Za-z]+$" message-when-pattern-mismatch="Please do not use any special characters or space."
        onchange={handleInputChange} value={dataObj.middleName}></lightning-input>
    </div-->
    <div class="col-sm-4">
        <lightning-input type="text" label="Last Name" name="lastName" pattern="^[A-Za-z ]+$" message-when-pattern-mismatch="Please do not use any special characters" required onchange={handleInputChange} value={dataObj.lastName}></lightning-input>
    </div>
    <div class="col-sm-4">
        <lightning-input type="email" label="E-mail" name="email" required onchange={handleInputChange} value={dataObj.email}>
        </lightning-input>
    </div>
    <div class="col-sm-4">
        <lightning-input type="tel" label="Phone" name="phone" pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$" message-when-pattern-mismatch="provide a valid phone number" onchange={handleInputChange} required value={dataObj.phone} onkeyup={handleInputChange}
        onblur={handleInputChange} maxlength="14">
        </lightning-input>
    </div>
    <div class="col-sm-4">
        <lightning-combobox name="phoneType" label="Phone Type" value={dataObj.phoneType} required options={phoneTypeOptions} onchange={handleInputChange}>
        </lightning-combobox>
    </div>    
    <div class="col-sm-12  slds-p-bottom_small">
        <lightning-input type="checkbox" label="Are you above 18 years" name="eighteenPlus" checked={dataObj.eighteenPlus} required onchange={handleInputChange}>
        </lightning-input>
    </div>
    <label>                        
        <span class="slds-form-element__label col-sm-12  slds-p-bottom_small">
            If no, your parent or guardian must sign the consent wavier at the end of the registration process.
        </span>
    </label>
    <div class="col-sm-12 slds-p-top_small">
        <lightning-combobox name="testResultCopy" label="How do you want to receive your test results?" value={dataObj.testResultCopy} placeholder="(E-Mail / USPS Letter/ Phone Call)" options={resultCopyOptions} onchange={handleInputChange} field-level-help = "Anyone who tests positive will receive a phone call from the Department of Health, regardless of selection below.">
        </lightning-combobox>
    </div>  
   <div class="col-sm-6 slds-p-top_small">
        <!--lightning-input type="checkbox" label="Receive communication via Email" name="emailCheckbox" checked={dataObj.emailCheckbox} onchange={handleInputChange}>
        </lightning-input-->
        <lightning-combobox name="emailCheckbox" label="Receive communication via Email" value={dataObj.emailCheckbox} options={onlyYesNoOptions} onchange={handleInputChange}>
        </lightning-combobox>
    </div>
    <div class="col-sm-6 slds-p-top_small">
        <!--lightning-input type="checkbox" label="Receive communication via SMS" name="smsCheckbox" checked={dataObj.smsCheckbox} onchange={handleInputChange}>
        </lightning-input-->
        <lightning-combobox name="smsCheckbox" label="Receive communication via SMS" value={dataObj.smsCheckbox} options={onlyYesNoOptions} onchange={handleInputChange}>
        </lightning-combobox>
    </div>
    <div class="col-sm-12  slds-p-bottom_small" if:true={selectOneCommunicationError}>
        <span style="color:red;">Please Select atleast one way to recieve notifications.</span>
    </div>    
    <div class="col-sm-6">
        <lightning-input type="date" name="dob" required style="min-width: 230px" max={todayDate} label="DOB" onchange={handleInputChange} value={dataObj.dob}>
        </lightning-input> 
    </div>
    <div class="col-sm-6">
        <label for="input-23" class="slds-form-element__label slds-no-flex">Age</label>
        <div class="slds-form-element__control slds-grow">
            <output id="input-23" name="age" class="slds-input">{age}</output>
        </div>
    </div>
    <!--div class="col-sm-4">
        <lightning-combobox name="gender" label="Gender" value={dataObj.gender} placeholder="Gender" options={genderOptions} onchange={handleInputChange}>
        </lightning-combobox>
    </div-->
    <!--div class="col-sm-4">
        <lightning-input type="text" label="State of Birth" pattern="^[A-Za-z ]+$" message-when-pattern-mismatch="Please do not use any special characters."  name="StateofBirth" onchange={handleInputChange} value={dataObj.stateofBirth}></lightning-input>
    </div-->
    <!--div class="col-sm-4">
        <lightning-input type="text" label="Country of Birth" pattern="^[A-Za-z ]+$" message-when-pattern-mismatch="Please do not use any special characters."  name="CountryofBirth" onchange={handleInputChange} value={dataObj.countryofBirth}></lightning-input>
    </div-->
    <!--div class="col-sm-4">
        <lightning-combobox name="PrimaryLanguage" label="Primary Language" value={dataObj.primaryLanguage} placeholder="Select Language" options={LangOptions} onchange={handleInputChange}>
        </lightning-combobox>
    </div-->
    <!--div class="col-sm-4">
        <lightning-combobox name="Race" label="Race" value={dataObj.race} placeholder="Select race" options={raceOptions} onchange={handleInputChange}>
        </lightning-combobox>
    </div-->
    <!--div class="col-sm-4">
        <lightning-combobox name="MaritialStatus" label="Maritial Status" value={dataObj.maritialStatus} placeholder="Select Maritial Status" options={maritialStatusOptions} onchange={handleInputChange}>
        </lightning-combobox>
    </div-->
    <!--div class="col-sm-4">
        <lightning-combobox name="Ethnicity" label="Ethinicity : Hispanic Origin" value={dataObj.ethnicity} placeholder="Select Ethinicity" options={onlyYesNoOptions} onchange={handleInputChange}>
        </lightning-combobox>
    </div-->

</div>

<div class="section-header">
    <h3 class="section-title">Mailing Address</h3>
</div>
<div class="row form-section p-b-md">
    <div class="col-sm-12">
        <lightning-input type="text" label="Street Address" required name="address1" onchange={handleInputChange} value={dataObj.address1}>
        </lightning-input>
    </div>
    <!--div class="col-sm-12">
        <lightning-input type="text" label="Apt/Suite" name="address2" onchange={handleInputChange} value={dataObj.address2}>
        </lightning-input>
    </div-->
    <div class="col-sm-4">
        <lightning-input type="text" label="City" required name="city" 
        pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$" message-when-pattern-mismatch="Please do not use any special characters." onchange={handleInputChange} value={dataObj.city}>
        </lightning-input>
    </div>
    <div class="col-sm-4">
        <!-- <lightning-input type="text" label="State" name="state" 
                onchange={handleInputChange} value={dataObj.state}>
            </lightning-input> -->
        <lightning-combobox name="state" label="State" value={dataObj.state} placeholder="Select State" options={stateOptions} onchange={handleInputChange}>
        </lightning-combobox>
    </div>
    <div class="col-sm-4">
        <lightning-input type="text" label="Zip" name="zip" maxlength="5" minlength="5" pattern="^[0-9]*$" required onchange={handleInputChange} value={dataObj.zip}
        message-when-pattern-mismatch="Please use a valid 5 digits zip code.">
        </lightning-input>
    </div>
</div>

</template>