:host {
    padding: 1rem;
    display: block;
}

.site-header {
    padding: 2rem;
    background: white;
    margin: 1rem;
    display: flex;
    box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);
    text-align: left;
    margin-bottom: 0rem !important;
}

.site-name {
    font-size: 1.25rem;
    font-weight: 500;
}

.site-header .address {
    font-size: 14px;
    color: #777;
}

.site-header .icon {
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 0 2px #777;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    background: #eee;
}

.icon {
    position: relative;
}

.icon-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.icon-yellow {
    background: #ea8c00 !important;
}

.icon-green {
    background: #54a031 !important;
}

.controls {
    text-align: right;
    right: 2rem;
    position: absolute;
    padding: 0.2rem 0 0 !important;
}

.adr-link {
    color: #007cc6;
}

.slds-card {
    border-color: white;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.11);
}

.slds-modal__container {
    max-width: 90rem !important;
    width: 70% !important;
}

.spinner-container {
    height: 100px;
}

@media only screen and (max-width: 767px) {
    .shrink-mobile {
        padding: 0;
    }
}

/* Added by rajat as per story S-23784 */
.carousel-container{
   margin: 0 auto;
}

/*Added by santhosh */
.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background {
    border-color: blue !important;
    background-color: blue !important;
}

.k-checkbox {
    background: blue;
  }

  /*Checked checkbox*/
  .k-checkbox:checked {
    background: blue;
    color: white;
  }

  .script {
            display: block;
            position: relative;
            padding-left: 27px;
            /* margin-bottom: 15px; */
            cursor: pointer;
            height : 23px;
            font-size: 20px;
        }
          
        /* Hide the default checkbox */
        input[type=checkbox] {
            visibility: hidden;
        }
          
        .geekmark {
            position: absolute;
            top: 14px;
            left: 0;
            height: 10px;
            width: 10px;
            background-color: #6060a7;
        }
        .script input:active ~ .geekmark {
            background-color: #6060a7;
        }
          
       
        .script input:checked ~ .geekmark {
            background-color: #6060a7;
        }
        .geekmark:after {
            content: "";
            position: absolute;
            display: none;
        }
          
        .script input:checked ~ .geekmark:after {
            display: block;
        }
          
        .script .geekmark:after {
            left: 2px;
            bottom: 2px;
            width: 6px;
            height: 6px;
            border: solid white;
            background-color: white;
        }

        .fontsize {
            font-size: 13px;
        }
        .title {
            font-size: 15px;
            color: #356595;
            text-decoration: underline;
        }
        .slds-modal__content {
            /* background-color: #f7f1f1 !important; */
            /* width: 40% !important; */
             width: 100% !important; 
            height: auto !important;
            /* border : 2px solid rgb(42, 42, 92);*/
            overflow: hidden; 
        }

        :host {
            --sds-c-button-brand-color-background: #356595;
            --sds-c-button-brand-color-border: #356595;
            --sds-c-button-brand-radius-border: 0px !important;
            /* Other CSS custom properties here */
          }

          
          .section{
            margin-top: 10px;
            padding-left: 27px !important;
          }
          .card-border {
            border: 1px solid #cdcbcb;
          }


.lightning-pill{
    border-radius: 10px;
    color:white;
    background-color: green;
}