<!-- sldsValidatorIgnore -->
<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 01-21-2022
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-24-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div class="container shrink-mobile">
        <h1 class="slds-assistive-text">User Dashboard</h1>
        <section class="slds-clearfix slds-var-m-bottom_small">
            <div class="slds-float_right schedule_options">
                <lightning-button class="slds-var-m-right_small" label="Schedule Vaccine Appointment"
                    name="scheduleVaccinationNew" variant="brand" onclick={handleClick}
                    if:true={Enable_Vaccination_Button_1st_Dose}></lightning-button>

                <lightning-button class="slds-var-m-right_small" label="Schedule Testing Appointment"
                    name="scheduleAppointment" variant="brand" onclick={handleClick}></lightning-button>
                <lightning-button class="slds-left_small" label="Add Dependent/Household Member/Client"
                    name="addDependent" onclick={handleClick}>
                </lightning-button>
            </div>
        </section>
        </br>
        <!-- Added by rajat as per story S-23784-->

        <template if:true={showSpinnerCarousel}>
            <div class="slds-is-relative spinner-container">
                <lightning-spinner variant="brand"></lightning-spinner>
            </div>
        </template>
        <article class="slds-card" if:true={checkBannerInfoExist}>
            <div class="slds-card__body slds-card__body_inner">
                <template if:false={showSpinnerCarousel}>
                    <div class="carousel-container">
                        <c-vt_tvrs_custom-carousel items={items} options={options}></c-vt_tvrs_custom-carousel>
                    </div>
                </template>
            </div>
        </article>
        <!-- End of story -->
    </br>
    <template if:true={showFilterModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container appointment-filter-modal">
            <header class="slds-modal__header ">
            <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" onclick={handleFilterModalToggle} title="Close">
            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
            <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
            </svg>
            <span class="slds-assistive-text">Close</span>
            </button>
                <h2 id="modal-heading-07" class="slds-modal__title slds-hyphenate">APPOINTMENT FILTER</h2>
            </header>
            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-5"> 
                <!---Added by Santhosh-->
                <div class="slds-var-p-around_small ">    
                    <div class="slds-var-m-top_small">
                    <div class="slds-grid slds-gutters slds-var-p-around_small">
                        <div class="slds-col">    
                            <div class="section">
                                <h3 class="title">Status</h3>
                                <template for:each={statusOptions} for:item="option" for:index="index">
                                    <!-- <div class="slds-checkbox" key={option.label}>
                                        <label class="script" >
                                            <span class="fontsize"> {option.label}</span>
                                                <input type="checkbox" value={option.label} checked={option.value} onclick={handleChangeStatus}>
                                                <span class="geekmark">
                                            </span>
                                        </label>
                                    </div> -->
                                     <div class={option.class} key={option.label}> 
                                    <!-- <div class="slds-checkbox active" key={option.label}>
                                         -->
                                        <input type="checkbox" id={option.label} value={option.label} checked={option.value} data-type="status" data-index={index} onclick={handleChangeStatus} />
                                        <label class="slds-checkbox__label" for={option.label}>
                                          <span class="slds-checkbox_faux"></span>
                                          <span class="slds-form-element__label fontsize">&nbsp;&nbsp;{option.label}</span>
                                        </label>
                                    </div>
                                    <br key={option.label}>
                                </template>
                            </div>
                            </div> 
                            <div class="slds-col">    
                                <div class="section">
                                    <h3 class="title">Type</h3>
                                    <template for:each={typeOptions} for:item="option" for:index="index">
                                        <!-- <div key={option.value}>
                                            <label class="script" >
                                                <span class="fontsize"> {option.label}</span>
                                                    <input type="checkbox" value={option.label} checked={option.value} onclick={handleChangeType}>
                                                    <span class="geekmark">
                                                </span>
                                            </label>
                                        </div> -->

                                        <div class={option.class} key={option.value}>
                                            <input type="checkbox" id={option.label} value={option.label} checked={option.value} data-type="type" data-index={index} onclick={handleChangeType}/>
                                            <label class="slds-checkbox__label" for={option.label}>
                                              <span class="slds-checkbox_faux"></span>
                                              <span class="slds-form-element__label fontsize">&nbsp;&nbsp;{option.label}</span>
                                            </label>
                                        </div>
                                        <br key={option.label}>
                                    </template>
                                </div>
                            </div>
                        <div class="slds-col">    
                            <div class="section">
                                <h3 class="title">Range</h3>
                                <template for:each={rangeOptions} for:item="option" for:index="index">
                                    <div class={option.class} key={option.label}>
                                        <input type="checkbox" id={option.label} value={option.label} checked={option.value} data-type="range" data-index={index} onclick={handleChangeRange} />
                                        <label class="slds-checkbox__label" for={option.label}>
                                          <span class="slds-checkbox_faux"></span>
                                          <span class="slds-form-element__label fontsize">&nbsp;&nbsp;{option.label}</span>
                                        </label>
                                    </div>
                                    <br key={option.label}>
                                </template>
                            </div>                                     
                        </div>
                        <div class="slds-col">
                            <div class="section">
                                <h3 class="title">Sort</h3>
                                <template for:each={sortOptions} for:item="option" for:index="index">
                                    <div class={option.class} key={option.label}>
                                        <input type="checkbox" id={option.label} value={option.label} checked={option.value} data-type="sort" data-index={index} onclick={handleChangeSort} />
                                        <label class="slds-checkbox__label" for={option.label}>
                                          <span class="slds-checkbox_faux"></span>
                                          <span class="slds-form-element__label fontsize">&nbsp;&nbsp;{option.label}</span>
                                        </label>
                                    </div>
                                    <br key={option.label}>
                                </template>
                        </div>
                    </div>
                    </div> 
                </div>
                </div>
                <!-- end update by santhosh-->
            </div>
            <footer class="slds-modal__footer slds-modal__footer_directional">
                <button class="slds-button slds-button_neutral" onclick={handleFilterModalToggle}>Cancel </button>
                <button class="slds-button slds-button_neutral" onclick={handleApplyFilters}> Apply Filter</button>
            </footer>
            </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
    </template>



        <!-- <div><p>If you would like to change your personal information, including preference on how the Department of Health contacts you, please edit
            your user profile by clicking Dependents, then Update.</p></div></br> -->
        
        <lightning-tabset>
            <lightning-tab label="Appointments">
                <template if:true={showSpinner}>
                    <div class="slds-is-relative spinner-container">
                        <lightning-spinner variant="brand"></lightning-spinner>
                    </div>
                </template>
                <div class="slds-p-around_small" if:false={showSpinner}>
                    <div class="slds-grid slds-grid_reverse appointment-filter">
                        <!-- Adding Filter Button -->
                        <div class="slds-col slds-size_2-of-12">
                            <lightning-button onclick={handleFilterModalToggle} icon-name="utility:filterList" label="Add Filter"></lightning-button>
                        </div>
                        <!-- Adding Pills  -->
                        <div class="slds-col slds-clearfix slds-grid_vertical-align-center slds-p-around_xx-small filter-pills">
                            
                            <template for:each={statusAndTypePills} for:item="pillItem" for:index="index">
                                <div key={pillItem.label} class="slds-float_left slds-p-around_xx-small">
                                <span class="slds-pill">
                                   <div class="slds-pill__label">
                                        <span> {pillItem.typeOfFilter} : </span><span class="bold-text">{pillItem.originalLabel}</span> 
                                    </div>
                                   <button 
                                   class="slds-button slds-button_icon slds-button_icon slds-pill__remove" 
                                   data-type={pillItem.typeOfFilter} 
                                   data-label={pillItem.originalLabel}
                                   name={index} title="Remove" onclick={handlePillFilterRemove}>
                                     <svg class="slds-button__icon" aria-hidden="true">
                                       <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                     </svg>
                                     <span class="slds-assistive-text">Remove</span>
                                   </button>
                               </span>
                                </div>    
                            </template>
                            <template for:each={rangeAndSortPills} for:item="pillItem" for:index="index">
                                <div key={pillItem.label} class="slds-float_right slds-p-around_xx-small">
                                    <span class="slds-pill">
                                        <div class="slds-pill__label">
                                            <span> {pillItem.typeOfFilter} : </span>
                                            <span class="bold-text">{pillItem.originalLabel}</span> 
                                        </div>
                                        <button class="slds-button slds-button_icon slds-button_icon slds-pill__remove" 
                                        data-type={pillItem.typeOfFilter} 
                                        data-label={pillItem.originalLabel}
                                        title="Remove" onclick={handlePillFilterRemove}>
                                        <svg class="slds-button__icon" aria-hidden="true">
                                            <use xlink:href="/apexpages/slds/latest/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                                        </svg>
                                        <span class="slds-assistive-text">Remove</span>
                                        </button>
                                    </span>
                                </div>    
                            </template>
                        </div>
                      </div>
                    <template for:each={appointmentList} for:item="appointment">
                        <c-okcp-dashboard-appointment-card key={appointment.id} appointment={appointment}
                            onaction={handleAction}  >
                        </c-okcp-dashboard-appointment-card>
                    </template>
                    <div if:false={hasAppointment} class="slds-align_absolute-center">
                        No data available
                    </div>
                </div>
            </lightning-tab>
            <lightning-tab label="Dependents/Household Members/Clients">
                <template if:true={showSpinner}>
                    <div class="slds-is-relative spinner-container">
                        <lightning-spinner variant="brand"></lightning-spinner>
                    </div>
                </template>
                <div class="slds-p-around_small" if:false={showSpinner}>
                    <template for:each={contactList} for:item="contact">
                        <c-okcp-dependent-card key={contact.id} patient={contact}></c-okcp-dependent-card>
                    </template>
                </div>
            </lightning-tab>
        </lightning-tabset>

        <div class="slds-grid slds-wrap slds-var-m-top_small slds-var-m-bottom_large dashboard-footer-section">
            <template if:true={hasAppointment}>
                <template if:true={showConfirmation}>
                    <c-oktccompleteconfirmation type="cancel" appointment-id={appointmentId} onclose={hideModal}
                        from-dashboard={fromDashboard}>
                    </c-oktccompleteconfirmation>
                </template>
                <template if:true={showAppointmentModal}>
                    <c-okpceditappointment appointment-id={appointmentId} site-id={siteId} onclose={hideModal}>
                    </c-okpceditappointment>
                </template>
                <template if:true={showMap}>
                    <c-okpc-open-map map-markers={mapMarkers} onclosesingle={hideModal} title={titleMap}>
                    </c-okpc-open-map>
                </template>
            </template>

            <div class="slds-col slds-size_1-of-1 slds-large-size_2-of-3">
                <div class="base-db-card"
                    style="text-align: left; box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);margin: 1rem 1rem 1rem 1rem !important;">
                    <div class="content-section">
                        <h2 class="content-section--db-label">NEWS</h2>
                        <div style="overflow:scroll;height: 250px;">
                            <template for:each={newsData} for:item="news">
                                <div class="content-section--cs-card" key={news.id}>
                                    <lightning-formatted-rich-text style="word-break:break-word;" class="content-section--db-subheading" value={news.message}></lightning-formatted-rich-text>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
                <div class="base-db-card"
                    style="text-align: left; box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);margin: 1rem 1rem 1rem 1rem !important;">
                    <div class="content-section">
                        <h2 class="content-section--db-label">Important Links</h2>
                        <div style="overflow:scroll;height: 250px;">
                            <template for:each={urlList} for:item="link">
                                <div class="content-section--cs-card" key={link.id}>
                                    <lightning-formatted-rich-text  style="word-break:break-word;" class="content-section--im-link" value={link.message}></lightning-formatted-rich-text>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- // Appointment Rescheduling -->
    <template if:true={rescheduleAppointment}>
        <c-okpc-schedule-appointment is-covid-portal appointment-id={appointmentId}
            oncloseappointment={hideRescheduleModal} account-id={rescheduleAppointment.accountId}
            event-process={rescheduleAppointment.eventProcess} is-second-dose={isSecondDose}
            old-vaccine-class={rescheduleAppointment.oldVaccineClass} pre-reg-date-time={preRegDateTime}
            event-ids={eventIds} is-rescheudle if:true={showCalendar}>
        </c-okpc-schedule-appointment>
    </template>

    <template if:true={isCancelledWindow}>
        <section onkeydown={handleKeyDown} role="dialog" tabindex="-1" aria-labelledby="modal-heading-01"
            aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={closeCancel}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Appointment Scheduling</h1>
                </header>
                <div class="slds-modal__content reschedule-modal slds-p-around_medium" id="modal-content-id-1">
                    <c-okcp-preference-component if:true={rescheduleAppointment.isTesting} onsubmit={handleSubmitData}
                        showpickfromdashboard={showpick} recordid={appointmentId} event-id={eventId}>
                    </c-okcp-preference-component>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeCancel}>Back</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={showContactSelectionModal}>
        <c-okpc-patient-select-modal-to-schedule-appointment tabindex="0" onclose={handleContactSelectionModalClose}
            onsubmit={handleContactSelected} patient-list={contactList} event-id={eventId}
            for-vaccination={forVaccination} >
        </c-okpc-patient-select-modal-to-schedule-appointment>
    </template>

    <c-okpc-schedule-appointment appointment-id={appointmentId} oncloseappointment={hideModal}
        account-id={secondDoseData.accountId} event-process="Vaccination" event-ids={secondDoseEventIds}
        is-second-dose={secondDoseData.isSecondDose} old-vaccine-class={secondDoseData.oldVaccineClass}
        if:true={scheduleSecondDoseAppointment}>
    </c-okpc-schedule-appointment>
</template>