<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 12-31-2021
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-24-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <template if:true={showPageHeader}>
        <span class="sr-only pageTitle" tabindex="0">Vaccine Questions</span>
    </template>
    <c-lwc-custom-toast message={customErrorMessage}></c-lwc-custom-toast>
    <div class="page-header" role="alert">
        <h1 class="page-title page-header-title slds-has-focus">Vaccination Questions</h1>
        <c-okpc-help-text
            help-text="Please answer the following questions for the person attending the vaccination event.">
        </c-okpc-help-text>
    </div>

    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <div class="check-block">
        <div class="slds-form-element slds-var-p-bottom_medium">
            <template if:true={showError}>
                <div class="error">{errorMessage}</div>
            </template>
        </div>
        <div class="slds-form-element slds-grow slds-var-m-top_medium">
            <div class="slds-form-element__control slds-grow" if:true={isVermontState}>
                <!-- <template if:true={outOfStateOptions}> -->
                <lightning-combobox autocomplete="off" name="VaccineQuestion_OutOfState__c"
                    label="We see that your home address is not located in the state of Vermont. Which of the following applies to you?"
                    value={obj.VaccineQuestion_OutOfState__c} options={outOfStateOptions} required
                    onchange={handleIputChange}></lightning-combobox>
                <!-- </template> -->
                <br />
                <div class="slds-box slds-grid slds-var-m-bottom_large" style="background-color: #f4f6f9;"
                    aria-live="assistive" role="alert" if:true={outOfStateInfo}>
                    <lightning-icon variant="error" title="Disqualified" icon-name="utility:error" size="small"
                        alternative-text="Warning"></lightning-icon>
                    <div class="slds-col slds-align-middle">
                        <div style="color: red; font-weight: bold; font-size: 18px;">Not Qualified</div>
                        <p>
                            Should you have questions or believe you are eligible for another reason, please feel free
                            to contact the Vermont Department of Health COVID-19 Call Center at (802) 863-7240.
                        </p>
                    </div>
                </div>
            </div>
            <div class="slds-form-element__control slds-grow" if:true={showDoseNum}>
                <!-- <template if:true={doseNumOptions}> -->
                <lightning-combobox autocomplete="off" name="VaccineQuestion_DoseNum__c"
                    label="Which Dose of Vaccine are you trying to schedule?" value={obj.VaccineQuestion_DoseNum__c}
                    options={doseNumOptions} required onchange={handleIputChange}></lightning-combobox>
                <!-- </template> -->
                <br />
                <div class="slds-box slds-grid slds-var-m-bottom_large" style="background-color: #f4f6f9;"
                    aria-live="assertive" role="alert" if:true={doseNumInfo}>
                    <lightning-icon icon-name="utility:info" size="small" title="Information"
                        if:true={doseNumFirstInfo}></lightning-icon>
                    <template if:true={doseNumSecondInfo}>
                        <lightning-icon icon-name="utility:info" if:true={isSecondDoseAvailable} size="small"
                            title="Information"></lightning-icon>
                        <lightning-icon icon-name="utility:error" variant="error" if:false={isSecondDoseAvailable}
                            size="small" alternative-text="Information"></lightning-icon>
                    </template>
                    <div class="slds-col slds-align-middle">
                        <p if:true={doseNumFirstInfo}>
                            Your Next Dose vaccination(if Required) will be scheduled after the completion of your
                            initial vaccination.
                        </p>
                        <div if:true={doseNumSecondInfo}>
                            <p style="color: red; font-weight: bold; font-size: 18px;" if:false={isSecondDoseAvailable}>
                                Not Qualified</p>
                            Please contact the Vermont Department of Health COVID-19 Call Center at (802) 863-7240 to
                            schedule your Next Dose Vaccination.
                        </div>
                    </div>
                </div>
            </div>
            <div class="slds-form-element__control slds-grow slds-var-m-top_medium" if:true={showAllergy}>
                <!-- <template if:true={allergyOptions3a}> -->
                <lightning-combobox autocomplete="off" name="VaccineQuestion_Allergy3a__c"
                    label="Have you had a severe allergic reaction (e.g., anaphylaxis) after a previous dose of the Pfizer or Moderna COVID-19 vaccine or any of its components?"
                    value={obj.VaccineQuestion_Allergy3a__c} options={allergyOptions3a} required
                    onchange={handleIputChange}></lightning-combobox>
                <!-- </template> -->
                <br />
                <div class="slds-box slds-grid slds-var-m-bottom_large" style="background-color: #f4f6f9;" role="alert"
                    aria-live="assertive" if:true={allergyInfo3a}>
                    <lightning-icon variant="error" title="Disqualified" icon-name="utility:error" size="small"
                        alternative-text="Information">
                    </lightning-icon>
                    <div class="slds-col slds-align-middle">
                        <div style="color: red; font-weight: bold; font-size: 18px;">Not Qualified</div>
                        <p>
                            You should not get another dose of the Pfizer or Moderna COVID-19 vaccine.
                        </p>
                    </div>
                </div>
                
            </div>
            <div class="slds-form-element__control slds-grow slds-var-m-top_medium" if:true={show3b}>
                <!-- <template if:true={allergyOptions3b}> -->
                <lightning-combobox autocomplete="off" name="VaccineQuestion_Allergy3b__c"
                    label="Have you had an immediate allergic reaction to any other vaccine or injectable therapy?"
                    value={obj.VaccineQuestion_Allergy3b__c} options={allergyOptions3b} required
                    onchange={handleIputChange}></lightning-combobox>
                <!-- </template> -->
                <br />
                <div class="slds-box slds-grid slds-var-m-bottom_large" style="background-color: #f4f6f9;"
                    if:true={allergyInfo3b} aria-live="assertive" role="alert">
                    <template if:true={allergyInfo3b}>
                        <lightning-icon icon-name="utility:info" size="small" title="Information">
                        </lightning-icon>
                        <div class="slds-col slds-align-middle">
                            <p>
                                Please ask your primary care provider to refer you to an allergy/immunology specialist
                                who can determine if you can safely receive the vaccine.
                            </p>
                        </div>
                    </template>
                </div>
            </div>

            <div class="slds-form-element__control slds-grow slds-var-m-top_medium" if:true={show3c}>
                <!-- <template if:true={allergyOptions3c}> -->
                <lightning-combobox autocomplete="off" name="VaccineQuestion_Allergy3c__c"
                    label="Have you been told by an allergy/immunology specialist that you can safely receive an mRNA COVID-19 vaccine?"
                    value={obj.VaccineQuestion_Allergy3c__c} options={allergyOptions3c} required
                    onchange={handleIputChange}></lightning-combobox>
                <!-- </template> -->
                <br />
                <div class="slds-box slds-grid slds-var-m-bottom_large" style="background-color: #f4f6f9;"
                    aria-live="assertive" role="alert" if:true={allergyInfo3c}>
                    <lightning-icon variant="error" title="Disqualified" icon-name="utility:error" size="small"
                        alternative-text="Information">
                    </lightning-icon>
                    <div class="slds-col slds-align-middle">
                        <div style="color: red; font-weight: bold; font-size: 18px;">Not Qualified</div>
                        <p>
                            You should not get a Pfizer or Moderna COVID-19 vaccine until an allergy/immunology
                            specialist determines that you can safely receive the vaccine. <br /><br />

                            Please ask your primary care provider to refer you to an allergy/immunology specialist who
                            can determine if you can safely receive the vaccine
                        </p>
                    </div>
                </div>
            </div>

            <div class="slds-form-element__control slds-grow slds-var-m-top_medium" if:true={showCovid19}>

                <lightning-combobox autocomplete="off" name="VaccineQuestion_Covid19__c"
                    label="Are you currently sick with COVID-19 or still in your isolation period following a COVID-19 infection?"
                    value={obj.VaccineQuestion_Covid19__c} options={covid19Options} required onchange={handleIputChange}>
                </lightning-combobox>

                <br />
                <div class="slds-box slds-grid slds-var-m-bottom_large" style="background-color: #f4f6f9;"
                    aria-live="assertive" role="alert" if:true={covid19Info}>
                    <lightning-icon variant="error" title="Disqualified" icon-name="utility:error" size="small"
                        alternative-text="Information">
                    </lightning-icon>
                    <div class="slds-col slds-align-middle">
                        <div style="color: red; font-weight: bold; font-size: 18px;">Not Qualified</div>
                        <p>
                            If you are sick with COVID-19 or still in your isolation period following a COVID-19
                            infection, you should postpone getting vaccinated until your symptoms have gone away (if you
                            had symptoms) and can discontinue isolation.
                        </p>
                    </div>
                </div>
            </div>
            <div class="slds-form-element__control slds-grow slds-var-m-top_medium" if:true={showFourteenDay}>
                <!-- <template if:true={fourteenDayOptions}> -->
                <lightning-combobox autocomplete="off" name="VaccineQuestion_14Day__c"
                    label="Have you had a vaccine in the past 14 days or is a vaccination scheduled in the next 8 weeks?"
                    value={obj.VaccineQuestion_14Day__c} options={fourteenDayOptions} required onchange={handleIputChange}>
                </lightning-combobox>
                <!-- </template> -->
                <br />
                <div class="slds-box slds-grid slds-var-m-bottom_large" style="background-color: #f4f6f9;"
                    if:true={fourteenDayInfo} aria-live="assertive" role="alert">
                    <lightning-icon icon-name="utility:info" size="small" title="Information">
                    </lightning-icon>
                    <div class="slds-col slds-align-middle">
                        <p>
                            Given the lack of data on the safety and efficacy of mRNA COVID-19 vaccines administered at
                            the same time as other vaccines,
                            the COVID19 vaccine series should routinely be administered alone, with a minimum interval
                            of 14 days before or after administration
                            with any other vaccine. However, mRNA COVID-19 and other vaccines may be administered within
                            a shorter period in situations where
                            the benefits of vaccination are deemed to outweigh the potential unknown risks of vaccine
                            coadministration.
                            If mRNA COVID-19 vaccines are administered within 14 days of another vaccine, doses do not
                            need to be repeated for either vaccine.
                        </p>
                    </div>
                </div>
            </div>
            <div class="slds-form-element__control slds-grow slds-var-m-top_medium" if:true={showAntibodyTreatment}>
                <!-- <template if:true={antibodyTreatmentOptions}> -->
                <lightning-combobox autocomplete="off" name="VaccineQuestion_AntibodyTreatment90__c"
                    label="Have you received passive antibody therapy as treatment for COVID-19 in the past 90 days?"
                    value={obj.VaccineQuestion_AntibodyTreatment90__c} options={antibodyTreatmentOptions} required
                    onchange={handleIputChange}>
                </lightning-combobox>
                <!-- </template> -->
                <br />
                <div class="slds-box slds-grid slds-var-m-bottom_large" style="background-color: #f4f6f9;"
                    aria-live="assertive" role="alert" if:true={antibodyTreatmentInfo}>
                    <lightning-icon variant="error" title="Disqualified" icon-name="utility:error" size="small"
                        alternative-text="Information">
                    </lightning-icon>
                    <div class="slds-col slds-align-middle">
                        <div style="color: red; font-weight: bold; font-size: 18px;">Not Qualified</div>
                        <p>
                            Vaccination should be postponed for at least 90 days to avoid interference of the antibody
                            treatment with any immune response caused by the vaccines.
                        </p>
                    </div>
                </div>
            </div>
            <div class="slds-form-element__control slds-grow slds-var-m-top_medium" if:true={showImmuneSystem}>
                <!-- <template if:true={immuneSystemOptions}> -->
                <lightning-combobox autocomplete="off" name="VaccineQuestion_ImmuneSystem__c"
                    label="Do you have a weakened immune system caused by something such as HIV infection or cancer or do you take immunosuppressive drugs or therapies?"
                    value={obj.VaccineQuestion_ImmuneSystem__c} options={immuneSystemOptions} required
                    onchange={handleIputChange}></lightning-combobox>
                <!-- </template> -->
                <br />
                <div class="slds-box slds-grid slds-var-m-bottom_large" style="background-color: #f4f6f9;"
                    aria-live="assertive" role="alert" if:true={immuneSystemInfo}>
                    <lightning-icon icon-name="utility:info" size="small" title="Information">
                    </lightning-icon>
                    <div class="slds-col slds-align-middle">
                        <p>
                            If you have HIV infection or other immunocompromising conditions, or take immunosuppressive
                            medications or therapies, you may be at greater risk for severe COVID-19 illness. mRNA
                            COVID-19 vaccines (Pfizer or Moderna) may be administered to people with underlying medical
                            conditions who have no contraindications to vaccination.</br></br>

                            <b>Before deciding to get vaccinated, talk with your health care provider about the risks
                                and benefits to you.</b> This includes the unknown vaccine safety profile and
                            effectiveness in immunocompromised populations, as well as the potential for reduced immune
                            responses, and the need to continue to follow all current guidance to protect yourself
                            against COVID-19: wearing a mask, physical distancing, and washing hands
                            frequently.</br></br>

                            Revaccination is not recommended after immune competence is regained in people who received
                            mRNA COVID-19 vaccines during chemotherapy or treatment with other immunosuppressive drugs.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="slds-form-element__control slds-grow slds-var-m-top_medium" if:true={showBreastFeeding}>
                <!-- <template if:true={breastFeedingOptions}> -->
                <lightning-combobox autocomplete="off" name="VaccineQuestion_Breastfeeding__c"
                    label="Are you lactating or breastfeeding?" value={obj.VaccineQuestion_Breastfeeding__c}
                    options={breastFeedingOptions} required onchange={handleIputChange}>
                </lightning-combobox>
                <!-- </template> -->
                <br />
                <div class="slds-box slds-grid slds-var-m-bottom_large" style="background-color: #f4f6f9;"
                    aria-live="assertive" role="alert" if:true={breastFeedingInfo}>
                    <lightning-icon icon-name="utility:info" size="small" title="Information">
                    </lightning-icon>
                    <div class="slds-col slds-align-middle">
                        <p>
                            There is no data on the safety of COVID-19 vaccines in lactating people or on the effects of
                            mRNA vaccines (Pfizer and Moderna) on the breastmilk-fed infant, or on milk
                            production/excretion. The mRNA vaccines are not thought to be a risk to the breastmilk-fed
                            infant. </br></br>

                            Getting vaccinated is a personal choice for people who are lactating. People who are
                            breastfeeding or lactating and are part of a group recommended to receive a COVID-19
                            vaccine, like health care personnel, may choose to be vaccinated.</br></br>

                            For more information visit: <a
                                href="https://www.cdc.gov/coronavirus/2019-ncov/vaccines/recommendations/pregnancy.html"
                                target="_blank"
                                aria-label="Pregnancy recommendations for Vaccination, this link will open in a new tab">https://www.cdc.gov/coronavirus/2019-ncov/vaccines/recommendations/pregnancy.html</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="controls slds-var-m-top_medium">
        <lightning-button variant="neutral" if:false={isAppointment} type="submit" label="Cancel"
            class="slds-var-m-right_xx-small" onclick={navigateToCancel}>
        </lightning-button>
        <lightning-button variant="neutral" type="submit" label="Back" class="slds-var-m-right_xx-small"
            onclick={navigateToBack}>
        </lightning-button>
        <lightning-button variant="brand" type="submit" if:false={isDisqualified} label="Next" name="next"
            onclick={saveData}>
        </lightning-button>
    </div>

    <template if:true={overrideConfirmation}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={modalCancelHandler}>
                        <lightning-icon icon-name="utility:close" size="medium">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Confirmation</h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-text-align_center"
                    id="modal-content-id-1">
                    <p>Are you sure this is {doseNum} ?</p>
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={modalCancelHandler}>No</button>
                    <button class="slds-button slds-button_brand" onclick={modalConfirmHandler}>Yes</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>