<!--
  @description       : 
  @author            : Mohit Karani
  @group             : 
  @last modified on  : 01-08-2022
  @last modified by  : Mohit Karani
-->
<template>
    <div>
        <template if:false={isLoaded}>
            <lightning-spinner variant="brand"></lightning-spinner>
        </template>

        <template if:true={isLoaded}>
            <template if:true={showError}>
                <div class="error">{errorMessage}</div>
            </template>

            <lightning-layout horizontal-align="spread">
                <c-vt_event_scheduler_filters 
                    onsearch={handleSearch} 
                    onreset={resetValues} 
                    style="width: 100%;"
                    isdefaultload={isdefaultload} 
                    hidefilters={hidefilters}
                    show-private-access-filter={showPrivateAccessFilter} 
                    event-process={eventProcess}
                    private-access-id={privateAccessId} 
                    vaccination-private-access={vaccinationPrivateAccess} 
                    vaccination-type={vaccinationType}
                    is-second-dose={isSecondDose} 
                    second-dose-data={secondDoseData} 
                    location-title={locationTitle}
                    is-from-appt-scheduler={isFromApptScheduler}
                    is-first-appointment={isFirstAppointment}
                    onnoprivateaccessfound={handleNoPrivateAccessFound}
                    contact-id={contactId}>
                </c-vt_event_scheduler_filters>
            </lightning-layout>

            <div role="alert" class="event_selection" if:true={hasLocation}>
                
                <div class="map_details">
                    <lightning-layout horizontal-align="spread">
                        <lightning-layout-item padding="around-small" size="8">
                            <div class="map custom-map">
                                <lightning-map map-markers={mapMarkers} list-view={listView} markers-title={markersTitle}
                                    show-footer={showFooter} onmarkerselect={handleMarkerSelect} zoom-level={zoomLevel}
                                    selected-marker-value={selectedMarkerValue} disable-default-ui="true">
                                </lightning-map>
                            </div>
                        </lightning-layout-item>

                        <lightning-layout-item if:false={isOtherSponser} padding="around-small" size="4">
                            <div class="scroll_helper">
                                <span if:true={selectedSite}><strong title="Events Found">CLICK SEARCH FOR ALL DATES/LOCATIONS:</strong></span>
                                <h2 if:true={selectedSite}><strong>Current Selected Location:</strong> {selectedSite}</h2>

                                <div class="slds-text-heading_small" role="alert" aria-label="Events Found" if:true={eventCount}>Events ({eventCount})</div>
                                
                                <template if:false={isEventLoaded}>
                                    <div class="slds-is-relative" style="height: 200px;">
                                        <lightning-spinner variant="brand"></lightning-spinner>
                                    </div>
                                </template>
                                <template if:true={isEventLoaded}>
                                    <template if:false={eventCount}>
                                        No Events Found.
                                    </template>
                                </template>
                                <template for:each={siteEvents} for:item="siteEvent">
                                    <c-okpc-event-list-item key={siteEvent.Id} event-record={siteEvent}
                                        oneventselected={handleEventSelect}>
                                    </c-okpc-event-list-item>
                                </template>
                            </div>
                        </lightning-layout-item>

                        <lightning-layout-item if:true={isOtherSponser} padding="around-small" size="4">
                            <div>
                                <div class="slds-text-heading_small">Events Details:</div>
                                <template if:true={accSiteLink}>
                                    <b>Site Link:</b> &nbsp; <a href={accSiteLink}
                                        target="_blank" aria-label={siteLinkLabel} style="word-break: break-word;">{accSiteLink}</a>
                                </template></br>
                                <lightning-formatted-rich-text value={accDescription}></lightning-formatted-rich-text>
                            </div>
                        </lightning-layout-item>
                    </lightning-layout>
                </div>
            </div>
            <div if:true={showLoader} class="slds-is-relative">
                <lightning-spinner alternative-text="Loading..." variant="brand">
                </lightning-spinner>
            </div>
            <div if:false={hasLocation}  role="alert" class="slds-align_absolute-center error-color" style="word-break: break-word;">
                <div if:false={isAfterSearchMsg}>
                    Please update the filters to view the events. Click on Search button to view the related events.
                </div>

                <div if:true={isAfterSearchMsg}>
                    <div style="font-size: 18px;font-weight: bold;text-align: center;text-decoration: underline;">No
                        Appointments found</div>

                    <div style="font-size: 15px;text-align: center;">There are no available Appointments based on your
                        search criteria. We
                        suggest searching a
                        later DATE RANGE and/or different COUNTY.</div>

                    <div if:true={showVaccinationMessageIfNoAppointmemtsFound} style="text-align:center;font-size: 15px;">
                        <div
                            style="font-size: 18px;text-align: center;font-weight: bold;margin-top: 5px;margin-bottom: 5px;">
                            OR</div>

                        <div style="color:red;">You can&nbsp;

                        <a href="https://www.healthvermont.gov/covid-19/vaccine/getting-covid-19-vaccine" target="_blank" aria-label="Vermont Health Website link, this link will open up in a new tab." class="slds-text-color_destructive"><u>check our website</u></a>

                        &nbsp;to find links to pharmacies that may have available vaccine appointments.</div>
                    </div>
                </div>
            </div>

            <div if:true={showPreRegTimeIssue} role="alert" class="slds-align_absolute-center error-color" style="word-break: break-word;">
                <div style="font-size: 15px;text-align: center;">You cannot schedule your appointment before {dateTimeStringPreReg}</div>
            </div>
        </template>
    </div>
</template>