.error {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.error-color {
    color: red;
}

.scroll_helper {
    height: 45vh;
    overflow-y: auto;
}

@media only screen and (min-width: 1001px) {
    .map {
        margin-bottom: 60px;
    }
}

@media only screen and (max-width: 767px) {
    .scroll_helper {
        height: 40vh;
        padding-left: 1rem;
    }
}