.icon-container {
    border: 1.5px solid rgb(112, 110, 107);
    border-radius: 10%;
    padding: 2px;
    background: rgb(243, 242, 242);
}

.community-user {
    background: rgb(217, 255, 223);
}

.site-header {
    padding: 2rem;
    background: white;
    margin: 1rem;
    display: flex;
    box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);
    text-align: left;
    margin-bottom: 0rem !important;
}

.site-name {
    font-size: 1.25rem;
    font-weight: 500;
}

.site-header .address {
    font-size: 14px;
    color: #777;
}

.site-header .icon {
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 0 2px #777;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    background: #eee;
}

.icon-yellow {
    background: #ea8c00 !important;
}

.icon-green {
    background: #54a031 !important;
}

.controls {
    text-align: right;
    right: 2rem;
    position: absolute;
    padding: 0.2rem 0 0 !important;
}

.adr-link {
    color: #007cc6;
}

.vacc_detail_sec {
    display: flex;
}

.detail {
    padding-left: 1rem;
}

@media only screen and (max-width: 767px) {
    .slds-size_8-of-12,
    .slds-size_4-of-12 {
        width: 100%;
    }
    .slds-size_4-of-12 {
        margin-top: .5rem;
    }
}