<template>
    <div class={cardStyle}>
        <lightning-layout horizontal-align="spread" class="vaccs_card">
            <lightning-layout-item size="8">
                <div class="vacc_detail_sec">
                    <div class="icon-container">
                        <lightning-icon icon-name="utility:user" alternative-text="" size="large"
                            title="">
                        </lightning-icon>
                    </div>
                    <div class="detail">
                        <div class="site-name">{patient.name}</div>
                        <div class="address">{patient.streetAddress}</div>
                        <div class="address">{patient.address}</div>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item size="4">
                <strong if:true={patient.isCommunityUser}>Primary</strong>
                <div class="slds-align_absolute-center depen_card_btn_sec">
                    <lightning-button label="PRE REGISTER" aria-label={ariaLabelPreRegister} onclick={handleClick}></lightning-button>
                    <lightning-button label="UPDATE DETAILS" aria-label={ariaLabelUpdateDetails} onclick={handleClick} class="slds-p-left_small"></lightning-button>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>