<!--
  @description       : 
  @author            : Garima Saxena
  @group             : 
  @last modified on  : 08-27-2021
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author           Modification
  1.0   01-27-2021   Garima Saxena   Initial Version
-->
<template>
    <template if:true={schedule2ndDose}>
        <button class="slds-button slds-button_brand slds-button_stretch" title="Schedule Appointment"
        onclick={openModel}>Schedule Next Dose</button>
    </template>
    
    <div if:true={showModel}>
        <c-okpc-schedule-appointment appointment-id={appointmentId} oncloseappointment={hideModal}
            account-id={accountId} event-process={eventProcess}
            is-second-dose={isSecondDose} old-vaccine-class={oldVaccineClass}
            event-ids={eventIds}>
        </c-okpc-schedule-appointment>
    </div>
</template>