.slds-line-height_reset th {
    background: #00263D;
    text-transform: uppercase;
    font-size: 0.9em;
    text-align: center;
    color: white;
}

.notAvailable {
    background: #757575;
    color: white;
    cursor: not-allowed;
}

.available {
    background: #A7D676;
    cursor: pointer;
}

.available:hover {
    background: #f9e2ae;
}

.selectedCol {
    background: #a8dee0;
}

table tr:nth-child(2n) {
    background: #eff0f1;
}

table tr:nth-child(2n + 3) {
    background: #fff;
}

table th,
table td {
    padding: 1em;
    width: 10em;
    border-top: 1px solid #dddbda;
    border-right: 1px solid #dddbda;
    font-weight: 500;
}

.tbl {
    font-size: 12px;
}

.card-heading {
    background: #ffffff;
    padding: 0 1.5rem;
    margin: -1rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    position: relative;
}

.legend {
    text-align: right;
    right: 0%;
    position: absolute;
    top: 50%;
    transform: translate(-10%, -50%);
    display: inline-flex;
    font-size: 1rem;
}

.legend-color-green {
    background: #A7D676;
    width: 20px;
    height: 20px;
    margin: 0rem .5rem;
}

.legend-color-blue {
    background: #a8dee0;
    width: 20px;
    height: 20px;
    margin: 0rem .5rem;
}

.legend-color-gray {
    background: #757575;
    width: 20px;
    height: 20px;
    margin: 0rem .5rem;
}

.filter-area{
    margin-top: 1%;
    margin-bottom: 1%;
    border: solid #d3d0d0 1px;
    border-radius: 5px;
    padding: 0.5rem;
}

.button-filter{
    padding-top: 1.3%;
}

.button-internal{
    float: right;
}