<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 07-02-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-21-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div class="card-heading slds-grid vaccine-event-calendar">
        <div class="slds-col slds-size_3-of-12">
            <b><div class="slds-text-heading_small"><span if:false={hidePrefferedTime}>Preferred Date : </span></div></b><span if:true={preferredDate} class="slds-text-heading_small">{preferredDate}</span> <br/>
            <b><div class="slds-text-heading_small"><span if:false={hidePrefferedTime}>Preferred Time : </span></div></b><span if:true={preferredTime} class="slds-p-left_small slds-text-heading_small">{preferredTime}</span>
        </div>
        <div class="slds-col slds-p-around_medium slds-size_5-of-12 ">
            <b><div class="slds-text-heading_small slds-p-around_xx-small"><span if:true={siteName}>Event Site : {siteName}</span></div></b>
            <b><div class="slds-text-heading_small slds-p-around_xx-small"><span if:true={eventName}>Event : {eventName}</span></div></b>
        </div>
        <div class="legend slds-col slds-size_4-of-12">
            <span class="legend-color-green">&nbsp;</span>
            <p>Available</p>
            <span class="legend-color-blue">&nbsp;</span>
            <p>Selected</p>
            <span class="legend-color-gray">&nbsp;</span>
            <p>Not Available</p>
        </div>
    </div>
    <div style="background:white;overflow:scroll;">
        <table class="tbl">
            <thead>
                <tr class="slds-line-height_reset">
                    <th style="background:white;"></th>
                    <template if:true={data.weeks}>
                        <template for:each={data.weeks} for:item="dt">
                            <th key={dt} class="headerRow">{dt}</th>
                        </template>
                    </template>
                </tr>

                <tr class="slds-line-height_reset">
                    <th>Time</th>
                    <template if:true={data.dates}>
                        <template for:each={data.dates} for:item="dt">
                            <th key={dt} class="headerRow">{dt}</th>
                        </template>
                    </template>
                </tr>
            </thead>

            <tbody>
                <template if:true={data.rows}>
                    <template for:each={data.rows} for:item="row">
                        <tr key={row.timeSt}>
                            <td>{row.timeSt}</td>

                            <template if:true={row.cols}>
                                <template for:each={row.cols} for:item="col">
                                    <template if:true={col.isSelected}>
                                        <td key={col.slotId} class="selectedCol" tabindex="0" aria-label={col.selectedariaLabel}>Selected</td>
                                    </template>

                                    <template if:false={col.isSelected}>
                                        <td key={col.slotId} class="notAvailable" aria-label="Slots not Available" if:false={col.isAvailable}>Not
                                            Available</td>
                                        <td key={col.slotId} class="available" if:true={col.isAvailable}
                                            data-recid={col.slotId} data-slotid={col.slotId} data-slottime={row.timeSt}
                                            onclick={handleSelectedSlots} tabindex="0" aria-label={col.ariaLabel} onkeydown={keyHandleSelectedSlots}>
                                            Available ({col.availableSlots})
                                        </td>
                                    </template>

                                </template>
                            </template>
                        </tr>
                    </template>
                </template>
            </tbody>
        </table>
    </div>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>

</template>