<template>

    <div class="page-header">
        <h1 class="page-title page-header-title">Insurance</h1>
        <c-okpc-help-text help-text="Attendees do NOT need insurance to be tested. If the attendee does have insurance, the insurance company will cover the cost of the test. This helps the Vermont Department of Health offer more testing to other people."></c-okpc-help-text>
    </div>

    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <div class="check-block">
        <div class="slds-form-element">

            <div class="slds-form-element__control slds-grow">
                <template if:true={picklistOption1.data}>
                    <lightning-combobox name="Has_Insurance" label="Do you have insurance?" value={obj.Has_Insurance}
                        options={picklistOption1.data.values} required onchange={handleChange}></lightning-combobox>
                </template>
            </div>

            <template if:true={hasInsurance}>

                <div class="slds-form-element__control slds-grow slds-m-top_medium">
                    <label>Insured's authorization for payment of medical benefits to state</label>
                    <lightning-input required type="checkbox" name="Insured_authorization_for_payment" label="I Agree"
                        checked={obj.Insured_authorization_for_payment} onchange={handleChange}></lightning-input>
                </div>

                <div class="slds-form-element__control slds-grow slds-m-top_medium">
                    <label>Patient's authorization to release medical information necessary to process claim</label>
                    <lightning-input required type="checkbox" name="Patient_authorization_to_release_info"
                        label="I Agree" checked={obj.Patient_authorization_to_release_info} onchange={handleChange}>
                    </lightning-input>
                </div>

                <div class="slds-form-element__control slds-grow slds-m-top_medium">
                    If you do not wish to authorize, please select "No, I do not have insurance."
                </div>

                <div class="slds-form-element__control slds-grow slds-m-top_medium">
                    <template if:true={picklistOption2.data}>
                        <lightning-combobox name="Type_of_Insurance" label="Type of Insurance"
                            value={obj.Type_of_Insurance} options={picklistOption2.data.values} onchange={handleChange}>
                        </lightning-combobox>
                    </template>
                </div>

                <div class="slds-form-element__control slds-grow slds-m-top_medium">
                    <lightning-input type="text" name="Insurance_ID_Number" label="Insurance ID Number"
                        value={obj.Insurance_ID_Number} max-length=60  onchange={handleChange} onkeydown={handleChange} onkeyup={handleChange} onblur={handleChange} ></lightning-input>
                </div>
                <div class="slds-form-element__control slds-grow slds-m-top_medium">
                    <lightning-input type="text" name="Insurance_Plan_Name" label="Insurance plan name or program name"
                        value={obj.Insurance_Plan_Name} onchange={handleChange}></lightning-input>
                </div>
                <div class="slds-form-element__control slds-grow slds-m-top_medium">
                    <lightning-input type="text" name="Policy_Group_or_FECA_number" label="Policy Group or FECA number"
                        value={obj.Policy_Group_or_FECA_number} onchange={handleChange}></lightning-input>
                </div>
                <div class="slds-form-element__control slds-grow slds-m-top_medium">
                    <template if:true={picklistOption3.data}>
                        <lightning-combobox name="Patient_relationship_to_insured"
                            label="Patient's relationship to insured" value={obj.Patient_relationship_to_insured}
                            options={picklistOption3.data.values} onchange={handleChange}></lightning-combobox>
                    </template>
                </div>

              <!--  <template if:false={isSelfInsurance}> -->

                    <div class="slds-form-element__control slds-grow slds-m-top_medium">
                        <lightning-input type="text" name="Insured_First_Name" label="Insured's First Name" pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$"
                            value={obj.Insured_First_Name} onchange={handleChange} message-when-pattern-mismatch="Please do not use any special characters."></lightning-input>
                    </div>
                    <div class="slds-form-element__control slds-grow slds-m-top_medium">
                        <lightning-input type="text" name="Insured_Middle_Name" label="Insured's Middle Name" pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$"
                            value={obj.Insured_Middle_Name} onchange={handleChange} message-when-pattern-mismatch="Please do not use any special characters."></lightning-input>
                    </div>
                    <div class="slds-form-element__control slds-grow slds-m-top_medium">
                        <lightning-input type="text" name="Insured_Last_Name" label="Insured's Last Name" pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$"
                            value={obj.Insured_Last_Name} onchange={handleChange} message-when-pattern-mismatch="Please do not use any special characters."></lightning-input>
                    </div>
                    <div class="slds-form-element__control slds-grow slds-m-top_medium">
                        <lightning-input type="text" name="Insured_Street_Address" label="Insured's Street Address" 
                            value={obj.Insured_Street_Address} onchange={handleChange}></lightning-input>
                    </div>
                    <div class="slds-form-element__control slds-grow slds-m-top_medium">
                        <lightning-input type="text" name="Insured_s_City" label="Insured’s City" pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$"
                            value={obj.Insured_s_City} onchange={handleChange} message-when-pattern-mismatch="Please do not use any special characters."></lightning-input>
                    </div>
                    <div class="slds-form-element__control slds-grow slds-m-top_medium">
                        <lightning-input type="text" name="Insured_s_State" label="Insured’s State" pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$"
                            value={obj.Insured_s_State} onchange={handleChange} message-when-pattern-mismatch="Please do not use any special characters."></lightning-input>
                    </div>
                    <div class="slds-form-element__control slds-grow slds-m-top_medium">
                        <lightning-input type="text" name="Insured_Zip_Code" label="Insured’s Zip Code" maxlength="5" minlength="5" pattern="^[0-9]*$"
                            value={obj.Insured_Zip_Code} onchange={handleChange} message-when-pattern-mismatch="Please use a valid 5 digits zip code."></lightning-input>
                    </div>
                    <div class="slds-form-element__control slds-grow slds-m-top_medium">
                        <lightning-input type="text" name="Insured_Telephone" label="Insured's telephone"  maxlength="14"
                            value={obj.Insured_Telephone} onchange={handleChange}></lightning-input>
                    </div>
                    <div class="slds-form-element__control slds-grow slds-m-top_medium">
                        <lightning-input type="date" name="Insured_date_of_birth" label="Insured’s date of birth"
                            value={obj.Insured_date_of_birth} onchange={handleChange}></lightning-input>
                    </div>
                    <div class="slds-form-element__control slds-grow slds-m-top_medium">
                        <template if:true={picklistOption4.data}>
                            <lightning-combobox name="Insured_Sex" label="Insured's Sex" value={obj.Insured_Sex}
                                options={picklistOption4.data.values} onchange={handleChange}></lightning-combobox>
                        </template>
                    </div>


                    <div class="slds-form-element__control slds-grow slds-m-top_medium">
                        <lightning-combobox name="Another_Health_Plan" label="Is patient insured by another health benefit plan" value={obj.Another_Health_Plan}
                        options={onlyYesNoOptions} onchange={handleChange}></lightning-combobox>
                    </div>

                    <template if:true={hasAdditionalInsurance}>
                        <div class="slds-form-element__control slds-grow slds-m-top_medium">
                            <lightning-input type="text" name="Additional_Insurance_Plan_Name"
                                label="Additional Insurance Plan Name or Program Name"
                                value={obj.Additional_Insurance_Plan_Name} onchange={handleChange}></lightning-input>
                        </div>
                        <div class="slds-form-element__control slds-grow slds-m-top_medium">
                            <lightning-input type="text" name="Additional_Insurance_Policy_Group_Number"
                                label="Additional Insurance Policy or Group Number"
                                value={obj.Additional_Insurance_Policy_Group_Number} onchange={handleChange}>
                            </lightning-input>
                        </div>
                        <div class="slds-form-element__control slds-grow slds-m-top_medium">
                            <lightning-input type="text" name="Additional_Insurance_First_Name" pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$"
                                label="Additional Insurance - Insured's First Name"
                                value={obj.Additional_Insurance_First_Name} message-when-pattern-mismatch="Please do not use any special characters." onchange={handleChange}></lightning-input>
                        </div>
                        <div class="slds-form-element__control slds-grow slds-m-top_medium">
                            <lightning-input type="text" name="Additional_Insurance_Middle_Name" pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$"
                                label="Additional Insurance - Insured's Middle Name"
                                value={obj.Additional_Insurance_Middle_Name} message-when-pattern-mismatch="Please do not use any special characters." onchange={handleChange}></lightning-input>
                        </div>
                        <div class="slds-form-element__control slds-grow slds-m-top_medium">
                            <lightning-input type="text" name="Additional_Insurance_Last_Name" pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$"
                                label="Additional Insurance - Insured's Last Name"
                                value={obj.Additional_Insurance_Last_Name} message-when-pattern-mismatch="Please do not use any special characters." onchange={handleChange}></lightning-input>
                        </div>
                    </template>
               <!-- </template> -->
            </template>
        </div>
    </div>
    <div class="controls slds-m-top_medium">
        <lightning-button variant="neutral" if:false={isAppointment} type="submit" label="Cancel" class="slds-m-right_xx-small"
            onclick={navigateToCancel}>
        </lightning-button>
        <lightning-button variant="neutral" type="submit" label="Back" class="slds-m-right_xx-small"
            onclick={navigateToBack}>
        </lightning-button>
        <lightning-button variant="brand" type="submit" label="Next" name="next" onclick={saveData}>
        </lightning-button>
    </div>
</template>