<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 01-18-2022
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-30-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div>
        <div class="backdrop" if:true={showSpinner}>
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..." variant="brand"></lightning-spinner>
            </div>
        </div>
        <template if:true={isLoaded}>
            <template if:true={showDashboard}>
                <c-okcp-dashboard onadddependent={handleAddDependent} onupdatedetails={handleUpdateDetails}
                    onscheduleappointment={handleScheduleAppointment} for-vaccination={isVaccination}
                    oninitiatevaccinescheduler={initiateVaccineScheduler}>
                </c-okcp-dashboard>
            </template>

            <template if:false={showDashboard}>
                <div class="claim_form container_spacing">

                    <div class="container">

                        <!-- new Vaccine Scheduler Flow w.r.t S-23914 -->
                        <div class="app-container slds-grid slds-gutters slds-wrap" if:true={runningVaccineScheduler}>
                            <c-tvrs_citizen-portal-vaccine-scheduler style="width: 100%;"
                                onflowcancelled={closeVaccineScheduler} oncompleted={schedulerCompletionHandler}
                                onupdatedetails={handleUpdateDetails}>
                            </c-tvrs_citizen-portal-vaccine-scheduler>
                        </div>

                        <div class="app-container slds-grid slds-gutters slds-wrap" if:false={runningVaccineScheduler}>
                            <div class="app-sidebar slds-col slds-size_1-of-1 slds-small-size_3-of-12">
                                <c-okcp-registration-steps current-step={currentStep} original-step={originalStep}
                                    is-vaccination={isVaccination}>
                                </c-okcp-registration-steps>
                            </div>

                            <div
                                class="app-content sensory-indicator slds-size_1-of-1 slds-small-size_9-of-12 slds-m-bottom_large">
                                <template if:true={showpage1}>
                                    <!--okcpConsentPage-->
                                    <template if:true={showLabelPopup}>
                                        <span class="sr-only">Consent</span>
                                    </template>
                                    <c-okcp-consent-page-new onconsentsaved={consentSave} current-step={currentStep}
                                        contact-id={contactId} oncancelappointment={handleCancelAppointment}
                                        consent-details={consentDetails}>
                                    </c-okcp-consent-page-new>
                                </template>

                                <template if:true={showpage2}>
                                    <!--okcpContactInfo-->
                                    <span class="sr-only">Attendee Personal Information</span>
                                    <div class="page-header">
                                        <h1 class="page-title">Attendee Personal Information</h1>
                                        <c-okpc-help-text help-text={showPUA_Claimant_Profile_Help_Text}>
                                        </c-okpc-help-text>
                                    </div>
                                    <c-okcp-contact-info-new current-step={currentStep} oncontactsave={saveContacts}
                                        contact-id={contactId} consent-details={consentDetails}
                                        onpreregsave={preRegSaveHandler}>
                                    </c-okcp-contact-info-new>
                                    <div class="controls slds-m-top_medium">
                                        <lightning-button variant="neutral" type="submit" label="Cancel"
                                            class="slds-m-right_xx-small" onclick={handleCancelAppointment}>
                                        </lightning-button>
                                        <lightning-button variant="neutral" type="submit" label="Back"
                                            class="slds-m-right_xx-small" onclick={navigateToConsent}>
                                        </lightning-button>
                                        <lightning-button variant="brand" type="submit" label="Submit" name="submit"
                                            onclick={navigateToAppointment}>
                                        </lightning-button>
                                    </div>
                                </template>

                                <template if:true={showpage3}>
                                    <!--okcpPreferenceCompoenent-->
                                    <span class="sr-only" aria-live="polite">Appointment Scheduling</span>
                                    <div class="page-header">
                                        <h1 class="page-title">Appointment Scheduling</h1>
                                    </div>
                                    <c-okcp-preference-component-new if:true={isVaccination} event-id={selectedEvent}
                                        vaccination-private-access={vaccinationPrivateAccess}
                                        private-event-id={urlEventId} hide-appointment=true
                                        onsubmit={handleSubmitAppointment} oneventselected={handleEventSelected}
                                        onaccountselected={handleAccountSelected}
                                        dependent-contact-id={dependentContactId}
                                        oncancelappointment={handleCancelAppointment}
                                        pre-reg-date-time={preRegDateTime}>
                                    </c-okcp-preference-component-new>

                                    <c-okcp-preference-component-new event-id={selectedEvent}
                                        private-event-id={urlEventId} hide-appointment=true
                                        onsubmit={handleSubmitAppointment} oneventselected={handleEventSelected}
                                        onaccountselected={handleAccountSelected}
                                        dependent-contact-id={dependentContactId}
                                        oncancelappointment={handleCancelAppointment} if:false={isVaccination}
                                        pre-reg-date-time={preRegDateTime}>
                                    </c-okcp-preference-component-new>

                                    <div class="controls slds-m-top_medium">
                                        <lightning-button variant="neutral" type="submit" label="Cancel"
                                            class="slds-m-right_xx-small" onclick={handleCancelAppointment}>
                                        </lightning-button>
                                        <lightning-button variant="brand" type="submit" label="Next" name="next"
                                            onclick={navigateToRegistration}>
                                        </lightning-button>
                                    </div>
                                </template>

                                <template if:true={showpage4}>
                                    <template if:false={isVaccination}>
                                        <span class="sr-only" aria-live="polite">Testing Questions</span>
                                    </template>
                                    <template if:true={isVaccination}>
                                        <span class="sr-only" aria-live="polite">Vaccination Questions</span>
                                    </template>
                                    <!--okcpTestingQuestions-->
                                    <c-okcp-testing-questions-new onsave={testingSaved} onbackevent={handleback}
                                        dependent-contact-id={dependentContactId} appointment-id={appoitmentId}
                                        oncancelappointment={handleCancelAppointment} if:false={isVaccination}>
                                    </c-okcp-testing-questions-new>

                                    <c-okcp-vaccine-questions-new onsave={testingSaved} onbackevent={handleback}
                                        dependent-contact-id={dependentContactId} appointment-id={appoitmentId}
                                        oncancelappointment={handleCancelAppointment} if:true={isVaccination}
                                        inside-covid-portal>
                                    </c-okcp-vaccine-questions-new>
                                </template>


                                <template if:true={showpage7}>
                                    <!--okcpWaiver-->
                                    <c-okcp-waiver-new onsave={handleWaiver} onbackevent={handleback}
                                        dependent-contact-id={dependentContactId} appointment-id={appoitmentId}
                                        oncancelappointment={handleCancelAppointment} is-vaccination={isVaccination}
                                        inside-covid-portal>
                                    </c-okcp-waiver-new>
                                </template>

                                <template if:true={showpage8}>
                                    <!--okcpScheduleAppointment-->
                                    <c-okcp-schedule-appointment-new onsubmit={handleSubmitData}
                                        appointment-id={appoitmentId} record-id={selectedAccountId}
                                        event-id={selectedEvent} onbackevent={handleback} no-confirmation-required
                                        dependent-contact-id={dependentContactId}>
                                    </c-okcp-schedule-appointment-new>
                                </template>
                                <div style="display:none;">{selectedEvent} - {selectedAccountId}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </template>
    </div>
</template>