<!--
  @description       : 
  @author            : Mohit Karani
  @group             : 
  @last modified on  : 12-27-2021
  @last modified by  : Vamsi Mudaliar
-->
<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-oktc-left-navigation selected-tab="createContact">
            <div slot="body">
                <lightning-tabset>
                    <lightning-tab label="Contact Information">
                                <template if:false={showThankYou}>
                                       
                                        <!-- <h1>Enter your information below</h1> -->
    
                                        <div class="slds-form-element slds-p-bottom_medium">
                                            <template if:true={showError}>
                                                <div class="error">{errorMessage}</div>
                                            </template>
                                            <template if:true={showSuccess}>
                                                <div class="success">{errorMessage}</div>
                                            </template>                                      
                                        </div>
    
                                        <div class="slds-grid slds-gutters">
                                            <div class="slds-col slds-size_1-of-12"></div>
                                            <div class="slds-col slds-size_10-of-12">
                                                <lightning-combobox 
                                                    class="combo-box" 
                                                    name="selectedEvent" 
                                                    variant="label-hidden" 
                                                    value={selectedEvent}
                                                    placeholder="Select Event" 
                                                    disabled={enableEventSelection} 
                                                    required 
                                                    options={siteEvents} 
                                                    onchange={handleChange}>
                                                </lightning-combobox>
                                            </div>
                                            <div class="slds-col slds-size_1-of-12"></div>
                                            
                                        </div>

                                        <c-ok-contact-intake-form 
                                            onconsentcancel={handleConsentCancellation}
                                            if:true={selectedEvent}
                                            event-id={selectedEvent} 
                                            istesting 
                                            slot-id=""
                                            onregistered={handleRegistrationSuccess} 
                                            onselectevent={selectEventHandler}
                                            account-id={accountId} 
                                            from-testing-site={fromTestingSite}
                                            onunlockvaccineevent={enableEventSelectionHandler}
                                            onlockvaccineevent={disableEventSelectionHandler}> 
                                        </c-ok-contact-intake-form>
                                   
                                </template>
                                <template if:true={showThankYou}>
                                    <div class="success">{thankYouMessage}</div>
                                </template>
                               
                    </lightning-tab>
                </lightning-tabset>
            </div>
        
        
    </c-oktc-left-navigation>    
   
</template>