.card-setup {
    margin: 2rem 3rem !important;
}

.card-right-content {
   /* margin: 2rem !important; */
    font-size: 1rem;
    font-weight: 500;
}

.slds-form-element__label {
    font-size: 0.8125rem !important;
}

@media (max-width: 768px) {
    .card-setup {
        margin: 1rem !important;
    }
}
.THIS.customRadioCls .slds-form-element__control .slds-radio {
    display: inline-block !important;
}

.error-box {
    color: #a92323;
    background: #ffd7d7;
    padding: 1rem;
    border: 1px solid #a92323;
    border-radius: 3px;
}

.error {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.success {
    padding: 20px;
    background-color: #34E319;
    /* Red */
    color: black;
    margin-bottom: 10px;
}