.THIS .user-image {
    margin-right: .5rem;
    border-radius: 50%;
    overflow: hidden;
}

.THIS .navbar-primary.oktcbar {
    background-color: #27c4dd !important;
}


.THIS .spacer {
    padding-left: 2rem;
    padding-right: 2rem;
}

.THIS.nav-checkbox:checked~.content-container .community-nav {
    height: auto;
    max-height: 20rem;
    overflow: visible;
}

.THIS .combobox-text input{
    background-color: #00263d !important;
}

.THIS .dropdown-color div{
    background-color: #00263d !important;
} 

.THIS .navbar-indexing {
    z-index: 999 !important;
}

.THIS .text-style span.slds-truncate {
    word-break: break-word;
    white-space: break-spaces;
    color: white !important;
}

.THIS .combo-style{
    width: 32rem !important;
}

.THIS .text-style button{
    background-color: #00263d;
}


@media (max-width: 768px) {
    .THIS .navbar-primary nav a {
        padding: .5rem 0 !important;
    }
}