@media only screen and (max-width: 767px) and (orientation: portrait) {
    .slds-modal__content {
        min-height: 65vh;
        overflow-x: auto;
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .slds-modal__content {
        min-height: 60vh;
        overflow-x: auto;
    }
}