<!--
  @description       : 
  @author            : Mohit Karani
  @group             : 
  @last modified on  : 01-18-2022
  @last modified by  : Mohit Karani
-->
<template>
    <section onkeydown={handleKeyDown} role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large"
        aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"
                    onclick={closeModal}>
                    <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="close">
                    </lightning-icon>
                </button>
                <h2 class="slds-text-heading_medium slds-hyphenate">{modalHeader}</h2>
            </header>
            <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-1"
                style="height: -webkit-fill-available">
                <div class="sensory-indicator-block">
                    <template if:true={isLoaded}>
                        <lightning-spinner alternative-text="Loading" size="large" if:true={isShowSpinner}>
                        </lightning-spinner>
                        <template if:true={isStep1}>
                            <c-vtpc-site-map filter-values-previous-button-hanlder={filterValues}
                                oneventselected={handleEventSelected} site-id={accountId} event-id={eventId}
                                is-record-specific show-private-access-filter event-process={eventProcess}
                                vaccination-type={vaccinationType} is-second-dose={isSecondDose}
                                second-dose-data={secondDoseData} vaccination-private-access={eventIds}
                                pre-reg-date-time={preRegDateTime} is-first-appointment={isFirstAppointment}
                                contact-id={contactId}>
                            </c-vtpc-site-map>
                        </template>
                        <template if:true={isStep2}>
                            <c-vtpc-schedule-appointment onslotselected={handleSlotSelected} recordid={appointmentId}
                                selectvalue={accountId} onclose={hideModal} eventid={eventId} selected-slot-id={slotId}
                                is-second-dose={isSecondDose}>
                            </c-vtpc-schedule-appointment>
                        </template>
                    </template>
                </div>
            </div>
            <footer class="slds-modal__footer">
                <lightning-button label="Cancel" name="cancel" onclick={handleClick} class="slds-var-m-right_small">
                </lightning-button>
                <lightning-button if:false={isNextEnabled} disabled={isStep1} label="Previous" name="previous"
                    onclick={handleClick} class="slds-var-m-right_small">
                </lightning-button>
                <template if:false={isStep2}>
                    <lightning-button if:false={isNextEnabled} disabled={isNextEnabled} label="Next" name="next"
                        variant="brand" onclick={handleClick}></lightning-button>
                </template>
                <template if:true={isStep2}>
                    <lightning-button label="Submit" name="save" variant="brand" onclick={handleClick}>
                    </lightning-button>
                </template>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>