.event-container {
  padding: 0.25rem !important;
  cursor: pointer;
  text-align: left;
  margin: 10px 5px;
  border-width: 1.5px;
}

.event-container:hover {
  border-width: 1.5px;
  margin: 10px 5px;
  border-color: rgb(0, 112, 210) !important;
  background-color: rgb(250, 250, 249);
}

.event-selected {
  border-width: 1.5px;
  border-color: rgb(0, 112, 210) !important;
  background-color: rgb(236, 235, 234);
}
.event-container:focus{
  outline: 2px dotted #737373 !important;
  outline-offset: 3px;
}

.event-selected:focus {
  outline: 2px dotted #737373 !important;
  outline-offset: 3px;
}

.event-disabled {
  background: rgb(201, 199, 197);
  border-color: rgb(201, 199, 197) !important;
  cursor: unset;
}

.event-disabled:hover {
  background: rgb(201, 199, 197);
  border-color: rgb(201, 199, 197) !important;
  cursor: unset;
}