<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 07-20-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   07-20-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div role="checkbox" class={eventSyleClass} onclick={handleEventSelect} onkeydown={handleKeyEventSelect} aria-checked={ariaChecked} tabindex="0">
        <lightning-layout horizontal-align="spread" multiple-rows>
            <lightning-layout-item size="12" class="slds-p-top_xx-small">
                <lightning-icon icon-name="standard:event" size="x-small" class="slds-m-right_xx-small">
                </lightning-icon>
                <lightning-formatted-date-time value={eventRecord.Start_Date__c}>
                </lightning-formatted-date-time>
            </lightning-layout-item>
            <lightning-layout-item size="12">
                <lightning-formatted-text value={eventRecord.Description__c}></lightning-formatted-text>
            </lightning-layout-item>
            <!-- <lightning-layout-item size="12" class="slds-p-top_xx-small">
                <b>Site:</b> {eventRecord.Location__r.Name}
            </lightning-layout-item> -->
            <lightning-layout-item size="12" class="slds-p-top_xx-small">
                <b>Address:</b> {eventRecord.Location__r.BillingStreet}, {eventRecord.Location__r.BillingCity}
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>