<template>
    <lightning-spinner alternative-text="Loading" size="medium" if:true={showSpinner}></lightning-spinner>
    <div class="">
        <header class="slds-modal__header">
            <h2 class="slds-hyphenate" style="font-size: x-large;">Current Location : {oldAccountName}</h2>
        </header>
        <div class="slds-var-p-around_medium slds-modal__content" style="overflow: initial;">
            <p class="slds-text-color_destructive slds-text-heading_small slds-var-m-bottom_medium">
                Please confirm the Event Description, Private Access, and Event Type before updating the Event.
            </p>
            <c-vt_ts_lookup 
                unique-key="AccountId"
                obj-name="Account"    
                icon-name="standard:account"
                label-name="Location"
                display-fields="Name, Event_Process__c"
                display-format="Name (Event_Process__c)"
                onvalueselect={handleSelection} 
                placeholder="Search Accounts"  
                filters={filters} 
                value-id="">
            </c-vt_ts_lookup>
        </div>

        <footer class="f-btn">

            <div class="slds-col modal-footer modal-footer__footer">
        
            <!-- <button class="slds-button slds-button_neutral">Cancel</button> -->
            <button class="slds-button slds-button_brand" disabled={disableButton} onclick={openModalConfirmation}>Save</button>
            </div>
        </footer>
    </div>

    <template if:true={takeConfirmation}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
              <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={modalCancel}>
                    <lightning-icon 
                        icon-name="utility:close" 
                        alternative-text="Close">
                    </lightning-icon>
                </button>
                <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Confirm Change</h2>
              </header>
              <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-1">
                {modalContent}
              </div>
              <footer class="slds-modal__footer slds-modal__footer_directional">
                <button class="slds-button slds-button_neutral" onclick={modalCancel}>Cancel</button>
                <button class="slds-button slds-button_brand" onclick={changeConfirmed}>Continue</button>
              </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>