<template>
    <div class="lookup-container">
        <div>
            <div class="slds-form-element">
                <div class="slds-form-element__control">
                    <div class="slds-combobox_container">
                        <div id="box" class={boxClass} aria-expanded="true" aria-haspopup="listbox" role="combobox">
                            <div class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
                                role="none">
                                <template if:true={readOnly}>
                                    <div class="disabled-overlay"></div>
                                </template>
                                <template if:true={isValue}>
                                    <!-- <div id="lookup-pill" class="slds-pill-container">
                                        <lightning-pill class="pillSize" label={label} name={label}
                                            onremove={handleRemovePill} href={href}>
                                            <lightning-icon icon-name={iconName} alternative-text="acc">
                                            </lightning-icon>
                                        </lightning-pill>
                                    </div> -->

                                    <div role="none" class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_left-right">
                                        <lightning-icon class="slds-icon_container slds-combobox__input-entity-icon"
                                            icon-name={iconName}>
                                        </lightning-icon>
                                        <input readonly value={label} type="text" role="combobox" aria-expanded="false" aria-haspopup="listbox" required="" autocomplete="off" placeholder="Kritika's Hospital" maxlength="255" aria-readonly="true" aria-owns="dropdown-element-314" class="slds-input slds-combobox__input slds-combobox__input-value" aria-controls="dropdown-element-314">
                                        <div class="slds-input__icon-group slds-input__icon-group_right slds-var-m-right_small">
                                            <lightning-button-icon 
                                                variant="bare" 
                                                size="medium" 
                                                icon-name="utility:close" 
                                                alternative-text="Close"
                                                onclick={handleRemovePill}>
                                            </lightning-button-icon>
                                        </div>
                                    </div>
                                     
                                </template>
                                <template if:false={isValue}>
                                    <div class="slds-p-top_none">
                                        <lightning-input class={inputClass} type="search" id="input" value={searchTerm}
                                            onclick={handleClick} onchange={onChange} variant="label-hidden"
                                            autocomplete="off" placeholder={placeholder}>
                                        </lightning-input>
                                    </div>
                                </template>
                            </div>
                            <template if:true={options}>
                                <div id="listbox-id-1"
                                    class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid slds-is-relative"
                                    role="listbox">
                                    <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                        <template for:each={options} for:item="item">
                                            <li key={item.Id} onclick={onSelect} data-id={item.Id} role="presentation">
                                                <span class="slds-lookup__item-action slds-lookup__item-action--label"
                                                    role="option">
                                                    <lightning-icon
                                                        class="slds-icon slds-icon--small slds-icon-text-default"
                                                        icon-name={iconName} alternative-text={objName} size="small">
                                                    </lightning-icon>
                                                    <span class="slds-truncate">{item.label}</span>
                                                </span>
                                            </li>
                                        </template>
                                        <template if:true={createRecord}>
                                            <li onclick={createRecordFunc} role="presentation">
                                                <span class="slds-lookup__item-action slds-lookup__item-action--label"
                                                    role="option">
                                                    <lightning-button-icon
                                                        class="slds-icon slds-icon--small  slds-icon-text-default"
                                                        variant="border-inverse, bare" icon-name="utility:add"
                                                        size="small">
                                                    </lightning-button-icon>
                                                    <span class="slds-truncate">New {objLabelName}</span>
                                                </span>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- create Record Component-->
        <template if:true={createRecordOpen}>
            <template if:true={recordTypeSelector}>
                <div>
                    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                    title="Close">
                                    <lightning-button-icon icon-name="utility:close" variant="bare-inverse" size="large"
                                        onclick={closeModal}></lightning-button-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">New
                                    {objLabelName}
                                </h2>
                            </header>
                            <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                                <div class="slds-radio_faux slds-radio__label">
                                    <lightning-radio-group name="Record Type" label="Record Type"
                                        options={recordTypeOptions} value={recordTypeId} variant="label-inline"
                                        type="radio" onchange={handleRecTypeChange}>
                                    </lightning-radio-group>
                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                <lightning-button label="Cancel" onclick={closeModal}></lightning-button>
                                <lightning-button label="Next" onclick={createRecordMain} variant="brand">
                                </lightning-button>
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>
            </template>

            <template if:true={mainRecord}>
                <div class="main">
                    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
                        aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                        <div class="slds-modal__container">
                            <header class="slds-modal__header">
                                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                                    title="Close">
                                    <lightning-button-icon icon-name="utility:close" variant="bare-inverse" size="large"
                                        onclick={closeModal}></lightning-button-icon>
                                    <span class="slds-assistive-text">Close</span>
                                </button>
                                <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">New
                                    {objLabelName}
                                </h2>
                            </header>
                            <div class={myPadding} id="modal-content-id-2">

                                <div id="stencil" class={stencilClass}>
                                    <template if:true={double}>
                                        <table class="table slds-table slds-table_bordered slds-no-row-hover">
                                            <tbody class="tbody">
                                                <template for:each={opacs} for:item="opacity">
                                                    <tr key={opacity} style={opacity}>
                                                        <template for:each={cols} for:item="col">
                                                            <td key={col} class="stencil">
                                                                <div></div>
                                                                <div class="row"></div>
                                                            </td>
                                                        </template>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </template>
                                
                                    <template if:false={double}>
                                        <!--<table class="table slds-table slds-table_bordered slds-no-row-hover slds-table_col-bordered">-->
                                        <table class="table slds-table slds-table_bordered slds-no-row-hover">
                                            <tbody class="tbody">
                                                <template for:each={opacs} for:item="opacity">
                                                    <tr key={opacity} style={opacity}>
                                                        <template for:each={cols} for:item="col">
                                                            <td key={col} class="stencil">
                                                                <div class="row"></div>
                                                            </td>
                                                        </template>
                                                    </tr>
                                                </template>
                                            </tbody>
                                        </table>
                                    </template>
                                </div>

                                <div id="stencilReplacement" class={stencilReplacement}>
                                    <lightning-record-form class="recordForm" object-api-name={objName}
                                        record-type-id={recordTypeId} layout-type="Compact" columns="2"
                                        onload={handleLoad} density="comfy" onerror={handleError}
                                        onsuccess={handleSuccess}>
                                    </lightning-record-form>
                                </div>
                            </div>
                            <footer class="slds-modal__footer">
                                <!--lightning-button class="slds-p-right_small" label="Save" onclick={handleSubmit} variant="brand"></lightning-button>
                            <lightning-button label="Cancel" onclick={closeModal}></lightning-button>-->
                            </footer>
                        </div>
                    </section>
                    <div class="slds-backdrop slds-backdrop_open"></div>
                </div>
            </template>
        </template>
    </div>
</template>