.error {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}
.page-header-title{
    font-size: 1.5rem !important;
    padding-bottom: 2rem !important;
}