<!--
  @description       : 
  @author            : Mohit Karani
  @group             : 
  @last modified on  : 01-19-2022
  @last modified by  : Mohit Karani
-->
<template>

    <div class="page-header">
        <h1 class="page-title page-header-title">Testing Questions</h1>
        <c-okpc-help-text help-text="Please answer the following questions for the person attending the testing event.">
        </c-okpc-help-text>
    </div>

    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <div class="check-block">
        <div class="slds-form-element slds-p-bottom_medium">
            <template if:true={showError}>
                <div class="error">{errorMessage}</div>
            </template>
        </div>
        <div class="slds-form-element">
            <div class="slds-form-element__control slds-grow">
                <template if:true={picklistOption1}>
                    <lightning-combobox name="First_COVID_19_Test" label="Is this the attendee's first COVID-19 Test?"
                        value={obj.First_COVID_19_Test} options={picklistOption1} required onchange={handleChange}>
                    </lightning-combobox>
                </template>
            </div>
            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={picklistOption2}>
                    <lightning-combobox name="Employed_in_Healthcare" label="Is the attendee employed in health care?"
                        value={obj.Employed_in_Healthcare} options={picklistOption2} required onchange={handleChange}>
                    </lightning-combobox>
                </template>
            </div>
            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={picklistOption3}>
                    <lightning-combobox name="Symptomatic_as_defined_by_CDC"
                        label="Is the attendee symptomatic, as defined by the CDC?"
                        value={obj.Symptomatic_as_defined_by_CDC} options={picklistOption3} required
                        onchange={handleChange}></lightning-combobox>
                </template>
            </div>
            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={isSymptomatic}>
                    <lightning-input type="date" name="Symptoms_Onset_Date" label="Date of Symptom Onset"
                        date-style="short"
                        message-when-pattern-mismatch="Please provide dates in the MM/DD/YYYY format."
                        value={obj.Symptoms_Onset_Date} onchange={handleChange}></lightning-input>
                </template>
            </div>
            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={picklistOption4}>
                    <lightning-combobox name="Resident_in_Congregate_Care_Setting" label="Is the attendee a current resident in a congregate care setting? (Including nursing homes, residential care for people with
                                        intellectual and developmental disabilities, psychiatric treatment facilities, group homes, board and care homes,
                                        homeless shelter, foster care, or other setting)"
                        value={obj.Resident_in_Congregate_Care_Setting} options={picklistOption4} required
                        onchange={handleChange}></lightning-combobox>
                </template>
            </div>


            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={picklistOption6}>
                    <lightning-combobox name="Reason_for_Testing"
                        label="What is the reason the attendee is getting tested?" value={obj.Reason_for_Testing}
                        options={picklistOption6} required onchange={handleChange}></lightning-combobox>
                </template>
            </div>
            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={isOtherReason}>
                    <lightning-input type="text" name="Other_Reason_for_Testing" label="Other Reason"
                        value={obj.Other_Reason_for_Testing} onchange={handleChange}></lightning-input>
                </template>
            </div>
        </div>
    </div>
    <div class="controls slds-m-top_medium">
        <lightning-button variant="neutral" if:false={isAppointment} type="submit" label="Cancel"
            class="slds-m-right_xx-small" onclick={navigateToCancel}>
        </lightning-button>
        <lightning-button variant="neutral" type="submit" label="Back" class="slds-m-right_xx-small"
            onclick={navigateToBack}>
        </lightning-button>
        <lightning-button variant="brand" type="submit" label="Next" name="next" onclick={saveData}>
        </lightning-button>
    </div>
</template>