<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 06-25-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-25-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div class="app-content center-align-card">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">

                <div class="card-photo-cred">
                    <img class="login-photo" src={customImage} alt="Vermont logo"/>
                </div>


            </div>
            <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
                <div class="card-right-content">

                    <div class="card-header">
                        <div class="intro">Recover Password</div>
                        <h1>Enter your details below</h1>

                        <div class="slds-form-element slds-p-bottom_medium" role="alert">
                            <template if:true={showError}>
                                <div class="error" aria-label={errorMessage}>{errorMessage}</div>
                            </template>
                            <label class="slds-form-element__label slds-p-bottom_medium" for="text-input-id-1">
                                <abbr class="slds-required" title="required">* </abbr>Email</label>
                            <div class="slds-form-element__control">
                                <input type="text" name="username" placeholder="Enter Email" required=""
                                    value={username} class="slds-input" onchange={nameChange} />
                            </div>
                        </div>
                        <lightning-button label="Recover Password" title="Neutral action" onclick={doForgotPasswordCheck}
                            class="okpc-registration-button"></lightning-button>
                    </div>



                    
                </div>
            </div>
        </div>
    </div>

</template>