<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-oktc-left-navigation selected-tab="upload">
        <div slot="body">
            <lightning-tabset>
                
        <lightning-tab label="Upload Appointment">
            
            <div class="main-container slds-p-around_medium app-content">
                <div class="card-heading">
                    <h1>Upload File</h1>

                </div>


                <h2>Upload Appointments Limits Per Upload </h2>
                <ul class="slds-list_dotted">
                    <li class="error_msg">1000 Completed Appointments</li>
                    <li class="error_msg">150 Cancelled Appointments</li>
                  </ul>
           
                <div class="card-content">
                    <lightning-input variant="label-hidden" name="file uploader" onchange={handleFileChange} type="file" multiple
                        class="upload-btn">
                    </lightning-input>
                    <div class="filename" if:true={showFileName}>File: <strong>{fileName}</strong> has been added successfully.
                        <lightning-icon icon-name="utility:delete" alternative-text="Error!" variant="error"
                            title="error variant small" size="small" class="fileremove" onclick={handleFileDelete}></lightning-icon>
                    </div>
                    <div>
                        <lightning-button label="Save" onclick={handleSave} variant="brand"></lightning-button>
                    </div>
                </div>
            </div>

             </lightning-tab>
                <lightning-tab label="Upload Contacts">
                    <c-oktc-contact-upload></c-oktc-contact-upload>
                </lightning-tab>
            </lightning-tabset>
        </div>
    </c-oktc-left-navigation>
</template>