<!--
  @description       :
  @author            : Kunal Srivastava
  @group             : 
  @last modified on  : 04-30-2021
  @last modified by  : Kunal Srivastava
  Modifications Log 
  Ver   Date         Author             Modification
  1.0   04-30-2021   Kunal Srivastava   Initial Version
-->
<template >

    <div if:false={showEventEdit}>

    <p class="slds-text-color_destructive slds-text-heading_small">
        Please confirm the Event Description, Private Access, and Event Type before updating the Event.
    </p>
   
    <lightning-input type="date" message-when-range-underflow="Event Date cannot be in the past." name="eventStartDate" min={today} label="Event date" onchange={handleOnChange} value={resultObject.eventStartDate} ></lightning-input>
   
   
   <!-- <lightning-input type="time" name="eventStartTime" label="Event Start Time" onchange={handleOnChange} value={resultObject.eventStartTime}></lightning-input>
    <lightning-input type="time" name="eventEndTime" label="Event End Time" onchange={handleOnChange} value={resultObject.eventEndTime}></lightning-input>
 -->

    <footer class="f-btn">

        <div class="slds-col modal-footer modal-footer__footer" if:false={showConfirmationBtn}>
            <lightning-button label="Cancel" title="Non-primary action" data-func="Cancel" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
            <lightning-button variant="brand" label="Update" disabled={enableEditBtn} title="Primary action" onclick={handleEventUpdate} class="slds-m-left_x-small"></lightning-button>        
        </div>
        <!-- <div class="slds-col modal-footer modal-footer__footer" if:true={showConfirmationBtn}>
            <lightning-button label="Cancel" title="Non-primary action" data-func="Cancel" onclick={handleClick} class="slds-m-left_x-small"></lightning-button>
            <lightning-button variant="brand" label="Continue" title="Primary action" onclick={handleEventUpdateContinue} class="slds-m-left_x-small"></lightning-button>        
        </div> -->

        <template if:true={showConfirmationBtn}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                  <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={modalCancel}>
                        <lightning-icon 
                            icon-name="utility:close" 
                            alternative-text="Close">
                        </lightning-icon>
                    </button>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Confirm Change</h2>
                  </header>
                  <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-1">
                    <p>
                        {modalContent}
                    </p>
                  </div>
                  <footer class="slds-modal__footer slds-modal__footer_directional">
                    <button class="slds-button slds-button_neutral" onclick={modalCancel}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={handleEventUpdateContinue}>Continue</button>
                  </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </footer>
</div>
<!-- <div if:true={noEdit}>

    <span> Event has past date you can not update Event date</span>

</div> -->
<!-- <div if:true={showMsg}>

    <span> Event Date  cannot be modified for Canceled events.</span>
</div> -->
</template>