<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 01-18-2022
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-24-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <template if:true={showPageHeader}>
        <span class="sr-only pageTitle" tabindex="0">Waiver</span>
    </template>
    <div class="page-header">
        <h1 class="page-title page-header-title">Waiver</h1>
        <div if:false={insideCovidPortal} style="color: rgb(234, 0, 30);">* indicates required field</div>
        <div if:false={isVaccination}>
            <c-okpc-help-text help-text="Information about Specimen Collection"></c-okpc-help-text>
        </div>
    </div>

    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <div if:false={isVaccination} class="check-block">
        <div class="slds-form-element">

            <div class="slds-form-element__control slds-grow">
                <label>
                    For initial diagnostic testing for SARS-CoV-2, CDC recommends collecting and testing an upper
                    respiratory specimen. The Vermont Department of Health is currently doing nasopharyngeal (NP)
                    or anterior nares nasal swab specimen collection.
                    <br /><br />
                    NP specimen collection for COVID-19 testing is done by inserting a mini-tip swab with a flexible
                    shaft through the nostril parallel to the palate (mouth), not upwards, until resistance is
                    encountered or the distance is equivalent to that from the ear to the nostril of the patient,
                    indicating contact with the nasopharynx. Then the swab is gently rubbed and rolled or held in
                    place for several seconds to absorb secretions. The swab will then slowly be removed while rotating
                    it.
                    <br /><br />
                    Anterior Nares nasal swab is done by gently inserting a swab into the nostril at least 1 cm
                    (0.5 inch) and firmly sample the nasal membrane by rotating the swab at least 3 times and leaving
                    in place for 10 to 15 seconds. Then gently removing the swab and doing specimen collection in the
                    other nostril with the same swab.
                </label>
            </div>

            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <!-- <Strong
                    aria-label="I have read and reviewed the information on how a COVID-19 specimen collection is performed and have had 
                the opportunity to ask questions. I give my consent for the Vermont Department of Health to perform 
                specimen collection and subsequent testing of that specimen for COVID-19 and for the Health Department 
                to share my health information with third parties for the purposes of medical diagnosis and protecting 
                public health (including genomic sequencing using de-identified virus specimens for health surveillance purposes)."> -->
                    I have read and reviewed the information on how a COVID-19 specimen collection is performed and have
                    had
                    the opportunity to ask questions. I give my consent for the Vermont Department of Health to perform
                    specimen collection and subsequent testing of that specimen for COVID-19 and for the Health
                    Department
                    to share my health information with third parties for the purposes of medical diagnosis and
                    protecting
                    public health (including genomic sequencing using de-identified virus specimens for health
                    surveillance purposes).
                <!-- </Strong> -->
                <div>
                    <abbr class="slds-required" style="position:absolute;padding-top:0.5%;">*</abbr>
                </div>
                <lightning-input type="checkbox" style="padding-left:1.5%;" name="Agree_to_the_Terms" label="I Agree"
                    checked={obj.Agree_to_the_Terms} onchange={handleChange}></lightning-input>
                <template if:false={isAgreeToTheTerms}>
                    <p style="color:red">Please indicate that you have read and agree the conditions</p>
                </template>
            </div>

            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                If Individual to be tested is under 18 years of age
            </div>

            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <lightning-input type="text" name="Name_of_Parent"
                    label=" Parent/Legal Guardian (If minor is in state custody, consent of an authorized representative is required.)"
                    aria-label="Parent/Legal Guardian (If minor is in state custody, consent of an authorized representative is required.)"
                    value={obj.Name_of_Parent} onchange={handleChange}
                    message-when-value-missing="Please fill the required fields" required={isReq}></lightning-input>
            </div>

            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <!--<Strong>If minor is in state custody, an authorized representative consent is required.</Strong>
                commented Issue I-25381-->
                <lightning-input type="checkbox" name="Minor_State_Representative_Consent" label="I Agree"
                    checked={obj.Minor_State_Representative_Consent} required={isReq} onchange={handleChange}
                    aria-live="assertive"
                    aria-label="I agree that the Individual to be tested is under 18 years of age">
                </lightning-input>
            </div>
            <!--“No, I do not agree at this time” (you must sign a consent waiver at the event before you can be tested)-->

        </div>
    </div>
    <div if:true={isVaccination} class="check-block waiver-check-block">
        <!-- <lightning-input type="checkbox" name="Agree_to_the_Terms" label="I certify that I am: (a) the patient and at least 18 years of age; (b) the legal guardian of the
                patient; or (c) a person authorized to consent on behalf of the patient where the patient is
                not otherwise competent or unable to consent for themselves." required="true" onchange={handleChange}
            checked={obj.Agree_to_the_Terms}></lightning-input></br> -->

        <div class="slds-form-element">
            <div class="slds-form-element__control">
                <lightning-input type="checkbox" name="Agree_to_the_Terms" label="I certify that I am: (a) the patient and at least 18 years of age;
                             (b) the legal guardian of the patient; or (c) a person authorized to consent
                              on behalf of the patient where the patient is not otherwise competent, is unable
                               to consent for themselves, or has authorized me to consent on their behalf."
                    required="true" onchange={handleChange} checked={obj.Agree_to_the_Terms}>
                </lightning-input>

                <label class="slds-checkbox__label" for="checkbox-unique-id-73">
                    <!-- <span class="slds-checkbox_faux"></span> -->
                    <!-- <span class="slds-form-element__label">
                            I certify that I am: (a) the patient and at least 18 years of age; (b) the legal guardian of the patient; or (c) a person authorized to consent on behalf of the patient where the patient is not otherwise competent, is unable to consent for themselves, or has authorized me to consent on their behalf.
                        </span> -->
                </label>
            </div>
        </div>

        <ul class="slds-list_dotted">
            <li><a href="https://www.fda.gov/media/144638/download" target="_blank"
                    aria-label="FDA Fact Sheet for Moderna COVID-19 Vaccine, this link will open in a new tab">FDA Fact
                    Sheet for <b>Moderna</b> COVID-19 Vaccine</a></li>
            <li><a href="https://www.fda.gov/media/144414/download" target="_blank"
                    aria-label="FDA Fact Sheet for Pfizer-BioNTech COVID-19 Vaccine, this link will open in a new tab">FDA
                    Fact Sheet for <b>Pfizer-BioNTech</b> COVID-19 Vaccine</a></li>
            <li><a href="https://www.fda.gov/media/146305/download" target="_blank"
                    aria-label="FDA Fact Sheet for Janssen COVID-19 Vaccine, this link will open in a new tab">FDA Fact
                    Sheet for <b>Janssen</b> COVID-19 Vaccine</a></li>
        </ul></br>
        <div class="slds-form-element__control slds-grow">
            <div>
                In scheduling this vaccine appointment I acknowledge that I have had access to the EUA Fact Sheet on the
                vaccine(s), above. I understand, for myself or someone who has authorized me to consent on their behalf,
                the risks and benefits associated with the above vaccine(s) and accept the risks, both known and
                unknown, associated with receiving this vaccine, including being required to remain at the vaccine site
                to be monitored for 15-minutes after receiving the vaccine. I request that the vaccine be given to me or
                to the person named above for whom I am authorized to make this request
            </div>
        </div>
    </div>
    <div class="controls slds-m-top_medium">
        <lightning-button variant="neutral" if:false={isAppointment} type="submit" label="Cancel"
            class="slds-m-right_xx-small" onclick={navigateToCancel}>
        </lightning-button>
        <lightning-button variant="neutral" type="submit" label="Back" class="slds-m-right_xx-small"
            onclick={navigateToBack}>
        </lightning-button>
        <lightning-button variant="brand" type="submit" label="Next" name="next" onclick={saveData}>
        </lightning-button>
        <lightning-button variant="brand" label="Choose Another Location & Event" name="pick location"
            onclick={selectNewLocation} style="margin-left:10px;" if:true={isFromApptScheduler}>
        </lightning-button>
    </div>

    <template if:true={showLocationPicker}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close"
                            size="medium">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Schedule Appointment</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium modal-body" id="modal-content-id-1">
                    <c-vt_ts_pick_location_scheduler onsubmit={setEventAndSlotId} onclose={closeModal}
                        eventselecte={setSelectedEventId} account-id={accountId} event-id={eventId}
                        pre-reg-min-date-time={preRegMinDateTime} event-ids={eventIds}
                        is-from-appt-scheduler={isFromApptScheduler}></c-vt_ts_pick_location_scheduler>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label="Cancel" variant="neutral" onclick={closeModal}></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

</template>