<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 08-27-2021
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   09-22-2020   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div class="app-content">
        <!-- added by vatsal-->
        
        <!-- added by vatsal, code end-->
        <div style="padding: .5rem;">
            <div class="slds-float_right" style="max-width: 350px;">
                <lightning-button if:true={showCheckbox} variant={checkboxButtonVariant} label={checkboxButtonLabel}
                    title={checkboxButtonLabel} onclick={handleCheckboxButton} class={checkboxButtonClass}>
                </lightning-button>
                </div>
            <div class="slds-float_right slds-col" style="max-width: 350px;">
                <span onkeypress={searchRecords}>
                    <lightning-input type="text" value={searchStr} placeholder={placeholder} variant="label-hidden"
                        onchange={searchRecords}></lightning-input>
                </span>
            </div>

            <div>
                Show &nbsp;
                <select class="slds-select" style="max-width: 55px;" onchange={setPageSize}>
                    <template for:each={pageSizeOptions} for:item="pageSizeOption">
                        <option key={pageSizeOption} value={pageSizeOption}>{pageSizeOption}</option>
                    </template>
                </select>
                &nbsp; entries
            </div>
        </div>
        <div class="table-container">
            <template if:true={showQuery}>
                {query}
            </template>
            <table class={tableClass}>
                <thead>
                    <tr class="slds-text-title_caps">
                        <th class="slds-col slds-cell-wrap" if:true={showCheckbox}>
                        </th>
                        <template for:each={columns} for:item="column">
                            <th class="slds-col slds-cell-wrap" key={column.label}>
                                <p>{column.label}</p>
                            </th>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <template if:true={rows}>
                        <template for:each={rows} for:item="row" for:index="index">
                            <tr class="slds-hint-parent slds-has-flexi-truncate" key={row.id}>
                                <td if:true={showCheckbox}>
                                    <lightning-input type="checkbox" checked={row.isChecked} data-id={row.id}
                                        onchange={handleCheckboxChange}>
                                    </lightning-input>
                                </td>
                                <template for:each={row.columns} for:item="column">
                                    <td class={column.class} key={column} data-label={column.label}>
                                        <template if:true={column.isText}>
                                            <div class="slds-truncate slds-cell-wrap" title={column.value}>
                                                <template if:false={column.action}>
                                                    {column.value}
                                                </template>
                                                <template if:true={column.action}>
                                                    <a data-action={column.action} data-id={row.id}
                                                        onclick={handleAction}>{column.value}</a>
                                                </template>

                                            </div>
                                        </template>
                                        <template if:true={column.isButton}>
                                            <div class="slds-truncate slds-cell-wrap" title={column.value}>
                                                <lightning-button data-id={row.id} data-action={column.action}
                                                    variant={column.varient} label={column.buttonLabel}
                                                    data-index={index}
                                                    title={column.buttonlabel} onclick={handleAction} style="padding-top: 2px;display: inline-block;">
                                                </lightning-button>
                                            </div>
                                        </template>
                                        <template if:true={column.isButtons}>
                                            
                                            <div class="slds-truncate slds-cell-wrap">
                                                <template for:item="button" for:each={column.buttons}>

                                                    <lightning-button key={button.label} data-id={row.id}
                                                        data-action={button.label} variant={column.varient}
                                                        label={button.label} title={button.label} onclick={handleAction}
                                                        data-index={index}
                                                        class={button.class} style="padding-top: 2px;display: inline-block;">
                                                    </lightning-button>
                                                </template>
                                            </div>
                                        </template>
                                    </td>
                                </template>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
            <template if:false={norows}>
                <p class="slds-text-align_center slds-p-around_medium">{norecordMessage}</p>
            </template>
        </div>
        <div style="padding: 1rem 1rem 2rem 1rem;" class="custom-hide-comp">
            <template if:true={showAllPaginatorButtons}>
                <div class="slds-float_right" style="margin-top: -1rem;">
                    <template for:each={buttonsLabel} for:item="buttoninfo">
                        <lightning-button class="paginator-button" key={buttoninfo} label={buttoninfo.label}
                            title={buttoninfo.label} onclick={handleButtonClick} variant={buttoninfo.varient}
                            disabled={buttoninfo.disabled}></lightning-button>
                    </template>
                </div>
                Showing {fromCount} to {toCount} of {totalCount} entries
            </template>
        </div>
    </div>
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
</template>