<!--
  @description       : 
  @author            : Mohit Karani
  @group             : 
  @last modified on  : 01-20-2022
  @last modified by  : Mohit Karani
-->
<template>
    <div class='slds-box slds-var-m-top_small'>
        <lightning-layout horizontal-align="spread" class="vaccs_card">
            <!-- Vaccination Card -->
            <template if:true={appointment.isVaccination}>
                <lightning-layout-item size="7">
                    <div class="vacc_detail_sec">
                        <div class="vacc_img">
                            <img src={vaccinationImage} alt="" />
                        </div>
                        <div class="detail paddingClass">
                            <div class="site-name">{siteName}</div>
                            <template if:false={appointment.isCompleted}>
                                <div class="address">Appointment Date & Time: <strong class="slds-var-m-left_xx-small">
                                        {appointment.formattedDate}
                                    </strong></div>
                            </template>

                            <!-- Added by Rajat as per story S-23753 -->
                            <template if:true={appointment.isCompleted}>
                                <div class="address">Date &amp; Time of Completion:
                                    <strong class="slds-var-m-left_xx-small">
                                        {appointment.formattedDate}
                                    </strong>
                                </div>
                            </template>
                            <!-- End of S-23753 -->

                            <div class="address">Location:
                                <strong class="adr-link slds-var-m-left_xx-small">{appointment.address}</strong>
                            </div>
                            <div class="address">Patient Name: <strong
                                    class="slds-var-m-left_xx-small">{appointment.patientName}</strong></div>
                            <div class="address">Appointment Type: <strong
                                    class="slds-var-m-left_xx-small">{appointment.appointmentType}</strong></div>
                            <div class="address">Event Description: <strong
                                    class="slds-var-m-left_xx-small">{appointment.eventDescription}</strong></div>
                        </div>
                    </div>
                </lightning-layout-item>
                <lightning-layout-item size="5">
                    <section class="slds-clearfix">
                        <div class="slds-float_right vaccs_actions" if:true={appointment.isScheduled}>
                            <!--View Location On Map-->
                            <lightning-button label="View on Map" title="View on Map" onclick={handleClick}
                                class="slds-var-m-left_x-small small time-input marginClass" name="viewOnMap"></lightning-button>
                            <!-- Cancel Appointment -->
                            <template if:true={appointment.isSecondDoseAppointment}>
                                <lightning-button if:true={Enable_Vaccination_Button_2nd_Dose_Cancel} label="Cancel"
                                    title="Cancel" onclick={handleClick}
                                    class="slds-var-m-left_x-small small time-input marginClass" name="cancelAppointment">
                                </lightning-button>
                            </template>
                            <template if:false={appointment.isSecondDoseAppointment}>
                                <lightning-button label="Cancel" title="Cancel" onclick={handleClick}
                                    class="slds-var-m-left_x-small small time-input marginClass" name="cancelAppointment">
                                </lightning-button>
                            </template>
                        </div>
                        <div class="slds-float_right vaccs_actions">
                            <!-- Schedule Second Dose -->
                            <template if:true={Enable_Vaccination_Button_2nd_Dose}>
                                <lightning-button if:true={showNextDoseButton} label="Schedule Next Dose"
                                    title="Schedule Next Dose" aria-label={secondDoseAriaLabel} onclick={handleClick}
                                    class="slds-var-m-left_x-small small time-input marginClass" name="scheduleNextDose">
                                </lightning-button>
                            </template>
                        </div>
                    </section>
                </lightning-layout-item>
            </template>

            <!-- Testing Card -->
            <template if:false={appointment.isVaccination}>
                <lightning-layout-item size="9">
                    <div class="vacc_detail_sec">
                        <div class="vacc_img">
                            <div class={iconStyle}>
                                <lightning-icon icon-name={iconName} size="medium" title="medium size"
                                    variant="inverse"></lightning-icon>
                            </div>
                        </div>
                        <div class="detail paddingClass">
                            <div class="site-name">{siteName}</div>
                            <div class="address">{timeLabel}:
                                <strong class="slds-var-m-left_xx-small">
                                    {appointment.formattedDate}
                                </strong>
                            </div>
                            <div class="address">Location:
                                <strong class="adr-link slds-var-m-left_xx-small">{appointment.address}</strong>
                            </div>
                            <div class="address" if:true={appointment.isCompleted}> Result Status: <strong
                                    class="adr-link slds-var-m-left_xx-small">Pending</strong></div>
                            <div class="address" if:true={appointment.hasResults}> Result Status:&nbsp;
                                <strong class="adr-link slds-var-m-left_xx-small">
                                    <template if:true={appointment.results.result}>
                                        {appointment.results.result}
                                    </template>
                                    <template if:false={appointment.results.result}>
                                        Pending
                                    </template>
                                </strong>
                            </div>
                            <div class="address">Patient Name: <strong
                                    class="slds-var-m-left_xx-small">{appointment.patientName}</strong></div>

                            <div class="address">Appointment Type: <strong
                                    class="slds-var-m-left_xx-small">{appointment.appointmentType}</strong></div>
                            <div class="address">Event Description: <strong
                                    class="slds-var-m-left_xx-small">{appointment.eventDescription}</strong></div>
                        </div>
                    </div>
                </lightning-layout-item>

                <lightning-layout-item size="3">
                    <section class="slds-clearfix">
                        <div class="slds-float_right vaccs_actions" if:true={appointment.isToBeScheduled}>
                            <lightning-button label="Modify" title="Non-primary action" onclick={handleClick}
                                class="slds-var-m-left_x-small small time-input marginClass" name="editAppointment">
                            </lightning-button>
                            <!--editAppointment-->
                            <lightning-button label="Cancel" title="Non-primary action" onclick={handleClick}
                                aria-label={ariaLabelCancel} class="slds-var-m-left_x-small small time-input marginClass"
                                name="cancelAppointment">
                            </lightning-button>
                            <!--cancelAppointment-->
                        </div>
                        <div class="slds-float_right" if:true={appointment.isScheduled}>
                            <lightning-button label="View on Map" title="View on Map" onclick={handleClick}
                                aria-label={viewMapAriaLabel} class="slds-var-m-left_x-small small time-input marginClass"
                                name="viewOnMap"></lightning-button>
                            <!--viewLocationOnMap-->
                            <lightning-button label="Cancel" title="Cancel" onclick={handleClick}
                                aria-label={ariaLabelCancel} class="slds-var-m-left_x-small small time-input marginClass"
                                name="cancelAppointment">
                            </lightning-button>
                            <!--cancelAppointment-->
                        </div>
                        <div class="slds-float_right" if:true={appointment.isCancelled}>
                            <lightning-button label="Reschedule" title="Reschedule" onclick={handleClick}
                                aria-label={rescheduleAriaLabel}
                                class="slds-var-m-left_x-small small time-input" name="reschedule"></lightning-button>
                            <!--openCancel-->
                        </div>
                        <div class="slds-float_right" if:true={canViewCertificate}>
                            <lightning-button label="View Result Letter" title="View Certificate" onclick={handleClick}
                                aria-label={viewCertificateLabel} class="slds-var-m-left_x-small small time-input marginClass"
                                name="viewCertificate">
                            </lightning-button>
                        </div>
                    </section>
                </lightning-layout-item>
            </template>
        </lightning-layout>
    </div>
</template>