.icon-container {
    border-width: 1.5px;
    border-radius: 10%;
    padding: 2px;
    position: absolute;
    /*background: rgb(243, 242, 242);*/
}

.community-user {
    background: rgb(217, 255, 223);
}

.site-header {
    padding: 2rem;
    background: white;
    margin: 1rem;
    display: flex;
    box-shadow: 0 7px 33px rgba(0, 0, 0, 0.11);
    text-align: left;
    margin-bottom: 0rem !important;
}

.site-name {
    font-size: 1.25rem;
    font-weight: 500;
}

.site-header .address {
    font-size: 14px;
    color: #777;
}

.site-header .icon {
    width: 4rem;
    height: 4rem;
    box-shadow: 0 0 0 2px #777;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
    background: #eee;
}

.icon-yellow {
    background: #ea8c00 !important;
}

.icon-green {
    background: #54a031 !important;
}

.controls {
    text-align: right;
    right: 2rem;
    position: absolute;
    padding: 0.2rem 0 0 !important;
}

.adr-link {
    color: #0067D0;
}

.vacc_detail_sec {
    display: flex;
}

.vacc_img {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100px;
}

@media only screen and (max-width: 767px) {
    .vacc_img {
        width: 60px;
    }
    .vaccs_card lightning-layout-item {
        width: 100%;
    }
    .site-name {
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    .detail {
        padding-left: 1rem;
    }
}
.marginClass {
    margin-left: 5px;
}

.paddingClass {
    padding-left: 0;
}