.pointer-event-none {
    pointer-events: none;
}

.navBar {
    background-color: #00263D;
    width: 100%;
    border-bottom: 0px solid transparent;
}

ul.bulletlist {
    list-style-type: square;
}

.contactaddress {
    padding: 1rem;
}

.subheader {
    font-size: 1rem;
    padding-top: 1rem;
}

.center_align_item {
    margin: auto;
}

.headerbottom {
    color: grey;
    margin-top: 1rem;
}

nav>ul>li {
    color: #fff;
}

.grid__right {
    float: right;
}

.pageTextCenter {
    text-align: center;
    padding-top: 1rem;
}

h2 {
    font-size: 2rem;
}

article {
    padding: 0rem 0.75rem;
}

.provider-style {
    background-color: rgb(235, 124, 46);
    color: #fff;
}

.provider-style>div:first-child {
    background-color: rgb(199, 87, 7);
}

.application-style {
    background-color: rgb(31, 192, 117);
    color: #fff;
}

.application-style>div:first-child {
    background-color: rgb(6, 161, 89);
}


/* Bootstrap alert classes */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert h4 {
    margin-top: 0;
    color: inherit;
}

.alert .alert-link {
    font-weight: bold;
}

.alert>p,
.alert>ul {
    margin-bottom: 0;
}

.alert>p+p {
    margin-top: 5px;
}

.alert-dismissable,
.alert-dismissible {
    padding-right: 35px;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success hr {
    border-top-color: #c9e2b3;
}

.alert-success .alert-link {
    color: #2b542c;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info hr {
    border-top-color: #a6e1ec;
}

.alert-info .alert-link {
    color: #245269;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-warning hr {
    border-top-color: #f7e1b5;
}

.alert-warning .alert-link {
    color: #66512c;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert-danger hr {
    border-top-color: #e4b9c0;
}

.alert-danger .alert-link {
    color: #843534;
}


/*Alert classes end */

.padding_space_style {
    padding: 1rem;
}

.padding_space_button {
    padding: 1rem 2rem;
    border: 1px solid #eee;
    width: 100%;
    text-align: left;
    background: white;
}

.padding_space_button:hover {
    background: #00263D29;
    border-right: 5px solid #00263D;
    cursor: pointer;
}

.active_tab {
    background: #00263D29;
    border-right: 5px solid #00263D;
    cursor: pointer;
}

.padding_space_button:first-child {
    margin-top: -1rem;
}

.background_sidenav {
    background-color: #f8f8f8;
    padding: 3rem 2rem;
}

img {
    position: absolute;
    height: auto;
    width: 8rem
}

.icon_size {
    width: 16px;
    margin-right: .5rem;
}

.ulclass {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

.liclass {
    float: left;
}

.liclass a {
    display: block;
    color: #3174AF;
    text-decoration: none;
}


/* ul div:hover {
    background-color: rgb(184, 181, 209);
  } 
   li a:hover {
    background-color: rgb(184, 181, 209); 
  }  */

.liclass div {
    cursor: pointer;
    color: #3174AF;
    text-decoration: none;
}

.liclass div:hover {
    background-color: rgb(184, 181, 209);
}


/* VM testing */


/* Style the tab */

.tab {
    width: auto;
    overflow: hidden;
    margin: 0rem;
}


/* Style the buttons inside the tab */

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons on hover */

.tab-button {
    padding-left: 0;
    padding-right: 0;
}

.tab-button:hover {
    cursor: pointer;
    background: #B4C9E6;
}


/* Create an active/current tablink class */

.active {
    border-bottom: 2px solid #00263D;
    width: fit-content;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}


/* Fade in tabs */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.tab_title {
    font-size: 10px;
    font-weight: 300;
    color: #555;
}

.tab_desc {
    font-size: 14px;
    font-weight: 500;
    color: #000;
}

.text_style_left {
    text-align: left;
    padding: 0rem !important;
}

.tablinks {
    min-width: 200px;
}

.side_space {
    /* margin-left: 16.5%;
    padding: 1rem 2rem; */
}

.text-center {
    text-align: center;
}

.sidenav-margin {
    list-style: none;
    /* position: absolute; */
    left: 0;
    padding: 0;
    margin: 0;
    background: #FFF;
    top: 0;
    bottom: 0;
    box-shadow: 0 -1.7px 4.7px -57px rgba(0, 0, 0, 0.013), 0 4.1px 18.4px -57px rgba(0, 0, 0, 0.016), 0 21.3px 42.8px -57px rgba(0, 0, 0, 0.023), 0 100px 80px -57px rgba(0, 0, 0, 0.07);
    z-index: 1;
    /* padding-top: 2rem; */
}

.brief_card {
    background: white;
    font-size: 16px;
}


/* Media queries */

@media only screen and (max-width: 768px) {
    .mobile-block {
        display: block;
    }
    .mobile-full-width {
        width: 100%;
    }
    
    .padding_space_button:first-child {
        margin-top: 1rem;
    }
    .side_space {
        margin-left: 0;
    }
}