<template>
    <div class="container_spacing">
        <div class="slds-grid slds-wrap mobile-block">
            <div class="slds-col slds-size_2-of-12 mobile-full-width sidenav-margin">
                <div>
                    
                    <lightning-vertical-navigation selected-item="recent">
                        <lightning-vertical-navigation-section>
                            <button class={homeTabCss} onclick={navigateToPage} data-navigatepage="dashboard">
                                <div class="slds-grid slds-gutters pointer-event-none">
                                    <div class="slds-col slds-size_1-of-12">
                                        <lightning-icon icon-name="standard:dashboard_ea" size="xx-small"></lightning-icon>
                                    </div>
                                    <div class="slds-col slds-size_11-of-12">
                                        Dashboard
                                    </div>
                                </div>
                            </button>
                            <button class={appointmenttabCss} onclick={navigateToPage} data-navigatepage="appointments">
                                <div class="slds-grid slds-gutters pointer-event-none">
                                    <div class="slds-col slds-size_1-of-12">
                                        <lightning-icon icon-name="utility:identity" size="xx-small"></lightning-icon>
                                    </div>
                                    <div class="slds-col slds-size_11-of-12">
                                        Appointments
                                    </div>

                                </div>
                            </button>
                            <button class={schedulertabCss} onclick={navigateToPage} data-navigatepage="scheduler" if:false={isMobile}>
                                <div class="slds-grid slds-gutters pointer-event-none">
                                    <div class="slds-col slds-size_1-of-12">
                                        <lightning-icon icon-name="utility:reassign" size="xx-small"></lightning-icon>
                                    </div>
                                    <div class="slds-col slds-size_11-of-12">
                                        View Slots
                                    </div>
                                </div>
                            </button>
                            <button class={downloadstabcss} onclick={navigateToPage} data-navigatepage="downloads" if:false={isMobile}>
                                <div class="slds-grid slds-gutters pointer-event-none">
                                    <div class="slds-col slds-size_1-of-12">
                                        <lightning-icon icon-name="utility:download" size="xx-small"></lightning-icon>
                                    </div>
                                    <div class="slds-col slds-size_11-of-12">
                                       Downloads
                                    </div>
                                </div>
                            </button>
                            <!-- Manage css -->
                            <button class={uploadtabcss} onclick={navigateToPage} data-navigatepage="upload" if:false={isMobile}>
                                <div class="slds-grid slds-gutters pointer-event-none">
                                    <div class="slds-col slds-size_1-of-12">
                                        <lightning-icon icon-name="utility:upload" size="xx-small"></lightning-icon>
                                    </div>
                                    <div class="slds-col slds-size_11-of-12">
                                       Manage Uploads
                                    </div>
                                </div>
                            </button>
                            
                            <!-- if:true={isTesting}              removed for S-15642 -->
                            <button class={createContacttabcss} onclick={navigateToPage} data-navigatepage="createContact" if:false={isMobile}>
                                <div class="slds-grid slds-gutters pointer-event-none">
                                    <div class="slds-col slds-size_1-of-12">
                                        <lightning-icon icon-name="utility:identity" size="xx-small"></lightning-icon>
                                    </div>
                                    <div class="slds-col slds-size_11-of-12">
                                        Create Contact
                                    </div>
                                </div>
                            </button>

                            <!-- <button class={sendTabcss} onclick={navigateToPage} data-navigatepage="sendEmail" if:false={isMobile}>
                                <div class="slds-grid slds-gutters pointer-event-none">
                                    <div class="slds-col slds-size_1-of-12">
                                        <lightning-icon icon-name="utility:email" size="xx-small"></lightning-icon>
                                    </div>
                                    <div class="slds-col slds-size_11-of-12">
                                       Send Email
                                    </div>
                                </div>
                            </button> -->

                        </lightning-vertical-navigation-section>
                    </lightning-vertical-navigation>
                </div>
            </div>
            <div class="slds-col slds-size_10-of-12 side_space mobile-full-width">
                <slot name="body"></slot>
            </div>
        </div>
    </div>

    <!--<div class="slds-m-top_large text-right newfooter" if:true={showFooter}>
        <p>{footerText}</p>
    </div>-->
</template>