<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 06-24-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-24-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div class="site-header">
        <div class="slds-grid slds-wrap">
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2 site-header_info-section">
                    <div class="icon">
                        <lightning-icon class="icon-center" icon-name="utility:company" alternative-text="Connected" size="large" title="large size">
                        </lightning-icon>
                    </div>
                    <div class="detail">
                        <div class="site-name">{siteName}</div>
                        <div class="address">{streetAddress}</div>
                        <div class="address">{address}</div>
                    </div>
                </div>
                <!--
                <div class="slds-col slds-size_1-of-1 slds-large-size_1-of-2">
                    <div class="controls slds-grid slds-wrap slds-gutters">
                        <div class="slds-col slds-size_1-of-2 slds-medium-size_1-of-2 slds-large-size_2-of-5">
                        <c-time-picklist label="Start Time" onchange={handleInputChange} is-required=true value={startTime}></c-time-picklist>
                        </div>
                        <div class="slds-col slds-size_1-of-2 slds-medium-size_1-of-2 slds-large-size_2-of-5">
                        <c-time-picklist label="End Time" onchange={handleInputChange} is-required=true value={endTime}></c-time-picklist>
                        </div>
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-1 slds-large-size_1-of-5 slds-p-top_x-small">
                        <lightning-button label="Save" title="Non-primary action" 
                            class="slds-button_stretch" onclick={handleClick}></lightning-button>
                    </div>
                </div>
            -->
        </div>
    </div>
    <div class="slds-grid slds-wrap">
        <template if:true={appointmentCounts} for:each={appointmentCounts} for:item="appointmentCount">
            <div class="slds-col slds-size_1-of-1 slds-medium-size_1-of-2 slds-large-size_1-of-3" key={appointmentCount}>
                <div class="color-card">
                    <div class="content-section">
                        <span class="content-section--label">{appointmentCount.status}</span>
                        <p class="content-section--count">{appointmentCount.count}</p>
                    </div>
                    <div class="icon-section icon-section--blue">
                        &nbsp;
                    </div>
                </div>
            </div>
        </template>

<div class="slds-col slds-size_1-of-1 slds-large-size_2-of-3">
    <div class="base-db-card">
        <div class="content-section">
            <span class="content-section--db-label">NEWS</span>
            <div class="content-section--cs-card">
                <p class="content-section--db-heading">Vermont’s Health Response to COVID-19</p>
                <p class="content-section--db-subheading">COVID-19 is a virus identified as the cause of an outbreak of respiratory illness first detected in Wuhan City, Hubei Province, China in 2019 and has since spread globally into a pandemic.</p>
                <a href="" class="content-section--db-link" target="_blank" aria-label="Read more link, this will open in a new tab">Read more
                                &rarr;</a>
            </div>
        </div>
    </div>
</div>
<div class="slds-col slds-size_1-of-1 slds-large-size_1-of-3">
    <div class="base-db-card">
        <div class="content-section">
            <span class="content-section--db-label">Important Links</span>
            <div class="content-section--cs-card">
                <a href="" class="content-section--im-link" target="_blank" aria-label="Vermont's COVID-19 Resources link, this will open in a new tab">Vermont's COVID-19 Resources &rarr;</a>
            </div>
            <div class="content-section--cs-card">
                <a href="" class="content-section--im-link" target="_blank" aria-label="Serology Testing for COVID-19 link, this will open in a new tab">Serology Testing for COVID-19 &rarr;</a>
            </div>
            <div class="content-section--cs-card">
                <a href="" class="content-section--im-link" target="_blank" aria-label="Vermont's Coronavirus Statistics link, this will open in a new tab">Vermont's Coronavirus Statistics &rarr;</a>
            </div>
        </div>
    </div>
</div>

</div>
<template if:false={loaded}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
</template>