.bg-white {
    background-color: #ffffff;
}

.justify-space-between {
    justify-content: space-between;
}

.help-link {
    font-size: 14px;
    color: #1d49cc;
    padding-top: 2%;
    margin-left: 50px;
}

.slds-button_outline-brand {
    border-color: #0d3cc8;
    color: #0d3cc8;
}

.timeline {
    border-left: 2px solid #dfe4f2;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    margin-left: 12px;
    letter-spacing: 0;
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
    line-height: 1.4em;
    font-size: 14px;
    padding: 0 25px;
    list-style: none;
    text-align: left;
    counter-reset: li-counter;
}

.timeline .event:after {
    border: 2px solid #656566;
    border: 5px solid #f7f7f7;
    position: absolute;
    display: block;
    top: 0;
    left: -43px;
    background: #dfe4f2;
    border-radius: 50%;
    height: 35px;
    width: 35px;
    content: "";
    top: 5px;
    top: 10px;
    text-align: center;
    content: attr(steplabel);
    counter-increment: li-counter;
    color: black;
    padding-top: 4px;
}

.timeline .event {
    padding-bottom: 17.5px;
    position: relative;
    padding-top: 17.5px;
    min-width: 180px;
    cursor: pointer;
}

.timeline .event:after else {
    border: 2px solid #0f43e0;
}

.timeline .event.completed {
    color: #0070d2;
}

.timeline .event.completed:after {
    background: #0070d2;
    padding-top: 4px;
    color: white;
    content: '✓';
    text-align: center;
}

.timeline .event.active {
    color: #128ec3;
    color: #000;
    font-weight: bold;
}

.timeline .event.active:after {
    background-color: #479eeb;
    color: white;
}

.timeline .event:first-of-type {
    padding-top: 7.5px;
}

.timeline .event:first-of-type:after {
    top: -2px;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:last-of-type:after {
    top: auto;
    top: 10px;
    bottom: 0;
}