<!--
  @description       : 
  @author            : Vamsi Mudaliar
  @group             : 
  @last modified on  : 11-22-2021
  @last modified by  : Vamsi Mudaliar
-->
<template>
    <template if:false={areInitialStepsOver}>
    <ol class="timeline">
        <li class={step1CSS} tabindex="0" value="1" steplabel="1" onclick={handleUserClicks}>
            <span aria-label={step1ariaLabel}>Consent</span></li>
        <li class={step2CSS} tabindex={step2tabIndex} value="2" steplabel="2" onclick={handleUserClicks}>
             <span aria-label={step2ariaLabel}>Attendee Personal Information</span></li>
    </ol>
    </template>
    <template if:true={areInitialStepsOver}>
        
        <ol class="timeline">
            <li class={step3CSS} tabindex="0" value="3" steplabel="1" onclick={handleUserClicks}>
                <span aria-label={step3ariaLabel}>Search Event</span></li>
            <li class={step4CSS} tabindex={step4tabIndex} value="4" if:false={isVaccination} steplabel="2" onclick={handleUserClicks}>
                <span aria-label={step4ariaLabel}>Testing Questions</span></li>
            <li class={step4CSS} tabindex={step4tabIndex} value="4" if:true={isVaccination} steplabel="2" onclick={handleUserClicks}>
                <span aria-label={step4ariaLabelVacc}>Vaccination Questions</span></li>
                
            <li class={step6CSS} tabindex={step6tabIndex} value="6" steplabel="3" onclick={handleUserClicks}>
                <span aria-label={step6ariaLabel}>Waiver</span></li>
            <li class={step8CSS} tabindex={step7tabIndex} value="7" steplabel="4" onclick={handleUserClicks}>
                <span aria-label={step7ariaLabel}>Schedule Appointment</span></li>
        </ol>
        </template>
</template>