<!--
  @description       : 
  @author            : Vamsi Mudaliar
  @group             : 
  @last modified on  : 11-18-2021
  @last modified by  : Vamsi Mudaliar
-->
<template>
    <ol class="timeline">
        <li class={step1CSS} aria-label={step1AriaLabel} tabindex="0" value="1" steplabel="1" onclick={handleUserClicks}>Consent</li>
        <li class={step2CSS} aria-label={step2AriaLabel} tabindex="0" value="2" steplabel="2" onclick={handleUserClicks}>Attendee Personal Information</li>  
        <li class={step3CSS} aria-label={step3AriaLabel} tabindex="0" value="3" steplabel="3" onclick={handleUserClicks} if:false={isVaccineEvent}>Testing Questions</li>
        <li class={step3CSS} aria-label={step3AriaLabel} tabindex="0" value="3" steplabel="3" onclick={handleUserClicks} if:true={isVaccineEvent}>Vaccination Questions</li>
        <!-- <li class={step4CSS} aria-label={step4AriaLabel} tabindex="0" value="4" steplabel="4" onclick={handleUserClicks}>Demographics</li> -->
        <!--Commented By Virendra Kumar as per S-16828-->
       <!--<li class={step5CSS} aria-label={step5AriaLabel} tabindex={step5TabIndex} value="5" steplabel="5" onclick={handleUserClicks}>Insurance</li>--> 
        <li class={step5CSS} aria-label={step5AriaLabel} tabindex={step5TabIndex} value="4" steplabel="4" onclick={handleUserClicks}>Waiver</li>
    </ol>
</template>