<!--

-->
<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-lwc-custom-toast message={customErrorMessage}></c-lwc-custom-toast>
    <div if:false={recordId}>
        <c-oktc-left-navigation selected-tab="appointments">
            <div slot="body">
                <lightning-tabset>
                    <lightning-tab label="Completed Appointments" if:false={isMobile}>
                        <template if:true={showPaginator}>
                            <template if:true={isVaccination}>
                                <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="4"
                                    columns={columns4_vaccination} placeholder="Search Appointment..." sort-by="Name"
                                    sort-dir="ASC" where-clause={whereClause4}
                                    table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                                    reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                                    norecord-message="No Appointments Found." show-all-paginator-buttons=true
                                    onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}>
                                </c-oktcgenericpaginator>
                            </template>
                            <template if:false={isVaccination}>
                                <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="4"
                                    columns={columns4} placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC"
                                    where-clause={whereClause4}
                                    table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                                    reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                                    norecord-message="No Appointments Found." show-all-paginator-buttons=true
                                    onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}>
                                </c-oktcgenericpaginator>
                            </template>
                        </template>
                    </lightning-tab>
                    <lightning-tab label="Scheduled Appointments">
                        <!-- <c-oktcscheduledappointmentslist></c-oktcscheduledappointmentslist> -->
                        <!-- sort-by="Name" sort-dir="ASC" -->
                        <template if:true={showPaginator}>
                            <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={columns}
                                placeholder="Search Appointment..."
                                sort-by="Appointment_Start_Date_v1__c, Appointment_Start_Time_v1__c, Patient__r.Name"
                                sort-dir="ASC" where-clause={whereClause}
                                table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                                reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                                norecord-message="No Appointments Found." show-all-paginator-buttons=true
                                onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag} if:true={columns}>
                            </c-oktcgenericpaginator>
                        </template>
                    </lightning-tab>
                   
                    <lightning-tab label="Cancelled Appointments" if:false={isMobile}>
                        <template if:true={showPaginator}>
                            <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={columns3}
                                placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC"
                                where-clause={whereClause3} selected-tab-name="Cancelled Appointments"
                                table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                                reset-table={resetTable3} reload-table={reloadTable3} header="Add Properties"
                                norecord-message="No Appointments Found." show-all-paginator-buttons=true
                                onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}>
                            </c-oktcgenericpaginator>
                        </template>
                    </lightning-tab>

                </lightning-tabset>
                <template if:true={showCalendar}>
                    <!--<c-oktcscheduleappointment recordid={appointmentId} selectvalue={accountId} onclose={hideModal}>
                    </c-oktcscheduleappointment>-->
                    <c-okpc-schedule-appointment appointment-id={appointmentId} oncloseappointment={hideModal}
                        account-id={accountId} event-process={eventProcess} is-second-dose={isSecondDose}
                        old-vaccine-class={oldVaccineClass} event-ids={eventIds} is-rescheudle={isRescheudle}>
                    </c-okpc-schedule-appointment>
                </template>
                <template if:true={showConfirmation}>
                    <c-oktccompleteconfirmation type={type} appointment-id={appointmentId} onclose={hideModal}
                        hide-barcode-artefacts>
                    </c-oktccompleteconfirmation>
                </template>
                <template if:true={showBatchModal}>
                    <c-oktc-assign-batch-modal type={type} heading="Select Lab"
                        appointment-list={selectedAppointmentIds} appointment-id={appointmentId}
                        onclosebatch={hideBatchModal}>
                    </c-oktc-assign-batch-modal>
                </template>
            </div>
        </c-oktc-left-navigation>
    </div>

    <div if:true={recordId}>
        <lightning-tabset>
            <lightning-tab label="Completed Appointments" if:false={isMobile}>
                <template if:true={showPaginator}>
                    <template if:true={isVaccination}>
                        <c-oktcgenericpaginator 
                            object-name="Appointment__c" 
                            numberofcolumns="4"
                            columns={columns4_vaccination} 
                            placeholder="Search Appointment..." 
                            sort-by="Name"
                            sort-dir="ASC" 
                            where-clause={whereClause4}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                            reset-table={resetTable} 
                            reload-table={reloadTable} 
                            header="Add Properties"
                            norecord-message="No Appointments Found." 
                            show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction} 
                            onresetflag={resetFlag}></c-oktcgenericpaginator>
                    </template>
                    <template if:false={isVaccination}>
                        <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="4" columns={columns4}
                            placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC"
                            where-clause={whereClause4}
                            table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                            reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                            norecord-message="No Appointments Found." show-all-paginator-buttons=true
                            onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                    </template>

                </template>
            </lightning-tab>
            <lightning-tab label="Scheduled Appointments">
                <!-- <c-oktcscheduledappointmentslist></c-oktcscheduledappointmentslist> -->
                <template if:true={showPaginator}>
                    <template if:false={isVaccination}>
                        <template if:true={showEventsList}>
                            <div class="slds-grid slds-gutters" style="margin-bottom: -40px;">
                                <div class="slds-col slds-size_2-of-12"></div>
                                <div class="slds-col slds-size_6-of-12">
                                    <lightning-combobox name="eventList" label="Select Event" placeholder="Select Event"
                                        options={eventOptions} onchange={handleVTSEventChange}>
                                    </lightning-combobox>
                                </div>
                                <div class="slds-col slds-size_4-of-12" style="align-self: flex-end;">
                                    <lightning-button variant="brand" label="Download Micro220"
                                        title="Download Micro220" class="downloadMicro220" onclick={downloadMicro220}
                                        disabled>
                                    </lightning-button>
                                </div>
                            </div>
                        </template>
                    </template>
                    <!-- sort-by="Name" sort-dir="ASC" -->
                    <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={columns}
                        placeholder="Search Appointment..."
                        sort-by="Appointment_Start_Date_v1__c, Appointment_Start_Time_v1__c, Patient__r.Name"
                        sort-dir="ASC" where-clause={whereClause}
                        table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered slds-max-medium-table_stacked-horizontal"
                        reset-table={resetTable} reload-table={reloadTable} header="Add Properties"
                        norecord-message="No Appointments Found." show-all-paginator-buttons=true
                        onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag} if:true={columns}>
                    </c-oktcgenericpaginator>
                </template>
            </lightning-tab>
            
            <lightning-tab label="Cancelled Appointments" if:false={isMobile}>
                <template if:true={showPaginator}>
                    <c-oktcgenericpaginator object-name="Appointment__c" numberofcolumns="7" columns={columns3}
                        placeholder="Search Appointment..." sort-by="Name" sort-dir="ASC" where-clause={whereClause3}
                        table-class="property-table slds-table slds-table_cell-buffer slds-table_bordered"
                        reset-table={resetTable3} reload-table={reloadTable3} header="Add Properties"
                        norecord-message="No Appointments Found." show-all-paginator-buttons=true
                        selected-tab-name="Cancelled Appointments"
                        onpaginatoraction={handlePaginatorAction} onresetflag={resetFlag}></c-oktcgenericpaginator>
                </template>
            </lightning-tab>

        </lightning-tabset>
        <template if:true={showCalendar}>
            <c-okpc-schedule-appointment appointment-id={appointmentId} oncloseappointment={hideModal}
                account-id={recordId} event-process={eventProcess} is-second-dose={isSecondDose}
                old-vaccine-class={oldVaccineClass} event-ids={eventIds} is-rescheudle={isRescheudle}>
            </c-okpc-schedule-appointment>

            
        </template>
        <template if:true={showConfirmation}>
            <c-oktccompleteconfirmation type={type} appointment-id={appointmentId} onclose={hideModal}
                hide-barcode-artefacts>
            </c-oktccompleteconfirmation>
        </template>
        <template if:true={showBatchModal}>
            <c-oktc-assign-batch-modal type={type} heading="Select Lab" appointment-list={selectedAppointmentIds}
                appointment-id={appointmentId} onclosebatch={hideBatchModal}>
            </c-oktc-assign-batch-modal>
        </template>
    </div>
</template>