<template>

  <template if:true={isNotRequired}>
    <lightning-input type="text" max-length="10" class="customDOB" name="dob" value={dob} if:false={disbaleField}
    label="Date of Birth (MM-DD-YYYY)" placeholder="Enter Date of Birth" onkeyup={isValid}></lightning-input>
    <div class="slds-form-element" if:true={disbaleField}>
            <label class="slds-form-element__label">
              <abbr class="slds-required" title="required">* </abbr>DOB</label>
            <div class="slds-form-element__control">
              <input style="color:black;" type="text" disabled value={dob} class="slds-input" />
            </div>
        </div>
  </template>
  <template if:false={isNotRequired}>
    <lightning-input type="text" max-length="10" class="customDOB" name="dob" value={dob} if:false={disbaleField}
    label="Date of Birth (MM-DD-YYYY)" placeholder="Enter Date of Birth" onkeyup={isValid} required></lightning-input>
    <div class="slds-form-element" if:true={disbaleField}>
            <label class="slds-form-element__label">
              <abbr class="slds-required" title="required">* </abbr>DOB</label>
            <div class="slds-form-element__control">
              <input style="color:black;" type="text" disabled value={dob} class="slds-input" />
            </div>
        </div>
  </template>
    
</template>