<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 12-06-2021
  @last modified by  : Vamsi Mudaliar
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   07-02-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <section onkeydown={handleKeyDown} role="alertdialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_small">
        <div class="slds-modal__container">
            <div class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" name="close"
                    title="Close" onclick={handleClick}>
                    <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h1 if:false={forVaccination} id="modal-heading-01" class="slds-modal__title slds-hyphenate">SELECT
                    PERSON FOR TESTING</h1>
                <h1 if:true={forVaccination} id="modal-heading-02" class="slds-modal__title slds-hyphenate">SELECT
                    PERSON FOR VACCINATION</h1>
                </div>
            <div class="slds-modal__content slds-p-around_medium" style="overflow:initial;">
                <template if:false={isValidated}>
                    <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
                        <span class="slds-assistive-text">error</span>
                        <h2 class="error-text">{errorMessage}</h2>
                    </div>
                </template>
                
                <template if:true={isShowUpdateDetailPage}>
                    <div style="text-align: center;">
                    <lightning-button label={buttonLabel} onclick={handleGoToUpdateDetails}></lightning-button>
                </div>
                </template>
                <div class="sensory-indicator-block"></div>
                <p>Choose the person you would like to make an appointment for. If you don't see that person listed, you can add them using the "Add Dependent/Household Member/Client" button.</p>
                <div class="slds-m-top_medium slds-align_absolute-center slds-grid_vertical custom-input-group select-person-for-testing-combobox" aria-label="Select Person">
                    <abbr title="required" class="slds-required">*</abbr>
                    <lightning-combobox name="progress" label="Status" value={value} placeholder="Select Progress"  aria-label="Select Person"
                        options={options} onchange={handleChange} required variant="label-hidden" class="contact-picklist slds-p-around_x-small"></lightning-combobox>
                        <!-- Added by Vamsi Mudaliar -->
                    
                    <template if:true={isShowSpinner}>
                        <div class="slds-is-relative spinner-container">
                            <lightning-spinner alternative-text="Loading" variant="brand"></lightning-spinner>
                        </div>
                    </template>

                </div>
                <br/>
                <template if:true={showMessageVaccination}>
                    <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
                        <span class="slds-assistive-text">warning</span>
                        <span class="slds-icon_container slds-icon-utility-warning slds-m-right_x-small">
                            <lightning-icon icon-name="utility:info" alternative-text="Information" title="information"></lightning-icon>
                        </span>
                        <h2>Great news! You can now schedule an appointment to get your first dose of a COVID-19 vaccine. Keep in mind that vaccine supplies are very limited, and appointments are available on a first come, first served basis. New appointments will be added as they become available. If you have questions, visit the <a href='https://www.healthvermont.gov/covid-19/vaccine/about-covid-19-vaccines-vermont' target='_blank'>Vermont Department of Health website</a> or call the COVID-19 Call Center at  <a href="tel:+1802-863-7240">802-863-7240</a>.</h2>
                    </div>
                </template>
            </div>
            <footer class="slds-modal__footer slds-modal__footer_directional">
                <button class="slds-button slds-button_neutral" name="cancel" onclick={handleClick}>Cancel</button>
                <template if:false={hasScheduledAppointment}>
                    <button class="slds-button slds-button_brand" name="submit" onclick={handleClick}>Submit</button>        
                </template>
            </footer>
        </div>
    </section>    
        <div class="slds-backdrop slds-backdrop_open"></div>


    <!-- Added by Vamsi Mudaliar  -->




    
</template>