<template>

    <div class="page-header">
        <h1 class="page-title">Consent</h1>
        <c-okpc-help-text help-text="Please provide your consent."></c-okpc-help-text>
    </div>

    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <div class="check-block">
        <div class="slds-form-element">
            <div class="slds-form-element__control slds-grow">

                <div class="slds-checkbox">
                    <input type="checkbox" name="options" id="checkbox-unique-id-1" value="checkbox-unique-id-1" checked={consentvalue} onchange={handleConsentChange}/>
                    <label class="slds-checkbox__label" for="checkbox-unique-id-1">
                      <span class="slds-checkbox_faux"></span>
                      <span class="slds-form-element__label">
                        I understand that the information I provide is Voluntary. I give consent for the Vermont State Department of Health (VDH) to access, use and disclose my protected health information (PHI) for Public Health Purposes. To see the VDH Privacy Notice, click the following link <a onclick={clickOfLink}>(VDH
                            303F).</a>
                      </span>
                    </label>
                  </div>
               
            </div>
        </div>

        <div class="slds-form-element slds-m-top_medium">
            <div class="slds-form-element__control slds-grow">
                <lightning-input  type="checkbox" name="screening" label="I attest that I am symptomatic as defined by CDC" checked={screeningvalue} onchange={handleScreeningChange}></lightning-input>
                <label>                        
                    <span class="slds-form-element__label">
                        Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:
                        <br/> <br/>
                        Fever or chills, cough, shortness of breath or difficulty breathing, fatigue, muscle or body aches, headache, new loss of
                        taste or smell, sore throat, congestion or runny nose, nausea or vomiting, and diarrhea.
                        <br/> <br/>
                        Look for emergency warning signs for COVID-19. If someone is showing any of these signs, seek emergency medical care
                        immediately: trouble breathing, persistent pain or pressure in the chest, new confusion, inability to wake or stay awake,
                        bluish lips or face.<br/><br/>
                        <template if:true={screeningvalue}>
                            If you are experiencing symptoms of COVID-19, please contact your primary care physician to
                            ask about testing. If you do not have a primary care physician, you can call 2-1-1 for a referral.
                        </template>
                    </span>
                </label>
            </div>
        </div>
    </div>

    <div class="controls slds-m-top_medium">
        <lightning-button variant="brand" type="submit" label="Next" name="next" onclick={saveConsent}>
        </lightning-button>
    </div>
</template>