<template>
    <div class="page-header">
        <h1 class="page-title">Demographics
        </h1>
        <c-okpc-help-text help-text="Please provide your demographic information."></c-okpc-help-text>
    </div>

    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <div class="check-block">
        <div class="slds-form-element">

            <div class="slds-form-element__control slds-grow">
                <template if:true={picklistOption1.data}>
                    <lightning-combobox name="Gender" label="What is your gender identity?" value={obj.Gender} required
                        options={picklistOption1.data.values} onchange={handleChange}></lightning-combobox>
                </template>
            </div>

            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={picklistOption2.data}>
                    <lightning-combobox name="Primary_Language" label="What is your preferred language?"
                        value={obj.Primary_Language} required options={picklistOption2.data.values}
                        onchange={handleChange}></lightning-combobox>
                </template>
                <template if:true={showIsLanguageEqualsOther}>
                    <lightning-input type="text" name="User_Language" label="Enter Your Preferred Language"
                        onchange={handleLanguageInputChange}></lightning-input>
                </template>
            </div>

            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={picklistOption3.data}>
                    <lightning-combobox name="Race" label="What is your race?" value={obj.Race} required
                        options={picklistOption3.data.values} onchange={handleChange}></lightning-combobox>
                </template>
            </div>

            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={picklistOption4.data}>
                    <lightning-combobox name="Ethnicity" label="What is your ethnicity?" value={obj.Ethnicity} required
                        options={picklistOption4.data.values} onchange={handleChange}></lightning-combobox>
                </template>
            </div>

        </div>
    </div>
    <div class="controls slds-m-top_medium">
        <lightning-button variant="neutral" type="submit" label="Back" class="slds-m-right_xx-small"
            onclick={navigateToBack}>
        </lightning-button>
        <lightning-button variant="brand" type="submit" label="Next" name="next" onclick={saveData}>
        </lightning-button>
    </div>
</template>