<!-- sldsValidatorIgnore -->
<!--
  @description       : 
  @author            : Balram Dhawan
  @group             : 
  @last modified on  : 01-20-2022
  @last modified by  : Balram Dhawan
-->
<template>
    <!-- Step-1 -->
    <lightning-spinner alternative-text="Loading" variant="brand" if:true={isLoading}></lightning-spinner>
    
    <div class="custom-modal" if:true={patientSelector}>
        <section role="dialog" class="slds-modal slds-fade-in-open slds-modal_small">
            <div class="slds-modal__container select-person-modal">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleModalCancel}>
                        <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="close"></lightning-icon>
                    </button>
                    <h2 class="slds-text-heading_medium slds-hyphenate">
                        SELECT PERSON FOR VACCINATION
                    </h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium" style="overflow: initial;">
                    <template if:true={missingProfileInformation}>
                        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error slds-var-m-bottom_xx-small" role="alert">
                            <span class="slds-assistive-text">error</span>
                            <h2 class="error-text">The person you are trying to schedule has Incomplete Profile. Please click UPDATE DETAILS button!</h2>
                        </div>

                        <div class="slds-align_absolute-center">
                            <lightning-button variant="neutral" label="Update Details" title="Update Details" onclick={handleUpdateDetails}></lightning-button>
                        </div>
                    </template>

                    <div class="sensory-indicator-block"></div>
                    <p>Choose the person you would like to make an appointment for. If you don't see that person listed, you can add them using the "Add Dependent/Household Member/Client" button.</p>
                    <div class="slds-var-m-top_medium slds-align_absolute-center slds-grid_vertical custom-input-group select-person-combobox" aria-label="Select Person">
                        <label class="slds-form-element__label">
                            <abbr class="slds-required" title="required">* </abbr>
                        </label>
                        <lightning-combobox
                            class="select-patient-combobox"
                            variant="label-hidden"
                            placeholder="Select Patient"
                            options={patients}
                            required
                            onchange={handlePatientChange}>
                        </lightning-combobox>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label="Cancel" onclick={handleModalCancel} title="Cancel" class="slds-var-m-right_small slds-float_left"></lightning-button>
                    <lightning-button variant="brand" label="Submit" title="Submit" if:false={missingProfileInformation} onclick={handleSubmit}></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>    

    <div class="container shrink-mobile vaccine-scheduler" if:false={patientSelector}>
        <div class={mainCss}>
            <div class="content">

                <template if:true={rescheduleWindow}>
                    <div class="slds-text-body_regular">We see that you already have a Appointment Scheduled, which action are you trying to perform?</div>
                    <div class="slds-grid slds-gutters vaccine-schedule-time-date">
                        <div class="slds-col">
                            <span class="label">Appointment Date:</span>
                            <span class="date">
                                <lightning-formatted-date-time year="numeric" month="numeric" day="numeric" value={appointmentToReschedule.Appointment_Date__c}></lightning-formatted-date-time>
                            </span>
                        </div>
                        <div class="slds-col">
                            <span class="label">Appointment Time:</span>
                            <span class="date">
                                <lightning-formatted-date-time 
                                    value={appointmentToReschedule.Appointment_Start_Time_v1__c} 
                                    hour="2-digit" 
                                    minute="2-digit"
                                    time-zone="UTC">
                                </lightning-formatted-date-time>
                            </span>
                        </div>
                    </div>
                    <fieldset class="slds-form-element">
                        <div class="slds-form-element__control">
                            <span class="slds-checkbox">
                                <input type="checkbox" id="checkbox-1" onchange={handleChange} value="reschedule" name="default" />
                                <label class="slds-checkbox__label" for="checkbox-1">
                                    <span class="slds-checkbox_faux"></span>
                                    <div class="label-flex">
                                    <span class="slds-form-element__label">I would like to Reschedule my current appointment!</span>
                                    <!-- <span class="bottom-text">Lorem ipsum sit dolor</span> -->
                                    </div>
                                </label>
                            </span>
                            <span class="slds-checkbox" if:false={disableNextDoseButton}>
                                <input type="checkbox" id="checkbox-2" value="scheduleNextDose" name="default" onchange={handleChange} disabled={disableNextDoseButton}/>
                                <label class="slds-checkbox__label" for="checkbox-2">
                                    <span class="slds-checkbox_faux"></span>
                                    <div class="label-flex">
                                    <span class="slds-form-element__label">I have already received this dose and would like to schedule an additional Dose.</span>
                                    <!-- <span class="bottom-text">Lorem ipsum sit dolor</span> -->
                                    </div>
                                </label>
                            </span>
                        </div>
                    </fieldset>
                </template>

                <template if:true={doseSelector}>
                    <div class="slds-text-body_regular slds-var-m-top_small">Which vaccine dose are you trying to schedule?</div>

                    <fieldset class="slds-form-element">
                        <div class="slds-form-element__control">
                            <template if:true={pendingDoses} for:each={pendingDoses} for:item="dose" for:index="index">
                                <div class="slds-grid slds-gutters" key={dose.value}>
                                    <div class="slds-col">
                                        <div class={dose.class}>
                                            <input type="checkbox" name={dose.name} id={dose.value} value={dose.value} onchange={handleChange} disabled={dose.disabled} checked={dose.isCompleted}/>
                                            <label class={dose.labelClass} for={dose.value}>
                                                <span class="slds-checkbox_faux"></span>
                                                <span class="slds-form-element__label">{dose.label}</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="slds-col" if:true={dose.isCompleted}>
                                        <span class="dose-completed-text">Dose Completed</span>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </fieldset>
                </template>
    
                <template if:true={enterExistingDoseInformation}>
                    <div class="slds-text-body_regular">When and what type of Vaccine did you receive for your <span class="bold-text">{vaccineTypeName}</span>?</div>
                    <div class="form-wrapper">

                        <div class="slds-grid slds-wrap form-flex">
                            <div class="slds-col slds-size_1-of-3">
                                <span class="form-section-heading">Vaccine Type</span>
                            </div>
                            <div class="slds-col slds-size_2-of-3">
                                <span class="form-section-heading">Date Received</span>
                            </div>
                        </div>

                        <div class="slds-grid slds-wrap form-flex">
                            <template if:true={vaccineClasses} for:each={vaccineClasses} for:item="vaccineClass" for:index="index">
                                <div class="slds-col slds-size_1-of-3 slds-var-p-around_small" key={vaccineClass.value}>
                                    <div class="slds-checkbox">
                                        <input type="checkbox" required name="vaccineClass" id={vaccineClass.value} value={vaccineClass.value} onchange={handleChange} />
                                        <label class="slds-checkbox__label" for={vaccineClass.value}>
                                            <span class="slds-checkbox_faux"></span>
                                            <span class="slds-form-element__label">{vaccineClass.label}</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_2-of-3 slds-var-p-around_small" key={vaccineClass.value}>
                                    <div class="slds-form-element slds-dropdown-trigger slds-dropdown-trigger_clickundefined">
                                        <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right">
                                            <!-- <input type="date" placeholder=" " class="slds-input" />
                                            <button class="slds-button slds-button_icon slds-input__icon slds-input__icon_right" title="Select a date">
                                                <lightning-icon icon-name="utility:event" alternative-text="Event" ></lightning-icon>
                                                <span class="slds-assistive-text">Select a date</span>
                                            </button> -->
                                            <lightning-input 
                                                style="display: none;"
                                                data-name={vaccineClass.value}
                                                required
                                                type="date" 
                                                variant="label-hidden" 
                                                name="vaccineDate">
                                            </lightning-input>
                                        </div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </template>
    
                <template if:true={vaccineClassNotSupported}>
                    <div class="message-box">
                        <div class="slds-text-body_regular">Please contact the Vermont Department of Health COVID-19 Call Center at <span class="bold-text">(802) 863-7240</span> to schedule your Next Dose Vaccination.</div>
                    </div> 
                </template>
    
                <template if:true={notEligible}>
                    <div class="message-box">
                        <div class="slds-text-body_regular">Based on your age, health or occupation, you are not currently eligible for the next dose.  Please call XXX-XXX-XXXX if you feel this is a mistake.</div>
                    </div>
                </template>

                <template if:true={waiver}>
                    <div class="slds-text-heading_large">Waiver</div>
                            <div class="sensory-indicator-block"></div>
                            <div class="slds-form-element checkbox-wrapper">
                                <div class="slds-form-element__control">
                                <div class="slds-checkbox">
                                    <abbr class="slds-required" title="required">*</abbr>
                                    <input type="checkbox" name="options" id="checkbox-unique-id-115" value="checkbox-unique-id-115" />
                                    <label class="slds-checkbox__label" for="checkbox-unique-id-115">
                                    <span class="slds-checkbox_faux"></span>
                                    <span class="slds-form-element__label" style="text-align: justify;">I certify that I am: (a) the patient and at least 18 years of age; (b) the legal guardian of the patient; or (c) a person authorized to consent on behalf of the patient where the patient is not otherwise competent, is unable to consent for themselves, or has authorized me to consent on their behalf.</span>
                                    </label>
                                </div>
                                </div>
                            </div>
                            <ul class="slds-list_dotted">
                                <li>
                                    <a href="https://www.fda.gov/media/144638/download" target="_blank"
                                        aria-label="FDA Fact Sheet for Moderna COVID-19 Vaccine, this link will open in a new tab">
                                        FDA Fact
                                    Sheet for <b>Moderna</b> COVID-19 Vaccine</a>
                                </li>
                                <li>
                                    <a href="https://www.fda.gov/media/144414/download" target="_blank"
                                        aria-label="FDA Fact Sheet for Pfizer-BioNTech COVID-19 Vaccine, this link will open in a new tab">
                                        FDA
                                        Fact Sheet for <b>Pfizer-BioNTech</b> COVID-19 Vaccine</a>
                                    </li>
                                <li>
                                    <a href="https://www.fda.gov/media/146305/download" target="_blank"
                                        aria-label="FDA Fact Sheet for Janssen COVID-19 Vaccine, this link will open in a new tab">
                                        FDA Fact
                                        Sheet for <b>Janssen</b> COVID-19 Vaccine</a>
                                    </li>
                            </ul>
                            <div class="message-box">
                                <div class="slds-text-body_regular" style="text-align: justify;">In scheduling this vaccine appointment I acknowledge that I have had access to the EUA Fact Sheet on the vaccine(s), above. I understand, for myself or someone who has authorized me to consent on their behalf, the risks and benefits associated with the above vaccine(s) and accept the risks, both known and unknown, associated with receiving this vaccine, including being required to remain at the vaccine site to be monitored for 15-minutes after receiving the vaccine. I request that the vaccine be given to me or to the person named above for whom I am authorized to make this request</div>
                            </div>  
                </template>

                <template if:true={eventSelector}>

                    <c-okpc-schedule-appointment 
                        is-citizen-portal
                        appointment-id={appointmentToReschedule.Id}
                        oncloseappointment={appointmentScheduledHandler} 
                        dose-type={appointmentToReschedule.Event__r.Private_Access__r.Vaccine_Type__c}
                        event-process={appointmentToReschedule.Event_Process__c} 
                        is-second-dose={alreadyVaccinatedWithFirstDose}
                        old-vaccine-class={oldVaccineClass} 
                        latest-completed-appointment={latestCompletedAppointment}
                        appointment-to-reschedule={appointmentToReschedule}
                        is-rescheudle 
                        contact-id={preRegRecord.Contact__c}
                        is-immune-weak={preRegRecord.Is_Immune_Weak__c}
                        if:false={requireNextDoseWindow}>
                    </c-okpc-schedule-appointment>

                    <c-okpc-schedule-appointment 
                        if:true={requireNextDoseWindow}
                        is-citizen-portal
                        contact-id={preRegRecord.Contact__c}
                        is-immune-weak={preRegRecord.Is_Immune_Weak__c}
                        latest-completed-appointment={latestCompletedAppointment}
                        dose-type={userRequestsForVaccineType}
                        oncloseappointment={appointmentScheduledHandler}
                        appointment-id={latestCompletedAppointment.Id} 
                        event-process={latestCompletedAppointment.Event_Process__c} 
                        is-second-dose={alreadyVaccinatedWithFirstDose}
                        old-vaccine-class={oldVaccineClass}>
                    </c-okpc-schedule-appointment>
                </template>
                
            </div>
            <div class="footer">
                <ul class="slds-button-group-row">
                    <li class="slds-button-group-item">
                        <button class="slds-button slds-button_neutral" if:false={hideNextButton} onclick={handleModalCancel}>Cancel</button>
                    </li>
                    <li class="slds-button-group-item">
                        <button class="slds-button slds-button_neutral" if:true={hideNextButton} onclick={handleModalCancel}>Exit</button>
                    </li>
                    <li class="slds-button-group-item">
                        <button class="slds-button slds-button_neutral" if:false={hideNextButton} onclick={handleSubmit}>Next</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="custom-modal" if:true={openVaccineConfirmationModal}>
        <section role="dialog" tabindex="-1" aria-label="" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open appointment-confirmation-modal">
            <div class="slds-modal__container">
              <header class="slds-modal__header slds-modal__header_empty">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                  <lightning-icon icon-name="utility:close" alternative-text="Close" ></lightning-icon>
                </button>
              </header>
              <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                <div class="slds-text-body_regular title-text">Please confirm the information you provided for your <span class="bold-text">{vaccineTypeName}</span>?</div>
                <div class="details-wrapper">
                  <div class="slds-grid slds-wrap detail-flex">
                    <div class="slds-col slds-size_1-of-2">
                      <span class="form-section-heading">Vaccine Type</span>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                      <span class="form-section-heading">Date Received</span>
                    </div>
                  </div>
                  <div class="slds-grid slds-wrap detail-flex">
                    <div class="slds-col slds-size_1-of-2">
                      <span class="slds-text-body_regular">{userEnteredDoseData.selectedVaccineClass}</span>
                    </div>
                    <div class="slds-col slds-size_1-of-2">
                      <span class="slds-text-body_regular">
                        <!-- <lightning-formatted-date-time year="numeric" month="numeric" day="numeric" value={userEnteredDoseData.selectedVaccineDate}></lightning-formatted-date-time> -->
                        {enteredVaccineDate}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" onclick={closeModal}>Edit</button>
                <button class="slds-button slds-button_neutral" onclick={handleDoseConfirmation}>Confirm</button>
              </footer>
            </div>
          </section>
          <div class="slds-backdrop slds-backdrop_open"></div>
    </div>

</template>