<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 10-19-2021
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-23-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <template if:true={showPageHeader}>
        <span class="sr-only pageTitle" tabindex="0">{locationTitle}</span>
    </template>
    <section onkeydown={handleKeyDown} role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
        aria-describedby="modal-content-id-1"
        class="slds-modal slds-fade-in-open slds-modal_large modal-width-map-conatiner">
        <div class="slds-modal__container">
            <div class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={handleCloseModal}>
                    <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close" size="medium">
                    </lightning-icon>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h1 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">
                    {locationTitle}
                    <template if:true={privateAccessGroupName}>
                        <template if:false={isVaccination}>
                            &nbsp;({privateAccessGroupName})
                        </template>
                    </template>
                </h1>
            </div>
            <div class="slds-modal__content slds-p-around_medium modal-body modal-height" id="modal-content-id-1">
                <div class="sensory-indicator-block"></div>
                <c-vtpc-site-map oneventselected={handleEventSelected} site-id={accountId}
                    private-access-id={privateAccessId} event-process={eventProcess}
                    vaccination-private-access={vaccinationPrivateAccess} is-vaccination={isVaccination} location-title={locationTitle} pre-reg-date-time={preRegDateTime}
                    second-dose-data={secondDoseData}>
                </c-vtpc-site-map>
            </div>
            <footer class="slds-modal__footer">
                <lightning-button if:true={selectedMarkerValue} label="Select" variant="brand" onclick={handleSaveModal}
                    style="margin-right: 10px;" disabled={isSelectDisabled}></lightning-button>
                <lightning-button label="Cancel" variant="neutral" onclick={handleCloseModal}></lightning-button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>