<!--
  @description       : 
  @author            : Mohit Karani
  @group             : 
  @last modified on  : 01-17-2022
  @last modified by  : Mohit Karani
-->
<template>
  <div if:true={showSpinner}>
    <div class="exampleHolder">
      <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>
  </div>

  <div class="app-content center-align-card">
    <div class="slds-grid slds-wrap">
      <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
        <div class="card-photo-cred">
          <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_12-of-12 slds-large-size_12-of-12" style="font-size: 16px;">
              <b>Confirm Your Account</b>
              <br />
              <span>Once you have confirmed your account, you will be able to log in to your account. </span>
              <br />
              <br />
              <span>For help or technical assistance: Please call the Vermont Department of Health COVID-19 Call Center
                at (802) 863-7240</span>
            </div>
          </div>

        </div>
      </div>

      <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
        <div class="card-right-content">

          <div class="card-header">
            <!--Fix for issue : I-25326-->
            <p class="browserCompatibility">
              For best performance of this application, please use the latest version of Chrome, Firefox, or Safari (on
              Mac OS).
            </p>

            <br />

            <div class="intro">Confirm Your Account</div>
            <!-- <h1>Enter your details below</h1> -->

            <div class="slds-form-element slds-p-bottom_medium">
              <template if:true={showError}>
                <div class="error">{errorMessage}</div>
              </template>
              <label class="slds-form-element__label" for="text-input-id-1">
                <abbr class="slds-required" title="required">* </abbr>Patient ID <span>(<a
                    href={label.OK_PatientIdForgetURL}>Forgot Your Patient ID?</a>)</span></label>
              <div class="slds-form-element__control">
                <input type="text" name="username" placeholder="Enter Patient ID (ie P-#######)" required=""
                  value={patientId} class="slds-input" onchange={patientIdChange} />
              </div>
            </div>
            <div class="slds-form-element slds-p-bottom_medium">

              <label class="slds-form-element__label" for="text-input-id-1">
                <abbr class="slds-required" title="required">* </abbr>Email</label>
              <div class="slds-form-element__control">
                <input type="email" name="email" placeholder="Enter Email" required="" value={email} class="slds-input"
                  onchange={emailChange} />
              </div>
            </div>


            
            <c-vt_ts_custom_date onupdatedob={updateDOBField}></c-vt_ts_custom_date>

            <div class="slds-form-element slds-p-bottom_medium">
              <label class="slds-form-element__label" for="text-input-id-1">
                <abbr class="slds-required" title="required">* </abbr>Password</label>
              <div class="slds-form-element__control">
                <input type="password" name='password' placeholder="Enter Password" required="" class="slds-input"
                  value={password} onchange={passwordChange} />
                <span style="font-size: 10px;">
                  The password must include the following:<br />
                  1. Characters and numbers<br />
                  2. At least 1 special character<br />
                  3. Min length of 10 characters</span>
              </div>
            </div>
            <div class="slds-form-element slds-p-bottom_medium">
              <label class="slds-form-element__label" for="text-input-id-1">
                <abbr class="slds-required" title="required">* </abbr>Confirm Password</label>
              <div class="slds-form-element__control">
                <input type="password" name='password' placeholder="Confirm Password" required="" class="slds-input"
                  value={confirmPassword} onchange={confirmPasswordChange} />
              </div>
            </div>
            <lightning-button label="Confirm" title="Neutral action" onclick={doRegisteration}
              class="okpc-registration-button"></lightning-button>
              
          </div>
          <div class="slds-clearfix">
            <div class="slds-float_right">
              To register and obtain a new Patient ID click <a style="color: #004e9a !important;" href={OK_SelfRegistrationURL}>here</a>.
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</template>