<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 01-03-2022
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   07-02-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <template if:true={showPageHeader}>
        <span class="sr-only pageTitle" tabindex="0" aria-live="polite">Consent</span>
    </template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <div class="page-header">
        <h1 class="page-title page-header-title">Consent</h1>

        <lightning-formatted-rich-text
            value="Please open the below links to review important COVID-19 testing and vaccine
            information before registering or arriving for your test or vaccination. <br/> <br/> <ul> <li><a aria-label='Vermont Agency of Human Services Notice of Privacy Practices, this will open in new tab' target='_blank' href='https://humanservices.vermont.gov/sites/ahsnew/files/doc_library/AHS%20Notice%20of%20Privacy%20Practices.pdf' >Vermont Agency of Human Services Notice of Privacy Practices</a> </li> <li><a target='_blank' href='https://www.healthvermont.gov/covid-19/vaccine' aria-label='Vermont Health Department – COVID-19 Vaccine  Information Site, this will open in new tab'>Vermont Health Department – COVID-19 Vaccine  Information Site</a> </li> <li><a target='_blank' href='https://www.healthvermont.gov/covid-19/testing' aria-label='Vermont Health Department – COVID-19 Testing Information Site, this will open in new tab'>Vermont Health Department – COVID-19 Testing Information Site</a> </li> </ul>">
        </lightning-formatted-rich-text>
        

        </div>
    <div class="check-block">
        <div class="slds-form-element">
            <div class="slds-form-element__control slds-grow">
                <template if:true={showConsentCheckbox}>
                    <div if:true={showAsteriskMessage} style="color:#ea001e;">
                        * indicates required field
                    </div>
                    <div class="slds-checkbox">
                        <input type="checkbox" name="options" id="checkbox-unique-id-1" value="checkbox-unique-id-1"
                            checked={consentvalue} onchange={handleConsentChange} />
                        <label class="slds-checkbox__label" for="checkbox-unique-id-1">
                            <span class="slds-checkbox_faux"></span>
                            <span class="slds-form-element__label">
                                <!-- <div> -->
                                    <lightning-formatted-rich-text
                                        value="By checking this box, I certify for myself, as legal guardian for another for whom I am registering, or as a person otherwise authorized by the individual for whom I am registering for COVID-19 testing or vaccination services that I have reviewed the <a target='_blank' href='https://humanservices.vermont.gov/sites/ahsnew/files/doc_library/AHS%20Notice%20of%20Privacy%20Practices.pdf' aria-label='Notice of Privacy Practices, this will open in new tab'>Notice of Privacy Practices</a> and have had access to the information and health recommendations regarding the COVID-19, provided above.">
                                    </lightning-formatted-rich-text>
                                    
                                   </span>
                        </label>
                    </div>
                </template>
            </div>
        </div>
       
    </div>

    <div class="controls slds-var-m-top_medium">

        <lightning-button 
            variant="neutral" 
            if:true={istesting}
            label="Cancel" 
            title="Cancel" 
            onclick={handleConsentCancel} 
            class="slds-var-m-right_xx-small">
        </lightning-button>

        <lightning-button variant="neutral" type="submit" if:false={istesting} label="Cancel" class="slds-var-m-right_xx-small"
            onclick={navigateToCancel}>
        </lightning-button>
        <lightning-button variant="brand" type="submit" label="Next" name="next" onclick={saveConsent}>
        </lightning-button>
    </div>
</template>