<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 06-22-2021
  @last modified by  : ChangeMeIn@UserSettingsUnder.SFDoc
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-21-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div class="slds-card slds-m-bottom_large">
        <div class="slds-modal__header">
            <h1 class="slds-modal__title slds-hyphenate slds-text-heading_medium">{modalHeader}</h1>
        </div>
        <div class="slds-var-p-around_small slds-var-m-top_small" style={contentStyle}>
            <div class="sensory-indicator-block"></div>
            <div class="slds-notify_alert slds-theme_alert-texture slds-theme_warning" role="alert">
                <span class="slds-assistive-text">warning</span>
                <div>
                    <lightning-formatted-rich-text value={guestUserSearchEventInformation}>
                    </lightning-formatted-rich-text>

                </div>
            </div>
            <template if:true={isStep1}>
                <c-vtpc-site-map oneventselected={handleEventSelected} site-id={accountId} event-id={eventId}
                    onpastdateselection={pastDateSelection} location-title="Pick Testing Site">
                </c-vtpc-site-map>
            </template>
            <template if:true={isStep2}>
                <br /><br />
                <c-vtts_cp_calendar hide-preffered-time={hidePrefferedTime} accountid={accountId} event-id={eventId}
                    slot-id={slotId}>
                </c-vtts_cp_calendar>
            </template>
        </div>
        <footer class="slds-modal__footer" role="region">
            <template if:false={registrationComplete}>
                <template if:false={isStep1}>
                    <lightning-button disabled={isStep1} label="Previous" name="previous" onclick={handleClick}
                        class="slds-var-m-around_small">
                    </lightning-button>
                </template>

                <template if:false={isStep2}>
                    <lightning-button disabled={isNextEnabled} label="Next" name="next" variant="brand"
                        onclick={handleClick}></lightning-button>
                </template>
            </template>
            <template if:true={registrationComplete}>
                <lightning-button label="Finish" name="finish" variant="brand" onclick={handleClick}></lightning-button>
            </template>
        </footer>
    </div>
</template>