<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 11-24-2021
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-21-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <div class="app-content sensory-indicator center-align-card">
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
                <div class="card-photo-cred">
                    <div class="slds-grid slds-wrap">
                        <!-- <div class="slds-col slds-size_12-of-12 slds-large-size_12-of-12">
                      <img class="login-photo" src={customImage} />
                    </div> -->
                        <div class="slds-col slds-size_12-of-12 slds-large-size_12-of-12" style="font-size: 16px;">
                            <span>Log in to register for an event, get your test results, or update your account and
                                preferred
                                communication methods.</span>
                            <br /><br />
                            <span>Need to create an account? <b><a href={loginSelRegUrl}
                                        aria-label="Create an account">Click here</a></b></span>
                            <br /><br />
                            <span>For help or technical assistance: Please call the Vermont Department of Health
                                COVID-19 Call Center at <a href="tel:+802-863-7240">(802) 863-7240</a></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
                <div class="card-right-content">
                    <div class="card-header page-header">
                        <!--change-->
                        <p class="browserCompatibility ">
                            For best performance of this application, please use the latest version of Chrome, Firefox,
                            or Safari (on
                            Mac OS).
                        </p></br>
                        <div class="intro">Login</div>
                        <h1 class="page-title cred-title heading-one">Welcome back</h1>

                        <div class="slds-form-element slds-p-bottom_medium">
                            <template if:true={showError}>
                                <div class="error" role="alert" aria-live="assertive">{errorMessage}</div>
                            </template>
                            <!-- <lightning-input type="text" label="test">
                            </lightning-input> -->
                            <label class="slds-form-element__label" for="text-input-id-1">
                                <abbr class="slds-required" title="required">* </abbr>Email</label>
                            <div class="slds-form-element__control">
                                <input type="email" name={randomName} placeholder="Enter Email" required
                                    value={username} class="slds-input" onchange={nameChange}
                                    autocomplete="new-password" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" />
                            </div>
                        </div>
                        <div class="slds-form-element slds-p-bottom_medium">
                            <label class="slds-form-element__label" for="text-input-id-1">
                                <abbr class="slds-required" title="required">* </abbr>Password</label>
                            <div class="slds-form-element__control">

                                <input type="password" name={randomName} placeholder="Enter Password" required
                                    class="slds-input" value={password} onchange={passwordChange} />
                            </div>
                        </div>

                        <div class="slds-clearfix slds-var-m-vertical_small">
                            <c-recaptcha></c-recaptcha>
                        </div>

                        <div class="slds-clearfix slds-p-bottom_medium">
                            <div class="slds-float_right">
                                <a href="#" onclick={navigateToForgotPassword}>Forgot Password?</a>
                            </div>
                            <lightning-button label="&nbsp;&nbsp;Login&nbsp;&nbsp;" title="Neutral action"
                                onclick={doLogin} class="okpc-registration-button"></lightning-button>
                        </div>


                        <!--
                        <div class="note error-box">
                              <div><strong>Error:</strong><br> Type your error message over here.</div>
                        </div>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>