<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 10-19-2021
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-21-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>

    <template if:true={showPageHeader}>
        <span class="sr-only pageTitle" tabindex="0">Appointment Scheduling</span>
    </template>

    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>

    <template if:true={showMapModal}>
        <c-okpc-location-map 
            onclose={handleMapModalClose} 
            oneventselected={handleEventSelected} 
            private-access-id={privateEventId}
            vaccination-private-access = {vaccinationPrivateAccess} 
            private-access-group-name={privateGroupName} 
            second-dose-data={secondDoseData}
            event-process={eventProcess} pre-reg-date-time={preRegDateTime}>
        </c-okpc-location-map>
    </template>

    <template if:true={showSingleMap}>
        <c-okpc-open-map title="Map" map-markers={mapMarkers} onclosesingle={handlesingleMapClose}></c-okpc-open-map>
    </template>

    <template if:true={showLocationDetails}>
        <div class="map-group p-b">
            <div class="section-heading">
                <h2 class="section-title">Location details</h2>
            </div>
            <div class="map-card d-sm-flex">
                <!-- <div class="map-img">
                    <div class="iframe-container">
                        <iframe
                            src="https://www.google.com/maps/dir/?api=1&origin=l1,l2&destination=+35.608124,
                            -97.596833&travelmode=driving"
                            width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""
                            aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div> -->
                <div class="details">
                    <div class="address">{accountDetails.title}</div>
                    <div class="address">{location.Street}</div>
                    <div class="city">{location.City}, {location.State}
                        {location.PostalCode}</div>
                    <div class="m-t-sm">
                        <a onclick={handleSingleMap} class="slds-button button_neutral" tabindex="0">View map</a>
                    </div>
                    <!-- <div class="m-t-sm">
                        <a href="" class="slds-button button_brand">Get directions</a>
                    </div> -->
                </div>
            </div>
        </div>
    </template>


    
    <template if:false={showtestingSite}>
        <div class="row align-items-center p-b-md">
            <div class="col-auto">
                <lightning-button label="Change Location" name="picklocation" onclick={handleMapModal} variant="brand"
                    if:true={showLocationDetails}>
                </lightning-button>

                <lightning-button label="Pick Location" name="picklocation" onclick={handleMapModal} variant="brand"
                    if:false={showLocationDetails}>
                </lightning-button>
            </div>
            <!-- <div class="col-auto">
                <div><strong>Preferred Site:</strong> {selectSiteName}</div>
            </div> -->
        </div>
    </template>
    <!-- <template if:true={showtestingSite}>
        <div class="row align-items-center p-b-md">
            <div class="col-auto">
                <div><strong>Testing Site:</strong> {testingSite}</div>
            </div>
        </div>
    </template> -->


 <!--  <div class="row form-section p-b-md">
        <div class="col-auto">
            <lightning-input type="date" name="preferredDate" min={todayDate} label="Preferred Date" disabled={disableInputs}
                onchange={handleInputChange} value={preferredDate}>
            </lightning-input>
        </div>
        <div class="col-auto"> -->
            
            <!--*Below line was already commented so if un commenting the preffered date time filed for COVID portal
                dont un comment the lin 81 - 83 , we can un comment 72 - 78 , 84 - 88*-->

            <!--<lightning-input type="time" name="preferredTime" label="Preferred Time" disabled={disableInputs}
                min="07:00:00.000Z" max="19:00:00.000Z" onchange={handleInputChange} value={preferredTime}>
            </lightning-input>-->
        <!--    <lightning-input type="time" name="preferredTime" label="Preferred Time" disabled={disableInputs}
            min={preferredTimeMin} max={preferredTimeMax} onchange={handleInputChange} value={preferredTime}>
            </lightning-input>
        </div>
    </div> -->
   <!-- <div class="q-block"> 
        <div class="touch-inputs">
            <lightning-radio-group class="horizontal-radio customRadioCls" name="symptomatic" label="Are you symptomatic, as defined by CDC? * (Y/N)" options={Options} value={symptomatic}  
                  required  onchange={handleradiochange} type="radio"></lightning-radio-group>  
        </div> 
        <div class="slds-p-top_small"><c-okpc-help-text
                    help-text="Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:

                    Fever or chills, cough, shortness of breath or difficulty breathing, fatigue, muscle or body aches, headache, new loss of taste or smell, sore throat, congestion or runny nose, nausea or vomiting, and diarrhea. 
                    
                    Look for emergency warning signs for COVID-19. If someone is showing any of these signs, seek emergency medical care immediately: trouble breathing, persistent pain or pressure in the chest, new confusion, inability to wake or stay awake, bluish lips or face">
         </c-okpc-help-text>
        </div>
         <div if:true={showHelpText}>
             <p class = "slds-p-top_small"><b>If you are experiencing symptoms of COVID-19, please contact your primary care physician to ask about testing. If you do not have a primary care physician, you can call 2-1-1 for a referral.</b></p>
         </div>
    </div>-->
    <template if:false={hideAppointment}> 
        <template if:true={canSchedule}> 
            <div class="row align-items-center p-b-md">
                <div class="col-auto">
                    <lightning-button label="Schedule Appointment" name="schedule" onclick={showAppointments} variant="brand" disabled={isScheduleAppointmentDisabled}>
                    </lightning-button>
                </div>
            </div> 
        </template>
    </template>
 
        <template if:true={isModalOpen}>
            <!-- Modal/Popup Box LWC starts here -->
            <section onkeydown={handleKeyDown} role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <!-- Modal/Popup Box LWC header here -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close"
                                alternative-text="close"
                                variant="inverse"
                                size="small" ></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h1 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Schedule Appointment</h1>
                    </header>
                    <!-- Modal/Popup Box LWC body starts here -->
                    <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                        <div class="q-block"> 
                            <div class="touch-inputs">
                                <lightning-radio-group class="horizontal-radio customRadioCls" name="symptomatic" label="Are you symptomatic, as defined by CDC? * (Y/N)" options={Options} value={appData.appointmentObj.symptomatic}  
                                      required  onchange={handleradiochange} type="radio"></lightning-radio-group>  
                            </div> 
                            <div class="slds-p-top_small"><c-okpc-help-text
                                        help-text="Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:
                                        <br/> <br/>
                                        Fever or chills, cough, shortness of breath or difficulty breathing, fatigue, muscle or body aches, headache, new loss of taste or smell, sore throat, congestion or runny nose, nausea or vomiting, and diarrhea. 
                                        <br/> <br/>
                                        Look for emergency warning signs for COVID-19. If someone is showing any of these signs, seek emergency medical care immediately: trouble breathing, persistent pain or pressure in the chest, new confusion, inability to wake or stay awake, bluish lips or face.">
                             </c-okpc-help-text>
                            </div>
                             <div if:true={showHelpText}>
                                 <p class = "slds-p-top_small"><b>If you are experiencing symptoms of COVID-19, please contact your primary care physician to ask about testing. If you do not have a primary care physician, you can call 2-1-1 for a referral.</b></p>
                             </div>
                        </div>
                       
                    </div>
                    <!-- Modal/Popup Box LWC footer starts here -->
                    <footer class="slds-modal__footer">
                        <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                        <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <template if:true={showCalendar}>
            <c-oktcscheduleappointment ifcovid ={ifcovid} recordid={appointmentId} selectvalue={selectValue} onclose={hideModal} eventid={eventId}>
            </c-oktcscheduleappointment>  
        </template>
    

</template>