<!--
  @description       : 
  @author            : Mohit Karani
  @group             : 
  @last modified on  : 01-20-2022
  @last modified by  : Mohit Karani
-->
<template>
    <template if:true={showPageHeader}>
        <span class="sr-only pageTitle" tabindex="0">Schedule Appointment</span>
    </template>
    <div class="page-header">
        <h1 class="page-title page-header-title" style="font-size: 1.5rem;">Schedule Appointment</h1>
        <c-okpc-help-text help-text=" "></c-okpc-help-text>
    </div>

    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <template if:true={canSchedule}>
        <div class="row align-items-center p-b-md">
            <div class="col-auto">
                <lightning-button label="Schedule Appointment" name="schedule" onclick={showAppointments}
                    variant="brand" >
                </lightning-button>
            </div>
        </div>
    </template>
    <template if:true={isModalOpen}>
        <!-- Modal/Popup Box LWC starts here -->
        <section onkeydown={handleKeyDown} role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <!-- Modal/Popup Box LWC header here -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h1 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Schedule Appointment</h1>
                </header>
                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <div class="sensory-indicator-block"></div>
                    <div class="q-block"> 
                        <div class="touch-inputs">
                            <lightning-radio-group  class="horizontal-radio customRadioCls" name="symptomatic" label="Is the attendee symptomatic, as defined by the CDC?" options={Options} value={symptomatic}  
                                  required  onchange={handleradiochange} type="radio"></lightning-radio-group>  
                        </div> 
                        <div class="slds-p-top_small"><c-okpc-help-text
                                    help-text="Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:
                                    <br/> <br/>
                                    Fever or chills, cough, shortness of breath or difficulty breathing, fatigue, muscle or body aches, headache, new loss of taste or smell, sore throat, congestion or runny nose, nausea or vomiting, and diarrhea. 
                                    <br/> <br/>
                                    Look for emergency warning signs for COVID-19. If someone is showing any of these signs, seek emergency medical care immediately: trouble breathing, persistent pain or pressure in the chest, new confusion, inability to wake or stay awake, bluish lips or face.">
                         </c-okpc-help-text>
                        </div>
                         <div if:true={showHelpText}>
                             <p class = "slds-p-top_small"><b>If you are experiencing symptoms of COVID-19, please contact your primary care physician to ask about testing. If you do not have a primary care physician, you can call 2-1-1 for a referral.</b></p>
                         </div>
                    </div>
                   
                </div>
                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={submitDetails} title="OK">OK</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
    <template if:true={showCalendar}>
        <c-oktcscheduleappointment ifcovid={ifcovid} recordid={appointmentId} selectvalue={testingSiteId}
            onclose={hideModal} eventid={siteEventId}>
        </c-oktcscheduleappointment>
    </template>
</template>