<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 01-12-2022
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-21-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
  <div if:true={showSpinner}>
    <div class="exampleHolder">
      <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
    </div>
  </div>

  <div class="app-content sensory-indicator center-align-card">
    <div class="slds-grid slds-wrap">

      <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
        <div class="card-photo-cred">
          <div class="slds-grid slds-wrap">
            
            <div class="slds-col slds-size_12-of-12 slds-large-size_12-of-12" style="font-size: 16px;">
              <b>Welcome to the COVID-19 Event Portal.</b>
              <span> Through this portal you can register for a COVID-19 vaccination clinic or
                COVID-19 testing event sponsored by the Vermont Department of Health. You will also be able to <a
                  href={loginUrl}>log in</a> and view your test results once they are available.</span>
              <br /><br />

              <h2><b>To register:</b></h2>

              <div class="slds-var-p-left_small">
                1. Create an account.<br />
                2. Check your email to verify your account and get your Patient ID (check your spam folder if you don't
                see the email).<br />
                3. Log in with your Patient ID.<br />
                4. Register for a testing or vaccination event.
              </div>

              <br />
              <br />
              <span>For help or technical assistance: Please call the Vermont Department of Health COVID-19 Call Center
                at <a href="tel:+802-863-7240">(802) 863-7240</a></span>
            </div>
          </div>
        </div>
      </div>

      <div class="slds-col slds-size_12-of-12 slds-large-size_6-of-12">
        <div class="card-right-content">
          <template if:false={showThankYou}>
            <div class="card-header">
              <h1 class="intro heading-one">Create an Account</h1>
              <!-- <h1>Enter your details below</h1> -->

              <div class="slds-form-element slds-var-p-bottom_medium">
                <template if:true={showError}>
                  <div class="error" role="alert" aria-live="assertive">{errorMessage}</div>
                </template>
                <template if:true={showSuccess}>
                  <div class="success" role="alert">{errorMessage}</div>
                </template>
                <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr class="slds-required" title="required">* </abbr>First Name</label>
                <div class="slds-form-element__control">
                  <input type="text" name={randomName} data-name="FirstName" placeholder="Enter First Name" required="" value={firstName}
                    class="slds-input" onchange={firstNameChange} />
                </div>
              </div>
              <div class="slds-form-element slds-var-p-bottom_medium">

                <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr class="slds-required" title="required">* </abbr>Last Name</label>
                <div class="slds-form-element__control">
                  <input type="text" name={randomName} data-name="lastname" placeholder="Enter Last Name" required="" value={lastName}
                    class="slds-input" onchange={lastNameChange} />
                </div>
              </div>
              <div class="slds-form-element slds-var-p-bottom_medium">
                <div class="slds-form-element__control">
                  <lightning-input type="tel" label="Phone Number" placeholder="Enter Phone Number"
                    pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$" max-length="14"
                    message-when-pattern-mismatch="provide a valid phone number" name={randomName} data-name="phone" onchange={phoneChange}
                    required value='{phone}' onkeyup={phoneChange} onblur={handleInputChange}>
                  </lightning-input>
                </div>
              </div>
              <div class="slds-form-element slds-var-p-bottom_medium">
                <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr class="slds-required" title="required">* </abbr>Email Address</label>
                <div class="slds-form-element__control">
                  <input type="email" name='email' placeholder="Enter Email" required=""
                    class="slds-input pastenoevent2" value={email} onchange={emailChange} />
                </div>
              </div>

              <div class="slds-form-element slds-var-p-bottom_medium">
                <label class="slds-form-element__label" for="text-input-id-1">
                  <abbr class="slds-required" title="required">* </abbr>Confirm Email Address</label>
                <div class="slds-form-element__control">
                  <input type="email" name='emailConfirm' placeholder="Enter Email" required=""
                    class="slds-input pastenoevent1" value={emailConfirm} onchange={confirmEmailChange} />
                </div>
              </div>

              <div class="slds-form-element slds-var-p-bottom_medium">
                <!--
                  @ Modified By - Priyanshu Nalwaya
                  @ Modified Date - 16 Jan 21
                  @ Story No - S-14625
                  @Desc - Html input was not showing date picker in safari browser
                -->
                

                <!-- <lightning-input type="text" class="customDOB" name={randomName} data-name="dob" value={dob} onkeyup={dobChange} label="Date of Birth (MM-DD-YYYY)" placeholder="Enter Date of Birth"></lightning-input> -->
                <c-vt_ts_custom_date onupdatedob={updateDOBField}></c-vt_ts_custom_date>
                
              </div>

              
              <div class="slds-float_right">

              </div>

              <div class="recaptchaInvisible">
                
              </div>

              <div>
                <c-recaptcha></c-recaptcha>
              </div>

              <!-- if:true={captchaVerified} -->
              <lightning-button label="Create Account" title="Neutral action" onclick={doRegisteration}
                class="okpc-registration-button" disabled={showSpinner}></lightning-button>
            </div>

          </template>
          <template if:true={showThankYou}>
            <div class="success" role="alert">{thankYouMessage}</div>
          </template>
         
        </div>
      </div>
    </div>
  </div>
</template>