<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 01-21-2022
  @last modified by  : Balram Dhawan
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-24-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <c-lwc-custom-toast message={customErrorMessage}></c-lwc-custom-toast>
    <template if:true={showPageHeader}>
        <span class="sr-only pageTitle" aria-label="Attendee Personal Information" tabindex="0">Attendee Personal
            Information</span>
    </template>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>

    <div class="row form-section">
        <div class="col-sm-12">
            <div if:false={ismyself}>

                I am registering for myself, or registering for a dependent or another person who has authorized me to
                register on their behalf. I attest that the registered person is myself, is a legal dependent under 18
                and/or I am their legal guardian, or is a person who has otherwise authorized me to register on their
                behalf, and I am authorized to view any test results or appointment details.

                <br />
                <template if:true={searchExistingContact}>
                    <br />
                    <div if:true={existingContactId} style="font-size: large; font-weight: bold;">Selected Contact :
                        {existingContactName}
                        &nbsp;&nbsp;
                        <lightning-icon icon-name="utility:close" size="xx-small" alternative-text="Close" title="Close"
                            onclick={removeExistingContactSelection} style="cursor: pointer;">
                        </lightning-icon>
                    </div>

                    <a if:false={existingContactId} onclick={openContactSearch}
                        style="font-size: large; font-weight: bold; border: 1px solid #d4d4d4;padding: 5px;border-radius: 2px;">Search
                        Existing Contact</a>
                    <br />
                    <br />
                </template>
                <lightning-input type="checkbox" required name={randomName} autocomplete="off"
                    data-name="registrationForAgree" aria-label="I Agree,
                 I am registering for myself,
                 or registering for a dependent
                  or another person who has authorized 
                  me to register on their behalf. I attest
                   that the registered person is myself, is a
                    legal dependent under 18 and/or I am their legal guardian, 
                    or is a person who has otherwise authorized me to register on their behalf,
                     and I am authorized to view any test results or appointment details." label="I Agree"
                    checked={dataObj.registrationForAgree} onchange={handleInputChange}></lightning-input>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="slds-form-element" if:true={disabledFirstNameLastNameDOB}>
                <label class="slds-form-element__label">
                    <abbr class="slds-required" title="required">* </abbr>First Name</label>
                <div class="slds-form-element__control">
                    <input style="color:black;" type="text" disabled value={dataObj.firstName} class="slds-input" />
                </div>
            </div>
            <lightning-input type="text" label="First Name" required if:false={disabledFirstNameLastNameDOB}
                name={randomName} autocomplete="off" data-name="firstName" onchange={handleInputChange}
                value={dataObj.firstName}>
            </lightning-input>
        </div>
        <div class="col-sm-4">
            <div class="slds-form-element" if:true={disabledFirstNameLastNameDOB}>
                <label class="slds-form-element__label">
                    <abbr class="slds-required" title="required">* </abbr>Last Name</label>
                <div class="slds-form-element__control">
                    <input style="color:black;" type="text" disabled value={dataObj.lastName} class="slds-input" />
                </div>
            </div>
            <lightning-input type="text" label="Last Name" name={randomName} autocomplete="off" data-name="lastName"
                required if:false={disabledFirstNameLastNameDOB} onchange={handleInputChange} value={dataObj.lastName}>
            </lightning-input>
        </div>
        <div class="col-sm-4">
            <div class="slds-form-element" if:true={disabledEmail}>
                <label class="slds-form-element__label">
                    <abbr class="slds-required" title="required">* </abbr>Email</label>
                <div class="slds-form-element__control">
                    <input style="color:black;" type="text" disabled value={dataObj.email} class="slds-input" />
                </div>
            </div>
            <lightning-input type="email" label="E-mail" name={randomName} autocomplete="off" data-name="email"
                onblur={onEmailOut} required if:false={disabledEmail} onchange={handleInputChange}
                value={dataObj.email}>
            </lightning-input>
            <template if:true={existEmail}>
                <p style="color:red">The e-mail address provided is already in use. If the registrant is a dependent of
                    the other account holder, the accounts should be linked.</p>
            </template>
        </div>
        <div class="col-sm-4">
            <lightning-input type="tel" label="Phone" name={randomName} autocomplete="off" data-name="phone"
                pattern="^(\([0-9]{3}\) |[0-9]{3}-)[0-9]{3}-[0-9]{4}$"
                message-when-pattern-mismatch="provide a valid phone number" onchange={handleInputChange} required
                value={dataObj.phone} onkeyup={handleInputChange} onblur={handleInputChange} maxlength="14">
            </lightning-input>
        </div>
        <div class="col-sm-4">
            <lightning-combobox autocomplete="new-password" name={randomName} data-name="phoneType" label="Phone Type"
                value={dataObj.phoneType} required options={phoneTypeOptions} onchange={handleInputChange}>
            </lightning-combobox>
        </div>
        <div class="col-sm-12  slds-p-bottom_small">
            <lightning-combobox autocomplete="new-password" type="checkbox" label="Is the attendee 18 years or older?"
                name={randomName} data-name="eighteenPlus" value={dataObj.eighteenPlus} options={onlyYesNoOptions}
                required onchange={handleInputChange}>
            </lightning-combobox>
        </div>
        <label>
            <span class="slds-form-element__label col-sm-12">
                If no, a parent or guardian must sign the consent wavier at the end of the registration process.
            </span>
        </label>
        <div class="col-sm-12 slds-p-top_small">
            <abbr class="slds-required required-text-flex" title="required">* <label class="slds-form-element__label">How would you like to receive health documents?
                <lightning-helptext
                    content="Anyone who tests positive will receive a phone call from the Department of Health, regardless of selection below."
                    aria-label="Help">
                </lightning-helptext>
            </label></abbr>
            <lightning-combobox aria-label="How would you like to receive health documents?" autocomplete="new-password"
                name={randomName} data-name="testResultCopy" variant="label-hidden" value={dataObj.testResultCopy}
                required options={resultCopyOptions} onchange={handleInputChange}>
            </lightning-combobox>
        </div>

        <div class="col-sm-6 slds-p-top_small">
            <lightning-combobox autocomplete="new-password" name={randomName} data-name="emailCheckbox"
                label="May VDH contact you via e-mail?" value={dataObj.emailCheckbox} options={onlyYesNoOptions}
                onchange={handleInputChange} required>
            </lightning-combobox>
        </div>
        <template if:true={isLandlineSelected}>
            <div class="col-sm-6 slds-p-top_small">
                <lightning-combobox autocomplete="new-password" name={randomName} data-name="smsCheckbox"
                    label="May VDH contact you via SMS/text?" value={dataObj.smsCheckbox} options={onlyYesNoOptions}
                    onchange={handleInputChange} disabled>
                </lightning-combobox>
            </div>
            <div class="col-sm-12  slds-p-bottom_small">
                <span class="warning-text">Select Phone Type 'Mobile' to receive notification</span>
            </div>
        </template>


        <template if:false={isLandlineSelected}>
            <div class="col-sm-6 slds-var-p-top_small">
                <lightning-combobox autocomplete="new-password" name={randomName} data-name="smsCheckbox"
                    label="May VDH contact you via SMS/text?" value={dataObj.smsCheckbox} options={onlyYesNoOptions}
                    onchange={handleInputChange} required>
                </lightning-combobox>
            </div>
        </template>

        </br>
        <div class="checkbox-flex">
            <lightning-input type="checkbox" class="consent" checked={dataObj.resultRecieveConsent}
                value={dataObj.resultRecieveConsent} data-name="resultRecieveConsent" onchange={handleInputChange}
                name={randomName} label={resultRecieveConsentLabel} required>
            </lightning-input>
        </div>
        <!-- <div style="margin-top:-2.3%;font-size: 14px; color: #333;font-weight: 500;padding-left:2.7%">
            <label class="slds-form-element__label">
                {resultRecieveConsentLabel}
            </label>
        </div> -->
        <div class="col-sm-12 slds-var-p-top_small" if:true={selectOneCommunicationError}>
            <span style="color:red;">Please Select atleast one way to receive notifications.</span>
        </div>

        <div class="col-sm-6 slds-var-p-top_small">
            <c-vt_ts_custom_date onupdatedob={updateDOBField} max-date={todayDate}
                disbale-field={disabledFirstNameLastNameDOB}></c-vt_ts_custom_date>
        </div>
        <div class="col-sm-6 slds-var-p-top_small">
            <label for="input-23" class="slds-form-element__label slds-no-flex">Age</label>
            <div class="slds-form-element__control slds-grow">
                <output id="input-23" class="slds-input">{age}</output>
            </div>
        </div>

        <template if:false={contactId} class="slds-var-m-around_medium">
            <template if:false={isCovidPortal}>
                <div style="margin-left: 5px; margin-top: 5px;margin-bottom: 1%;">
                    <div if:true={parentContactId} class="slds-text-selected">Parent/Owning Contact :
                        {parentContactName}
                        &nbsp;&nbsp;
                        <lightning-icon icon-name="utility:close" size="xx-small" alternative-text="Close" title="Close"
                            if:false={initialGuardian} onclick={removeParentContactSelection} style="cursor: pointer;">
                        </lightning-icon>
                    </div>
                    <template if:true={showExistingContactSelection}>
                        <a if:false={parentContactId} onclick={openGuardianSearch}
                            style="font-size: large; font-weight: bold; border: 1px solid #d4d4d4;padding: 5px;border-radius: 2px;">
                            Add to Existing Contact as Dependent/Household Member/Client
                        </a>
                    </template>
                </div>
            </template>
        </template>

    </div>


    <!-- Adding Race and Ethnicity Fields (required) in atendee Registration Form As per S-23923 -->
    <!-- Added By Vamsi Mudaliar -->

    <div class="row form-section">
        <div class="col-sm-6">
            <lightning-combobox name="Gender" data-name="Gender" label="Gender" value={dataObj.gender} required
            options={genderOptions} onchange={handleInputChange}></lightning-combobox>
        </div>
        <div class="col-sm-6">
            <lightning-combobox name="Race" data-name="Race" label="Race" value={dataObj.race} required options={raceOptions}
            onchange={handleInputChange}></lightning-combobox>
        </div>
        <div class="col-sm-6">
            <lightning-combobox name="Primary_Language__c" data-name="PrimaryLanguage" label="Preferred Language"
                value={dataObj.primaryLanguage} required options={LangOptions} onchange={handleInputChange}>
            </lightning-combobox>
        </div>
        <div class="col-sm-6" if:true={showIsLanguageEqualsOther}>
            <lightning-input type="text" name="User_Language" data-name="OtherLanguage"
                label="Enter Your Preferred Language" onchange={handleInputChange} value={dataObj.otherLanguage}>
            </lightning-input>
        </div>
        <div class="col-sm-6">
            <lightning-combobox name="Ethnicity" data-name="Ethnicity" label="Ethnicity" value={dataObj.ethnicity} required
            options={ethnicityOptions} onchange={handleInputChange}></lightning-combobox>
        </div>  
    </div>

    <div class="section-header slds-var-m-top_small">
        <h2 class="section-title">Mailing Address</h2>
    </div>
    <div class="row form-section">
        <div class="col-sm-12">
            <lightning-input type="text" label="Street Address" required name={randomName} autocomplete="off"
                data-name="address1" onchange={handleInputChange} value={dataObj.address1}>
            </lightning-input>
        </div>
        <div class="col-sm-4">
            <lightning-input type="text" label="City" required name={randomName} autocomplete="off" data-name="city"
                pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$"
                message-when-pattern-mismatch="Please do not use any special characters." onchange={handleInputChange}
                value={dataObj.city}>
            </lightning-input>
        </div>
        <div class="col-sm-4">
            <lightning-combobox autocomplete="new-password" name={randomName} data-name="state" label="State"
                value={dataObj.state} placeholder="Select State" options={stateOptions} onchange={handleInputChange}
                required>
            </lightning-combobox>
        </div>
        <div class="col-sm-4">
            <lightning-input type="text" label="Zip" name={randomName} autocomplete="off" data-name="zip" maxlength="5"
                minlength="5" pattern="^[0-9]*$" required onchange={handleInputChange} value={dataObj.zip}
                message-when-pattern-mismatch="Please use a valid 5 digits zip code.">
            </lightning-input>
        </div>
    </div>

    <div class="section-header slds-var-m-top_small">
        <h2 class="section-title">Physical Address</h2>
    </div>
    <div>
        <lightning-input type="checkbox" label="Same as Mailing Address" onchange={handlePhysicalAddressSameChecked}>
        </lightning-input>
    </div>

    <template if:true={isPhysicalAddressDifferent}>

        <div class="row form-section p-b-md">
            <div class="col-sm-12">
                <lightning-input type="text" label="Street Address" required name={randomName} autocomplete="off"
                    data-name="physicalAddress1" onchange={handleInputChange} value={dataObj.physicalAddress1}>
                </lightning-input>
            </div>
            <div class="col-sm-4">
                <lightning-input type="text" label="City" required name={randomName} autocomplete="off"
                    data-name="physicalCity" pattern="^[a-zA-Z ]+(?:[\s-][a-zA-Z ]+)*$"
                    message-when-pattern-mismatch="Please do not use any special characters."
                    onchange={handleInputChange} value={dataObj.physicalCity}>
                </lightning-input>
            </div>
            <div class="col-sm-4">
                <lightning-combobox autocomplete="new-password" name={randomName} data-name="physicalState"
                    label="State" value={dataObj.physicalState} placeholder="Select State"
                    options={physicalStateOptions} onchange={handleInputChange} required>
                </lightning-combobox>
            </div>
            <div class="col-sm-4">
                <lightning-input type="text" label="Zip" name={randomName} autocomplete="off" data-name="physicalZip"
                    maxlength="5" minlength="5" pattern="^[0-9]*$" required onchange={handleInputChange}
                    value={dataObj.physicalZip} message-when-pattern-mismatch="Please use a valid 5 digits zip code.">
                </lightning-input>
            </div>
        </div>
    </template>
    <!-- Pre Registration For Covid Portal -->
    <div style="background: rgb(243, 248, 255); padding: 5px; border-radius: 3px; ">
        <c-vt_ts_pre-reg-info contact-id={contactId} if:true={isCovidPortal} from-covid-portal
            onconfirmation={preRegConfirmationHandler} onalreadyregistered={alreadyRegisteredHandler}
            onmodalcancellation={modalCancellationHandler} preregconfirmationclose={preRegModalClose}
            style="width: 100%;padding: 5px;background: #f3f8ff;border-radius: 3px;">
        </c-vt_ts_pre-reg-info>

        <!-- Pre Registration For Appointment Schedular -->
        <c-vt_ts_pre-reg-info from-schedular contact-id={existingContactId} if:true={isVaccineEvent}
            from-testing-site={istesting} onconfirmation={preRegConfirmationHandlerSchedular}
            preregconfirmationclose={preRegModalClose} onmodalcancellation={modalCancellationHandler}
            onalreadyregistered={alreadyRegisteredHandler} style="width: 100%;">
        </c-vt_ts_pre-reg-info>
    </div>

    <template if:true={openContactSearchWindow}>
        <c-vt_ts_search_contact onnext={getValuesForSelectedContact} oncancel={closeContactSearch}>
        </c-vt_ts_search_contact>
    </template>

    <template if:true={openGuardianSearchWindow}>
        <c-vt_ts_search_contact onnext={getValuesForSelectedGuardian} oncancel={closeGuardianSearch}
            modal-header="Contact " need-parent-contact-only already-selected-contact={existingContactId}>
        </c-vt_ts_search_contact>
    </template>

    <template if:true={overrideConfirmation}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        onclick={confirmationCancel} title="Close" style="color:white;">
                        <lightning-icon icon-name="utility:close" size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Appointment override confirmation
                    </h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-text-align_center">
                    Are you sure you want to override the scheduled appointment?
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={confirmationCancel}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={confirmOverride}>Save</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

    <template if:true={showAlternateClassVaccineModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        onclick={cancelAlternateDose} title="Close" style="color:white;">
                        <lightning-icon icon-name="utility:close" size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">Alternate class vaccine
                        confirmation
                    </h2>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-text-align_center">
                    This is different than your previous dose, are you sure you want to receive an Alternate Vaccine?
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={cancelAlternateDose}>No</button>
                    <button class="slds-button slds-button_brand" onclick={confirmAlternateDose}>Yes</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>

</template>