.text-style span.slds-truncate {
    word-break: break-word;
    white-space: break-spaces;
}

.autoLayout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.filter-area {
    padding-top: 0;
}

.button-filter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-filter lightning-button {
    padding: 0 .5rem;
}

@media only screen and (max-width: 767px) and (orientation: portrait) {
    .autoLayout {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width: 767px) and (orientation: landscape) {
    .autoLayout {
        grid-template-columns: repeat(2, 1fr);
    }
}