<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 10-29-2021
  @last modified by  : Mohit Karani
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   06-21-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>

    <div if:true={showSpinner}>
        <div class="exampleHolder">
            <lightning-spinner alternative-text="Loading" size="medium"></lightning-spinner>
        </div>
    </div>

    <div if:true={isError}>
        <div class="slds-notify slds-notify_alert slds-theme_alert-texture slds-theme_error" role="alert">
            <span class="slds-assistive-text">error</span>
            <h2> {errorMsg}</h2>
        </div>
    </div>
    <div class="slds-grid filter-area slds-p-around--small autoLayout">
        <!-- Requried Filters -->
        <div class="slds-col slds-size_1-of-1 slds-p-left_x-small">
            <lightning-combobox name={randomName} label="County" value={searchObj.selCounty} placeholder="Select Option"
                options={availableCounties} data-name="selCounty" onchange={handleChange} required
                autocomplete="new-password"></lightning-combobox>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-p-left_x-small">
            <template if:true={activeDateTimePrefrence}>
                <lightning-combobox name="selDate" label="Date Range" value={searchObj.selDate}
                    placeholder="Select Option" options={availableDateRanges} onchange={handleChange} required
                    autocomplete="new-password">
                </lightning-combobox>
            </template>
            <template if:false={activeDateTimePrefrence}>
                <lightning-combobox name="selDate" label="Date Range" value={searchObj.selDate}
                    placeholder="Select Option" options={availableDateRanges} onchange={handleChange} disabled
                    autocomplete="new-password">
                </lightning-combobox>
            </template>
        </div>

        <template if:true={isShowCustomDateRange}>
            <div class="slds-col slds-size_1-of-1 slds-p-left_x-small">
                <lightning-input type="date" name="sDate" label="Start Date" value={searchObj.sDate}
                    onchange={handleChange} required disabled={sDateDisabled}></lightning-input>
            </div>
            <div class="slds-col slds-size_1-of-1 slds-p-left_x-small">
                <template if:true={endDateMin}>
                    <lightning-input type="date" name="eDate" label="End Date" value={searchObj.eDate}
                        onchange={handleChange} required min={endDateMin}></lightning-input>
                </template>

                <template if:false={endDateMin}>
                    <lightning-input type="date" name="eDate" label="End Date" value={searchObj.eDate}
                        onchange={handleChange} required></lightning-input>
                </template>
            </div>
        </template>

        <!-- Optional Filters -->
        <div class="slds-col slds-size_1-of-1 slds-p-left_x-small">
            <!-- <template for:each={availableSpoBy} for:item="sp">
                >>>{sp.label}    
            </template> -->
            <lightning-combobox name="selSpoBy" label="Sponsored By" value={searchObj.selSpoBy}
                placeholder="Select Option" options={availableSpoBy} onchange={handleChange}
                autocomplete="new-password">
            </lightning-combobox>
        </div>
        <div class="slds-col slds-size_1-of-1 slds-p-left_x-small">
            <template if:true={activeDateTimePrefrence}>
                <lightning-combobox name="selTimePref" label="Time Preference" value={searchObj.selTimePref}
                    placeholder="Select Option" options={availableTimePref} onchange={handleChange}
                    autocomplete="new-password">
                </lightning-combobox>
            </template>
            <template if:false={activeDateTimePrefrence}>
                <lightning-combobox name="selTimePref" label="Time Preference" value={searchObj.selTimePref}
                    placeholder="Select Option" options={availableTimePref} onchange={handleChange} disabled
                    autocomplete="new-password">
                </lightning-combobox>
            </template>
        </div>
        <template if:false={isCitizenPortal}>
            <template if:true={showPrivateAccessFilter}>
                <div class="slds-col slds-size_1-of-1 slds-p-left_x-small">
                    <template if:true={activeEventType}>
                        <lightning-combobox name="eventType" label="Event Type" value={searchObj.eventType}
                            placeholder="Select Option" options={availableEventType} onchange={handleChange}
                            autocomplete="new-password">
                        </lightning-combobox>
                    </template>
                    <template if:false={activeEventType}>
                        <lightning-combobox name="eventType" label="Event Type" value={searchObj.eventType}
                            placeholder="Select Option" options={availableEventType} onchange={handleChange} disabled
                            autocomplete="new-password">
                        </lightning-combobox>
                    </template>

                </div>

                <div class="slds-col slds-size_1-of-1 slds-p-left_x-small">
                    <template if:true={activeEventProcess}>
                        <lightning-combobox name="eventProcess" label="Event Process" value={searchObj.eventProcess}
                            placeholder="Select Option" options={availableEventProcess} onchange={handleChange}
                            class="text-style" required autocomplete="new-password">
                        </lightning-combobox>
                    </template>
                    <template if:false={activeEventProcess}>
                        <lightning-combobox name="eventProcess" label="Event Process" value={searchObj.eventProcess}
                            placeholder="Select Option" options={availableEventProcess} onchange={handleChange} disabled
                            class="text-style" autocomplete="new-password">
                        </lightning-combobox>
                    </template>
                </div>



            </template>
        </template>

        <div class="slds-col slds-size_1-of-1 slds-p-left_x-small" if:true={activeVaccineClass}>
            <lightning-combobox name="selectedValccineClass" label="Vaccine Type/Brand" value={searchObj.selectedValccineClass}
                placeholder="Select Option" options={vaccineClassListToDisplay} onchange={handleChange}
                data-field="selectedValccineClass" class="text-style selectedValccineClass" required if:false={vaccineClassDisabled}>
            </lightning-combobox>
            <lightning-combobox name="selectedValccineClass" label="Vaccine Type/Brand" value={searchObj.selectedValccineClass}
                placeholder="Select Option" options={vaccineClassListToDisplay} onchange={handleChange}
                data-field="selectedValccineClass" class="text-style selectedValccineClass" required if:true={vaccineClassDisabled} disabled>
            </lightning-combobox>
            
        </div>
        <div class="slds-col slds-size_1-of-1 slds-p-left_x-small" if:true={showPrivateAccessFilter}>

            <template if:true={activePrivateAccess}>
                <lightning-combobox name="privateAccess" label="Private Access" value={searchObj.privateAccess}
                    placeholder="Select Option" options={availablePrivateAccessToDisplay} onchange={handleChange}
                    class="text-style" autocomplete="new-password" required data-field="privateAccess">
                </lightning-combobox>
            </template>
            <template if:false={activePrivateAccess}>
                <lightning-combobox name="privateAccess" label="Private Access" value={searchObj.privateAccess}
                    placeholder="Select Option" options={availablePrivateAccessToDisplay} onchange={handleChange}
                    disabled class="text-style" autocomplete="new-password">
                </lightning-combobox>
            </template>
        </div>
    </div>

    <!-- Action Buttons -->
    <div class="slds-grid filter-area slds-p-around--small">
        <!-- Private Access Filtters -->
        <div class="slds-col slds-size_1-of-1 button-filter">
            <template if:true={isActive}>
                <lightning-button name="Search" label="Search"
                    class="slds-p-right_x-small button-internal slds-p-around_large" onclick={handleSearchChange}
                    variant="brand">
                </lightning-button>
            </template>
            <template if:false={isActive}>
                <lightning-button name="Search" label="Search"
                    class="slds-p-right_x-small button-internal slds-p-around_large" onclick={handleSearchChange}
                    variant="brand" disabled>
                </lightning-button>
            </template>
            <lightning-button name="Reset" label="Reset"
                class="slds-p-right_x-small button-internal slds-p-around_large" onclick={resetValues}>
            </lightning-button>
            <template if:true={resetClicked}>
                <span class="sr-only" aria-live="polite">Data has been reset</span>
            </template>
        </div>
    </div>
</template>