<template>
    <div class="style"></div>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>

    <template if:true={showModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                 aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close"
                                        alternative-text="close"
                                        variant="inverse"
                                        size="small"></lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Select Contacts To
                        Notify</h2>
                </header>

                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-var-p-around_medium">
                    <div style="height: 300px;">
                        <lightning-datatable key-field="Id" 
                                            selected-rows={precheckedContacts} 
                                            data={contactsToDisplay}
                                            columns={columns}>
                        </lightning-datatable>
                    </div>
                </div>

                <!-- Modal/Popup Box LWC footer starts here -->
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={closeModal} title="Cancel">Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={handleContactSelection} title="OK">Select
                    </button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>


    <c-oktc-left-navigation selected-tab="sendEmail">
        <div slot="body">
            <lightning-tabset>
                <lightning-tab label="Send Email">
                    <div class="app-content center-align-card">
                        <div class="slds-grid slds-wrap">
                            <div class="slds-col slds-size_12-of-12 slds-large-size_12-of-12">
                                <div class="card-right-content">
                                    <template if:false={showThankYou}>
                                        <div class="card-header">

                                            <h1>Send Email</h1>

                                            <div class="slds-form-element slds-p-bottom_medium">
                                                <template if:true={showError}>
                                                    <div class="error">{errorMessage}</div>
                                                </template>
                                                <template if:true={showSuccess}>
                                                    <div class="success">{errorMessage}</div>
                                                </template>

                                            </div>

                                            <div class="slds-form-element slds-p-bottom_medium">
                                                <label class="slds-form-element__label" for="text-input-id-1">
                                                    <abbr class="slds-required" title="required">* </abbr>
                                                    Event Name
                                                </label>
                                                <div class="slds-form-element__control">

                                                    <lightning-combobox name="event" label=""
                                                                        placeholder="Select Event"
                                                                        options={eventOptions}
                                                                        onchange={handleChange}></lightning-combobox>

                                                </div>
                                            </div>

                                            <div class="slds-form-element slds-p-bottom_medium">
                                                <label class="slds-form-element__label" for="text-input-id-1">
                                                    <abbr class="slds-required" title="required">* </abbr>Email
                                                    Body</label>
                                                <div class="slds-form-element__control">
                                                    

                                                    <lightning-input-rich-text name="emailBody" value={emailBody}
                                                                               onblur={handleChange}>
                                                    </lightning-input-rich-text>
                                                </div>
                                            </div>

                                            <div class="slds-float_right">

                                            </div>
                                            <lightning-button label="Send" title="Neutral action" onclick={sendEmails}
                                                              class="okpc-registration-button">
                                            </lightning-button>
                                        </div>

                                    </template>
                                    <template if:true={showThankYou}>
                                        <div class="success">{thankYouMessage}</div>
                                    </template>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </lightning-tab>
            </lightning-tabset>
        </div>
    </c-oktc-left-navigation>

</template>