<template>

    <div>
        <c-okpc-calendar hide-preffered-time={hidePrefferedTime} accountid={selectvalue} onselect={setId}
            preferred-date={preferredDate} preferred-time={preferredTime} event-id={eventid} slot-id={selectedSlotId}
            end-date-filter={eventEndDate} start-date-filter={eventStartDate} end-time-filter={eventEndTime} start-time-filter={eventStartTime}>
        </c-okpc-calendar>
    </div>
</template>