.THIS 
    *,
  .THIS  ::after,
  .THIS  ::before {
      
        box-sizing: border-box;
}

.THIS {
    background: #f9f9f9;
}
.THIS .forceCommunitySection .cb-section_column:only-child {
    padding: 0;
}

.THIS .brief_card {
    margin-top: 0 !important;
    margin-bottom: 1rem !important;
}
.THIS .terms-input .slds-textarea {
    min-height: 140px;
}
.THIS .app-container {
    padding-top: 0;
}
.THIS .siteforceContentArea .comm-layout-column:not(:empty) {
    padding: 0;
}
.THIS .slds-list_horizontal .slds-form-element + .slds-form-element {
    margin-left: 1rem;
}
.THIS .controls {
    margin: 0;
    padding: 1.5rem 0 0;
    /* border-top: 1px solid #ddd; */
    display: flex;
    justify-content: flex-end;
}


.THIS .page-content p + p {
    padding-top: 1rem;
}

.THIS .slds-form-element .slds-form-element__label abbr {
    position: absolute;
    margin-left: -8px;
}

.THIS .slds-form__row {
    margin-bottom: 1rem;
}

.THIS .horizontal-radio .slds-radio__label .slds-form-element__label,
.THIS .horizontal-radio .slds-checkbox__label .slds-form-element__label,
.THIS .check-group .slds-checkbox__label .slds-form-element__label,
.THIS .radio-group .slds-radio__label .slds-form-element__label {
    font-weight: normal;
}
.THIS .horizontal-radio .slds-radio + .slds-radio {
    margin-left: 1rem;
}

.THIS .horizontal-radio .slds-form-element__control {
    display: flex;
    flex-wrap: wrap;
    
}
.THIS .alert {
    max-width: 420px;
    margin: 0 auto;
    border: 2px solid #ddd;
    padding: 2rem;
    display: flex;
}
.THIS .alert svg {
    width: 3rem;
    height: 3rem;
}
.THIS .alert .text {
    margin-left: 1.5rem;
    flex: 1;
}
.THIS .alert h1 {
    font-size: 1.25rem;
    line-height: 1.3;
}
.THIS .alert .description {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}
.THIS .alert .case-no {
    padding: 0.25rem 0.5rem;
    display: inline-flex;
    border: 2px solid #ffd455;
    margin-bottom: 1rem;
    background: #fff4d3;
}

.THIS .shadow-card { 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.THIS .iframe-holder {
    position: relative;
    min-width: calc(100% + 4rem);
    margin-left: -2rem;
    margin-top: -2rem;
    padding: 0;
    border: 0;
    min-height: calc(100vh - 104px);
}

.THIS .iframe-holder iframe {
    border: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.THIS .cb-section_row.slds-grid.slds-wrap.slds-large-nowrap {
    height: 100vh !important;
}


.THIS .skip-link,
.THIS.skip-link {
  z-index: 100;
  position: fixed;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  border: 0;
  top: 0;
  left: 0;
  opacity: 0;
  color: black;
}
.THIS .skip-link:focus,
.THIS.skip-link:focus {
  z-index: 999;
  clip: initial;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  background-color: transparent;
  color: white;
  padding: 0.5rem 2rem;
  visibility: visible;
  opacity: 1;
}

.THIS .category_card--title {
  display: block;
}

/* WCAG AA: 2.4.7 - Focus visible */
.THIS .slds-button {
  transition-property: color, background, border;
}

.THIS.ie-warning-wrapper {
  display: none;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .THIS * {
    display: none;
  }
  .THIS.ie-warning-wrapper {
    display: none;
  }

  .THIS.ie-warning-wrapper,
  .THIS.ie-warning-wrapper * {
    display: flex !important;
  }
}

.THIS .required, .THIS .error_msg, .THIS .error-color{
  color: #E10000 !important;
}