<template>
    <div data-id="toastModel" role="alert" style="height: 4rem;" class="toastModel slds-hide">
        <section role="dialog" tabindex="-1" aria-label="Meaningful description of the modal content" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <div class="slds-notify_container slds-is-relative">
                    <div class={mainDivClass} role="status">
                        <span class="slds-assistive-text">{variant}</span>
                        <span class={messageDivClass} title={message}>
                        <lightning-icon icon-name={iconName} size="small" variant="inverse"></lightning-icon>
                        </span>
                        <div class="slds-notify__content">
                            <h2 class="slds-text-heading_small ">
                                <lightning-formatted-rich-text
                                     value={message}>
                                </lightning-formatted-rich-text>
                            </h2>
                        </div>
                        <div class="slds-notify__close">
                            <button class="slds-button slds-button_icon slds-button_icon-inverse" title="Close" onclick={closeModel}>
                                <lightning-icon icon-name="utility:close" size="small" variant="inverse"> </lightning-icon>
                                <span class="slds-assistive-text">Close</span>
                            </button>
                        </div> 
                    </div>
                </div>
            </div>  
        </section>
    </div>
</template>