<template>
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
      <lightning-spinner alternative-text="Loading" if:true={showSpinner} size="medium"></lightning-spinner>
      <div class="slds-modal__container">
        <header class="slds-modal__header">
          <lightning-button-icon icon-name="utility:close" onclick={handleCancel} alternative-text="Close"   class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close"></lightning-button-icon>
          <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{modalHeader} Search</h2>
        </header>
        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
          <div class="slds-grid slds-gutters slds-align_absolute-center">
              <div class="slds-col slds-m-right_medium">
                <span><lightning-input type="text" name="fname" label="First Name" onchange={handleChange}></lightning-input></span>
              </div>
              <div class="slds-col slds-m-right_medium">
                <span><lightning-input type="text" name="lname" label="Last Name" onchange={handleChange}></lightning-input></span>
              </div>
              <div class="slds-col slds-m-right_medium">
                  <c-vt_ts_custom_date onupdatedob={handleDOB} is-not-required></c-vt_ts_custom_date>
              </div>
              <template if:true={isContact}>
                <div class="slds-col slds-text-align_center">
                  <h2 style="margin-top: 30px;">OR</h2>
                </div>
                <div class="slds-col slds-m-right_medium">
                  <span><lightning-input type="text" name="patientId" label="Patient ID" onchange={handleChange}></lightning-input></span>
                </div>
              </template>
              <div class="slds-col slds-m-top_large slds-align_absolute-center">
                <span><button onclick={handleClick} class="slds-button slds-button_brand">Search</button></span>
              </div>
          </div>

          <div if:true={error} style="color: red;text-align: center;padding-top: 8px;">{error}</div>

          </br></br>
          <template if:false={showNoRecords}>
            <lightning-datatable if:true={showDatatable} class= "conDetails" data={filterContacts} onrowselection={handleRowSelection} columns={columns} key-field="Id" max-row-selection="1" >
            </lightning-datatable>
          </template>
          
          <template if:true ={showNoRecords}>
            <div style="text-align: center;">No Records Found</div>
          </template>
        </div>
        <footer class="slds-modal__footer">
          <button class="slds-button slds-button_neutral" onclick = {handleCancel}>Cancel</button>
          <template if:true={selectedContacts}>
            <button class="slds-button slds-button_brand" onclick = {selectedRecords}>Save</button>
          </template>
          <template if:false={selectedContacts}>
            <button class="slds-button slds-button_brand" onclick = {selectedRecords} disabled>Save</button>
          </template>
        </footer>
      </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
  
</template>