<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <div class="main-container slds-p-around_medium app-content">


        <div if:true={showContactUpload}>
       
                <div class="card-heading tb-card">
                    <h1>Testing Contact</h1>
                </div>
                <div class="page-header">
                    <p class="instruction-heading"><strong>Instructions for Uploading Contacts</strong></p>
                    <ol class="instruction-list slds-list_ordered">
                        <h4>
                            <li><b>Please click <a onclick={downloadCSVFile}>here</a> to download the sample file for Uploading
                                Contacts.</b></li>
                        </h4>
                        <li>
                            <b>Guidelines</b>
                            <ol class="slds-is-nested slds-list_dotted">
                                <li>All values in the provided template must be completed unless otherwise specified in the <a download="TemplateTesting.csv" href={templateDownloadLink.testing}>Template Guide</a>.</li>
                                <li>The templates for COVID Vaccination vs COVID Test appointments are different. The system will provide you with the correct one.</li>
                                <li>The uploaded file provided by the user must be in CSV format.</li>
                                <li>When removing a row of data from the upload file be sure to delete the entire row. If you just remove the values the file will contain an empty record</li>
                            </ol>
                        </li>
                        <li><b>Duplication Rules</b>
                            <ul class="slds-is-nested slds-list_dotted">
                                <li>To add appointments to existing contacts the First Name, Last Name and Email must all match. If the existing contact is not found then a new contact record will be created.</li>
                            </ul>
                        </li>
                         
                    </ol>
                </div>
        
                <div class="card-content">
                    <div class="slds-grid slds-wrap">
        
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                            <span>
                                <div class="slds-form-element slds-p-bottom_medium">
                                    <label class="slds-form-element__label" for="text-input-id-1"> <abbr class="slds-required"
                                            title="required">* </abbr>Select Event</label>
                                    <div class="slds-form-element__control">
                                        <lightning-combobox  name="selectedEvent" variant="label-hidden"
                                            value={selectedEvent} placeholder="Select Event"
                                            message-when-value-missing="Please select an event" required options={listOfEvents}
                                            onchange={handleEventChange}></lightning-combobox>
                                    </div>
                                </div><br />
                            </span>
                        </div>
        
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                            <span></span>
                        </div>
                    </div>
        
                    <lightning-input variant="label-hidden" name="file uploader" onchange={handleFileChange} type="file"
                        multiple class="upload-btn">
                    </lightning-input>
                    <div class="filename" if:true={showFileName}>File: <strong>{fileName}</strong> has been added successfully.
                        <lightning-icon icon-name="utility:delete" alternative-text="Error!" variant="error"
                            title="error variant small" style="cursor: pointer;" size="small" class="fileremove" onclick={handleFileDelete}>
                        </lightning-icon>
                    </div>
                    <div>
                        <lightning-button label="Save" onclick={handleSave} variant="brand"></lightning-button>
                    </div>
                </div>
                </div>
         
                <div if:false={showContactUpload}>
                <div class="card-heading tb-card">
                    <h1>Vaccination Contacts</h1>
                </div>
                <div class="page-header">
                    <p class="instruction-heading"><strong>Instructions for Uploading Contacts</strong></p>
                    <ol class="instruction-list slds-list_ordered">
                        
                            <li><b>Please click <a onclick={downloadVacinationCSVFile}>here</a> to download the sample file for Uploading
                                Contacts.</b></li>
                        
                        <li>
                            <b>Guidelines</b>
                            <ol class="slds-is-nested slds-list_dotted">
                                <li>All values in the provided template must be completed unless otherwise specified in the <a href={templateDownloadLink.vaccination}>Template Guide</a>.</li>
                                <li>The templates for COVID Vaccination vs COVID Test appointments are different. The system will provide you with the correct one.</li>
                                <li>The uploaded file provided by the user must be in CSV format.</li>
                                <li>When removing a row of data from the upload file be sure to delete the entire row. If you just remove the values the file will contain an empty record</li>
                            </ol>
                        </li>
                        <li><b>Duplication Rules</b>
                            <ul class="slds-is-nested slds-list_dotted">
                                <li>To add appointments to existing contacts the First Name, Last Name and Email must all match. If the existing contact is not found then a new contact record will be created.</li>
                            </ul>
                        </li>
                         
                    </ol>
                </div>
        
                <div class="card-content">
                    <div class="slds-grid slds-wrap">
        
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                            <span>
                                <div class="slds-form-element slds-p-bottom_medium">
                                    <label class="slds-form-element__label" for="text-input-id-1"> <abbr class="slds-required"
                                            title="required">* </abbr>Select Event</label>
                                    <div class="slds-form-element__control">
                                        <lightning-combobox  name="selectedEvent" variant="label-hidden"
                                            value={selectedEventVacination} placeholder="Select Event"
                                            message-when-value-missing="Please select an event" required options={listOfEvents}
                                            onchange={handleEventChangeVacination}></lightning-combobox>
                                    </div>
                                </div><br />
                            </span>
                        </div>
        
                        <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_6-of-12">
                            <span></span>
                        </div>
                    </div>
        


                    <lightning-input variant="label-hidden" name="file uploader" onchange={handleFileChange} type="file"
                        multiple class="upload-btn">
                    </lightning-input>
                    <div class="filename" if:true={showFileName}>File: <strong>{fileName}</strong> has been added successfully.
                        <lightning-icon icon-name="utility:delete" alternative-text="Error!" variant="error"
                            title="error variant small" style="cursor: pointer;" size="small" class="fileremove" onclick={handleFileDelete}>
                        </lightning-icon>
                    </div>
                    <div>
                        <lightning-button label="Save" onclick={handleSave} variant="brand"></lightning-button>
                    </div>
                </div>

                </div>

    </div>
</template>