<template>
    <div class="main-container slds-p-around_medium app-content">
        <div class="card-heading">
            <template if:true={isInternalUser}>
                <h1>Manage Appointment Slots</h1>
            </template>
            <template if:false={isInternalUser}>
                <h1>View Appointment Slots</h1>
            </template>
            
            <div class="legend">
                <span class="legend-color-green">&nbsp;</span><p>Available</p>
                <span class="legend-color-blue">&nbsp;</span><p>Selected</p>
            </div>
        </div>
        <div style="height:65vh; overflow:auto;">
            <template if:true={isInternalUser}>
                <div class="slot-input">
                    <lightning-layout multiple-rows vertical-align="center">
                        <lightning-layout-item padding="around-small" class="slot-picker">
                            <lightning-input type="number" required name="numSlot" label="Number of Available Appointment Slots (Per 30 min)" min="0" max="100" value={numOfSlot} onchange={handleSlotChange} ></lightning-input>
                        </lightning-layout-item>
                    </lightning-layout>
                </div>
            </template>
            <template if:true={isInternalUser}>
                <template if:true={accountId}>
                    <c-oktc-calendar accountid={accountId} start-time={startTime} end-time={endTime} ></c-oktc-calendar>
                </template>
            </template>
            <template if:false={isInternalUser}>
                <template if:true={accountId}>
                    <c-oktc-read-only-calendar accountid={accountId} start-time={startTime} end-time={endTime} ></c-oktc-read-only-calendar>
                </template>
            </template>
        </div>
        <template if:true={isInternalUser}>
            <lightning-button if:true={accountId} label="Save" variant="brand" onclick={createSlots}></lightning-button>
        </template>

    </div>
    <div if:true={showSpinner}>
        <lightning-spinner alternative-text="Loading..."></lightning-spinner>
    </div>
</template>