<template>
    <template if:true={showPageHeader}>
        <span class="sr-only pageTitle" tabindex="0">Demographics</span>
    </template>
    <div class="page-header">
        <h1 class="page-title page-header-title">Demographics
        </h1>
        <c-okpc-help-text help-text="Please provide demographic information for the person attending the testing event."></c-okpc-help-text>
    </div>
    <div class="backdrop" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <div class="check-block">
        <div class="slds-form-element">
            <div class="slds-form-element__control slds-grow">
                <template if:true={picklistOption1}>
                    <lightning-combobox name="Gender" label="What is attendee's gender identity?" value={obj.Gender} required
                        options={picklistOption1} onchange={handleChange}></lightning-combobox>
                </template>
            </div>
            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={picklistOption2}>
                    <lightning-combobox name="Primary_Language" label="What is attendee's preferred language?"
                        value={obj.Primary_Language} required options={picklistOption2}
                        onchange={handleChange}></lightning-combobox>
                </template>
                <template if:true={showIsLanguageEqualsOther}>
                    <lightning-input type="text" name="User_Language" label="Enter Your Preferred Language"
                        onchange={handleLanguageInputChange} value={obj.User_Language}></lightning-input>
                </template>
            </div>
            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={picklistOption3}>
                    <lightning-combobox name="Race" label="What is attendee's race?" value={obj.Race} required
                        options={picklistOption3} onchange={handleChange}></lightning-combobox>
                </template>
            </div>
            <div class="slds-form-element__control slds-grow slds-m-top_medium">
                <template if:true={picklistOption4}>
                    <lightning-combobox name="Ethnicity" label="What is attendee's ethnicity?" value={obj.Ethnicity} required
                        options={picklistOption4} onchange={handleChange}></lightning-combobox>
                </template>
            </div>
        </div>
    </div>
    <div class="controls slds-m-top_medium">
        <lightning-button variant="neutral" if:false={isAppointment} type="submit" label="Cancel" class="slds-m-right_xx-small"
        onclick={navigateToCancel}>
       </lightning-button>
        <lightning-button variant="neutral" type="submit" label="Back" class="slds-m-right_xx-small"
            onclick={navigateToBack}>
        </lightning-button>
        <lightning-button variant="brand" type="submit" label="Next" name="next" onclick={saveData}>
        </lightning-button>
    </div>
</template>