<!--
  @description       : 
  @author            : ChangeMeIn@UserSettingsUnder.SFDoc
  @group             : 
  @last modified on  : 01-21-2022
  @last modified by  : Balram Dhawan
  Modifications Log 
  Ver   Date         Author                               Modification
  1.0   07-02-2021   ChangeMeIn@UserSettingsUnder.SFDoc   Initial Version
-->
<template>
    <lightning-spinner alternative-text="Loading" if:true={showSpinner} size="medium"></lightning-spinner>
    <br />
    <div>
        <template if:true={displayAgeBasedGroupSection}>
            <h3 style="font-size: 18px;font-weight: bold;">
                Vaccine Group - Default group based on your age
            </h3>
            <br />
            <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
                <caption class="sr-only">Vaccine Group - Default group based on your age</caption>
                <tbody>
                    <tr class="slds-hint-parent">
                        <td data-label="Vaccine Default Group">
                            <div title="Vaccine Default Group">
                                Vaccine Default Group
                            </div>
                        </td>
                        <td data-label={ageBasedGroup.Name}>
                            <div class="slds-truncate" title={ageBasedGroup.Name}>
                                {ageBasedGroup.Name}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <td data-label="Description">
                            <div class="slds-truncate" title="Description">Description</div>
                        </td>
                        <td data-label={ageBasedGroup.Group_Description__c}>
                            <div class="slds-truncate" title={ageBasedGroup.Group_Description__c}>
                                {ageBasedGroup.Group_Description__c}
                            </div>
                        </td>
                    </tr>
                    <tr class="slds-hint-parent">
                        <td data-label="Vaccine Schedule ETA">
                            <div class="slds-truncate" title="Vaccine Schedule ETA">Vaccine Schedule ETA</div>
                        </td>
                        <td data-label="">
                            <div class="slds-truncate" title={ageBasedGroup.Estimated_Date__c}>
                                {ageBasedGroup.Estimated_Date__c}
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </template>
        <!-- <br /> -->
        <div style="border: 1px solid #d4d4d4;border-radius: 5px;padding: 9px; margin-bottom: 10px;">
            <div class="col-sm-12 slds-var-m-top_small">
                <div class="slds-form-element">
                    <label class="slds-form-element__label">
                        <abbr class="slds-required">*</abbr>
                        I certify that I/the patient am Immuno-Compromised:
                        <div class="slds-box slds-grid slds-var-m-bottom_large"
                            style="background-color: #f4f6f9;margin-top: 1rem;">
                            <lightning-icon variant="info" title="Information" icon-name="utility:info" size="small"
                                alternative-text="Info"></lightning-icon>
                            <div class="slds-col slds-align-middle">
                                <ul class="slds-list_dotted">

                                    <li>
                                        To see the most current list of Health Conditions that qualify as
                                        Immuno-Compromised in the State of Vermont, please visit Vaccine
                                        Immuno-Compromised | Vermont Department of Health (<a
                                            href="https://www.healthvermont.gov/" target="_blank">
                                            healthvermont.gov</a>)

                                    </li>
                                </ul>
                            </div>
                        </div>
                    </label>
                    <div class="slds-form-element__control">
                        <lightning-combobox name="Is_Immune_Weak__c" label="Immune Weak"
                            value={preRegData.Is_Immune_Weak__c} options={yesNoOptions} onchange={handleChange}
                            disabled={disabledIsImmune} variant="label-hidden" required>
                        </lightning-combobox>
                    </div>
                </div>
                <!-- <br /> -->
            </div>
        </div>

        <template if:true={showHighRiskQuestion}>
            <div
                style="border: 1px solid #d4d4d4;border-radius: 5px;padding:9px;margin-bottom:10px;margin-top:10px;">
                <div class="col-sm-12">
                    <div class="slds-form-element">
                        <label class="slds-form-element__label">
                            <abbr class="slds-required">*</abbr>
                            <!-- {chronicConditionLabel} -->
                            Do you have a high risk health condition OR are you the primary caregiver of a child under
                            the age of 16 who has a high risk health condition?
                            <div class="slds-box slds-grid slds-var-m-bottom_large"
                                style="background-color: #f4f6f9;margin-top: 1rem;">
                                <lightning-icon variant="info" title="Information" icon-name="utility:info" size="small"
                                    alternative-text="Info"></lightning-icon>
                                <div class="slds-col slds-align-middle">
                                    <ul class="slds-list_dotted">
                                        <li>
                                            To see the most current list of Health Conditions that qualify for High Risk
                                            in
                                            the
                                            State of Vermont, please visit Vaccine | Vermont Department of Health
                                            (<a href="https://www.healthvermont.gov/" target="_blank">
                                                healthvermont.gov</a>)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </label>
                        <div class="slds-form-element__control">
                            <lightning-combobox name="Chronic_Condition__c" label={chronicConditionLabel}
                                options={yesNoHealthRiskOptions} onchange={handleChange}
                                disabled={chronicConditionDisabled} data-id="chronicCondition" required
                                value={preRegData.Chronic_Condition__c} variant="label-hidden">
                            </lightning-combobox>

                        </div>
                    </div>

                    <!-- <br /> -->
                </div>
            </div>
        </template>

        <div style="border: 1px solid #d4d4d4;border-radius: 5px;padding: 9px;">
            <div class="col-sm-12">
                <lightning-combobox name="BIPOC__c"
                    label="Do you or anyone in your household identify as Black, Indigenous, or a person of color (BIPOC), including as someone with Abenaki or other First Nations heritage?"
                    options={yesNoOptions} onchange={handleChange} disabled={disabledBIPOC} required
                    value={preRegData.BIPOC__c}>
                </lightning-combobox>
            </div>
        </div>

        <!-- Other Risk Group Starts Here -->
        <div style="border: 1px solid #d4d4d4;border-radius: 5px;padding: 9px;margin-top:10px;" if:true={otherRiskGroupSection}>

            <div class="col-sm-12">
                <abbr class="slds-required" title="required" style={marginAbbrSectionFromClinicalPortal}>* </abbr>
                <label style={vaccinePaddingClinical}>
                    For fully vaccinated people 18 years old or older, do you feel you are at risk for COVID-19 because
                    of your job, where you live, or other reasons that could expose you to the virus ?
                </label>
                <br />
                <p style={passCodeSectionPaddingClinical}>
                    Select Yes and use pass code BOOSTER.
                </p>
                <lightning-combobox style="padding-top:1%" name="Affiliated_to_any_other_Risk_Group__c"
                    label="Do you work for, or affiliated with, an organization or risk group that meets current Vermont eligibility guidelines?"
                    options={yesNoOptions} onchange={handleChange} disabled={disabledOtherRisk} required
                    value={preRegData.Affiliated_to_any_other_Risk_Group__c} variant="label-hidden">
                </lightning-combobox>
            </div>
            <div class="row">
                <template if:false={fromTestingSite}>
                    <template if:true={otherRiskPassCodeSection}>
                        <div class="col-sm-6">
                            <template if:true={otherRiskPassCodeSection}>
                                <div class="row">
                                    <div class="col">
                                        <div class="slds-form-element__label_edit slds-var-m-top_medium">
                                            <label>Enter Pass Code
                                            </label>
                                        </div>
                                        <lightning-input type="text" variant="label-hidden" label="Enter Pass Code"
                                            name="Pass_Code_Risk_Group__c" required disabled={disabledOtherRisk}
                                            value={preRegData.Pass_Code_Risk_Group__c}>
                                        </lightning-input>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </template>
                </template>
                <div class="col-sm-12" style="padding-top: 15px" if:true={showClinicCodeField}>
                    <div style="padding-top: 2px;">
                        <div class="slds-form-element__label_edit">
                            <label>Override Code
                            </label>
                        </div>
                        <lightning-input type="text" variant="label-hidden" name="Actual_Pass_Code__c">
                        </lightning-input>
                    </div>
                </div>
            </div>
        </div>
        <!-- Other Risk Group Ends Here -->
    </div>

    <div if:true={vaccinePriorityGroups}>
        <br />
        <p style="font-size: 18px; font-weight: bold;">
            Vaccine Priority Groups
        </p>
        <table class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_col-bordered">
            <caption class="sr-only">Vaccine Priority Groups</caption>
            <tbody>
                <tr class="slds-hint-parent">
                    <td data-label="">
                        <div class="slds-truncate" title=""></div>
                    </td>
                    <td data-label="Early Group 1 (Health)">
                        <div title="Early Group 1 (Health)">
                            Early Group 1 (Health)
                        </div>
                    </td>
                    <td data-label="Early Group 2 - Access Group">
                        <div title="Early Group 2 - Access Group">
                            Early Group 2 - Access Group
                        </div>
                    </td>
                </tr>
                <tr class="slds-hint-parent">
                    <td data-label="Code">
                        <div title="Code">Code</div>
                    </td>
                    <td data-label={earlyGroup1Health.Name}>
                        <div title={earlyGroup1Health.Name}>
                            {earlyGroup1Health.Name}
                        </div>
                    </td>
                    <td data-label={earlyGroup2Health.Name}>
                        <div title={earlyGroup2Health.Name}>
                            {earlyGroup2Health.Name}
                        </div>
                    </td>
                </tr>
                <tr class="slds-hint-parent">
                    <td data-label="Description">
                        <div title="Description">Description</div>
                    </td>
                    <td data-label={earlyGroup1Health.Group_Description__c}>
                        <div title={earlyGroup1Health.Group_Description__c}>
                            {earlyGroup1Health.Group_Description__c}
                        </div>
                    </td>
                    <td data-label={earlyGroup2Health.Group_Description__c}>
                        <div title={earlyGroup2Health.Group_Description__c}>
                            {earlyGroup2Health.Group_Description__c}
                        </div>
                    </td>
                </tr>
                <tr class="slds-hint-parent">
                    <td data-label="Estimated Date">
                        <div title="Estimated Date">Estimated Date</div>
                    </td>
                    <td data-label={earlyGroup1Health.Estimated_Date__c}>
                        <div title={earlyGroup1Health.Estimated_Date__c}>
                            {earlyGroup1Health.Estimated_Date__c}
                        </div>
                    </td>
                    <td data-label={earlyGroup2Health.Estimated_Date__c}>
                        <div title={earlyGroup2Health.Estimated_Date__c}>
                            {earlyGroup2Health.Estimated_Date__c}
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <template if:true={confirmationModal}>
        <section onkeydown={handleKeyDown} role="dialog" tabindex="-1" aria-labelledby="modal-heading-01"
            aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse modalClose"
                        onclick={confirmationCancel} title="Close" style="color:white;">
                        <lightning-icon icon-name="utility:close" size="small" variant="inverse">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close Confirmation Modal</span>
                    </button>
                    <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate modalHeader">Confirmation</h1>
                </header>
                <div class="slds-modal__content slds-var-p-around_medium slds-text-align_center">
                    Once you have registered for a Vaccine Risk group, you will not be able to make changes once you
                    select Save.
                </div>
                <footer class="slds-modal__footer">
                    <button class="slds-button slds-button_neutral" onclick={confirmationCancel}>Cancel</button>
                    <button class="slds-button slds-button_brand" onclick={confirmationPositive}>Save</button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>