<apex:page standardController="Contact" renderAs="pdf" recordSetVar="events" extensions="ExportEventRegistrantsExtension"> 
    <html>
        <head>
            <style>
                .content-body {
                padding: 20px 40px;
                }
                
                .text-uppercase {
                text-transform: uppercase;
                }
                
                .text-bold {
                font-weight: bold;
                }
                
                .text-italicize {
                font-style: italic;
                }
                
                .text-underline {
                text-decoration: underline;
                }
                
                .project-schedule-table td,th{
                padding: 4px;
                word-wrap: break-word;
                }
                
                .project-schedule-table th{
                text-align:center;
                }
                
                
                .project-schedule-table table tr, .project-schedule-table table td{
                page-break-inside: avoid;
                }
                
                .project-schedule-table table{
                -fs-table-paginate: paginate;
                border-collapse: collapse;
                border-spacing: 0;
                }
            </style>
        </head>
        
        <body>
            <div class="content-body">
                <div>
                    <apex:outputLabel styleclass="text-bold text-uppercase" value="{!$Label.Export_Event_Registrants_Title}"/>&nbsp;<apex:outputField value="{!eventRecord.Name}"/>
                    <br/>
                    <apex:outputLabel styleclass="text-bold text-uppercase" value="{!$ObjectType.VTS_Event__c.Fields.Description__c.Label + ' : '}"/><apex:outputField value="{!eventRecord.Name}"/>
                    <br/>
                    <div style="margin-top: 10px !important;">
                        <table style="width: 100%" class="project-schedule-table" border="1" cellspacing="0" cellpadding="2">
                            <tr style="width: 100%">
                                <th style="width: 25%">{!$ObjectType.Contact.Fields.FirstName.Label}</th>
                                <th style="width: 25%">{!$ObjectType.Contact.Fields.LastName.Label}</th>
                                <th style="width: 25%">{!$ObjectType.Contact.Fields.Phone.Label}</th>
                                <th style="width: 25%">{!$ObjectType.Contact.Fields.Email.Label}</th>
                            </tr>
                            <apex:repeat value="{!eventRecord.Contacts__r}" var="contactRecord">
                                <tr style="width: 100%;">
                                    <td style="width: 25%">
                                        <apex:outputField value="{!contactRecord.FirstName}"/>
                                    </td>
                                    <td style="width: 25%">
                                        <apex:outputField value="{!contactRecord.LastName}"/>
                                    </td>
                                    <td style="width: 25%"><apex:outputField value="{!contactRecord.Phone}"/></td>
                                    <td style="width: 25%"><apex:outputField value="{!contactRecord.Email}"/></td>
                                </tr>
                            </apex:repeat>
                        </table>
                    </div>
                </div>
            </div>
        </body>
    </html>
</apex:page>