<template>
    <template if:true={loaded}>
        <div style="background:white;">
            <table class="tbl">
                <thead>
                    <tr class="slds-line-height_reset">
                        <th style="background:white;"></th>
                        <template if:true={data.weeks} >
                            <template for:each={data.weeks} for:item="dt" for:index="index">
                                <th key={dt} class="headerRow" data-colindex={index}>{dt}</th>
                            </template>
                        </template>
                    </tr>
    
                    <tr class="slds-line-height_reset">
                        <th style="background:white;"></th>
                        <template if:true={data.dates} >
                            <template for:each={data.dates} for:item="dt" for:index="index">
                                <th key={dt} class="headerRow" data-colindex={index}>{dt}</th>
                            </template>
                        </template>
                    </tr>
                </thead>
    
                <tbody>
                    <template if:true={data.rows} >
                        <template for:each={data.rows} for:item="row" for:index="rowIndex">
                            <tr key={row.timeSt}>
                                <td data-rowindex={rowIndex}>{row.timeSt}</td>
        
                                <template if:true={row.cols} >
                                    <template for:each={row.cols} for:item="col" for:index="colIndex">
                                        <template if:true={col.isSelected}>
                                            <td key={col.slotId} class="selectedCol" data-recid={col.recId} data-rowindex={rowIndex} data-colindex={colIndex}
                                                data-slotid={col.slotId} data-slotdate={col.slotDate} data-available={col.availableSlots} data-slottime={row.timeSt}>
                                                Available ({col.availableSlots}) <br/>
                                                Booked ({col.bookedSlots})
                                            </td>
                                        </template>
            
                                        <template if:false={col.isSelected}>
                                            <td key={col.slotId} class="newRecord" if:true={col.newRecord} data-recid={col.recId} data-rowindex={rowIndex} data-colindex={colIndex}
                                                data-slotid={col.slotId} data-available={col.availableSlots} data-slotdate={col.slotDate} data-slottime={row.timeSt}>
                                                Available ({col.availableSlots})<br/>
                                                Booked** ({col.bookedSlots})
                                            </td>
                                            <template if:false={col.newRecord}>
                                                <td key={col.slotId} class="available" if:true={col.isAvailable} data-recid={col.recId} data-rowindex={rowIndex} data-colindex={colIndex}
                                                    data-slotid={col.slotId} data-available={col.availableSlots} data-slotdate={col.slotDate} data-slottime={row.timeSt}>
                                                    Available ({col.availableSlots})<br/>
                                                    Booked ({col.bookedSlots})
                                                </td>
                                                
                                            </template>
                                        </template>        
                                    </template>
                                </template>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
        </div>
    </template>
    <template if:false={loaded}>
        <lightning-spinner alternative-text="Loading"></lightning-spinner>
    </template>
    
</template>