.slds-line-height_reset th {
    background: #00263D;
    text-transform: uppercase;
    font-size: 0.9em;
    text-align: center;
    color: white;
}

.headerRow {
    cursor: pointer;
}

.notAvailable {
    background: #d2d2d2;
    cursor: not-allowed;
}

.available {
    background: #A7D676;
    cursor: pointer;
}

.available:hover {
    background: #f9e2ae;
}

.newRecord {
    background: #fff;
    cursor: pointer;
}

.newRecord:hover {
    background: #f9e2ae;
}

.selectedCol {
    background: #a8dee0;
}

table tr:nth-child(2n) {
    background: #eff0f1;
}

table tr:nth-child(2n + 3) {
    background: #fff;
}

table th,
table td {
    padding: 1em;
    width: 10em;
    border-top: 1px solid #dddbda;
    border-right: 1px solid #dddbda;
    font-weight: 500;
}

.tbl {
    font-size: 12px;
}

.clickable {
    cursor: pointer;
}