.style{
    text-align : center;
}
.userstyle{
    font-weight: bold;
    padding-left: 6px;
}
.padding{
    padding-right: 1rem;
}
.inputClass{
    padding: 3px;
}
.button-class{
    min-width: 95%;
    display:block;
    padding-left: 9rem;
}
.full-width button {
    display: inline-block;
    min-width: 100% !important;
}