<!--
  @description       : 
  @author            : Mohit Karani
  @group             : 
  @last modified on  : 09-08-2021
  @last modified by  : Mohit Karani
-->
<template>

    <!-- Spinner -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>

    <template if:true={isIdentifyingEventProcess}>
        <!-- Event Picker -->
        <template if:true={showMapModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title="Close" onclick={closeModal}>
                            <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close"
                                size="medium">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Pick Location</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium modal-body" id="modal-content-id-1">
                        <c-vtpc-site-map oneventselectedschedular={handleEventSelected} show-private-access-filter
                            event-process={eventProcess} vaccination-type={vaccinationType} pre-reg-date-time={preRegMinDateTime} vaccination-private-access={eventIds}
                            is-from-appt-scheduler={isFromApptScheduler}></c-vtpc-site-map>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label="Cancel" variant="neutral" onclick={closeModal}></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>

        <!-- Location Viewer -->
        <template if:true={showSingleMap}>
            <c-okpc-open-map map-markers={mapMarkers} onclosesingle={handlesingleMapClose}></c-okpc-open-map>
        </template>

        <!-- Selected Location Details -->
        <template if:true={showLocationDetails}>
            <div class="map-group p-b">
                <div class="section-heading">
                    <h3 class="section-title">Location details</h3>
                </div>
                <div class="map-card d-sm-flex">
                    <div class="details">
                        <div class="address">{accountDetails.title}</div>
                        <div class="address">{location.Street}</div>
                        <div class="city">{location.City}, {location.State}
                            {location.PostalCode}
                        </div>
                        <div class="m-t-sm">
                            <a onclick={handleSingleMap} class="slds-button button_neutral">View map</a>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <!-- Pick Location Button -->

        <div class="row align-items-center p-b-md">
            <div class="col-auto">
                <lightning-button label="Pick Location" name="picklocation" onclick={handleMapModal} variant="brand">
                </lightning-button>
            </div>
        </div>

        <!-- Schedule Appointment Button -->
        <div class="row align-items-center p-b-md">
            <div class="col-auto" style="padding-top: 10px;">
                <lightning-button label="Schedule Appointment" name="schedule" onclick={showAppointments} variant="brand"
                    disabled={isScheduleAppointmentDisabled}>
                </lightning-button>
            </div>
        </div>


        <!-- Schedule Appointment Calander -->
        <template if:true={isModalOpen}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title="Close" onclick={handleCloseModal}>
                            <lightning-icon icon-name="utility:close" variant="inverse" alternative-text="Close"
                                size="medium">
                            </lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">Schedule Appointment</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium modal-body" id="modal-content-id-2">
                        <c-okpc-calendar hide-preffered-time={hidePrefferedTime} accountid={selectValue}
                            ondisableschedule={disableButton} onselect={setId} onclose={handleCloseModal}
                            event-id={eventId}>
                        </c-okpc-calendar>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button if:true={showSchedule} label="Save" variant="brand" onclick={saveIdAndClose}
                            style="margin-right: 10px;"></lightning-button>
                        <lightning-button label="Cancel" variant="neutral" onclick={handleCloseModal}></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>

            
        </template>

    </template>
</template>