<template>
    <!-- Spinner component -->
    <div if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </div>
    <c-oktc-left-navigation selected-tab="downloads">
        <div slot="body">
           <lightning-tabset>

            <lightning-tab label="Appointment Download">
                <div class="heading-container">
                    <div class="button-container">
                        <lightning-input type="date" name="fromDate" style="min-width: 230px" autocomplete="off"
                            label="From Date" required onchange={handleInputChange} value={fromDate}>
                        </lightning-input>
                        <lightning-input type="date" name="toDate" style="min-width: 230px" autocomplete="off"
                            label="To Date" required onchange={handleInputChange} value={toDate}>
                        </lightning-input>
                    </div>
                    <div class="button-container" style="width: 100%">
                        <lightning-button class="slds-float_right table-button-class" label="Download"
                            icon-name="utility:download" title="download" onclick={getAntibodyList} variant="brand">
                        </lightning-button>
                    </div>
                </div>
            </lightning-tab>
             
            </lightning-tabset> 
        </div>
    </c-oktc-left-navigation>
</template>