.heading-container{
    padding: 0 2rem;
    background: #f7f7f7;
    padding: 1.5rem;
    margin: -1rem -1.5rem;
    position: relative;
    display: flex;
}
.button-container{
    padding: 0 2rem;
}
.paginator-container{
    margin-top: 1.5rem;
}
.combo-box{
    width: max-content;
}