.THIS .user-image{
    margin-right: .5rem;
    border-radius: 50%;
    overflow: hidden;
}
.THIS .spacer {
    padding-left: 2rem;
    padding-right: 2rem;
}

.THIS .username-section{
    cursor:default !important;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}