<!--
  @description       : 
  @author            : Mohit Karani
  @group             : 
  @last modified on  : 01-03-2022
  @last modified by  : Mohit Karani
-->
<template>
    <div>
        <div class="backdrop" if:true={showSpinner}>
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..." variant="brand"></lightning-spinner>
            </div>
        </div>
        <template if:false={showThankYou}>
            <div class="slds-form-element slds-p-bottom_medium">
                <template if:true={showError}>
                    <div class="error">
                        <lightning-formatted-rich-text
                            value={errorMessage}>
                        </lightning-formatted-rich-text>
                    </div>
                </template>
                <template if:true={showSuccess}>
                    <div class="success">{errorMessage}</div>
                </template>
            </div>
            <template if:true={isLoaded}>
                <div class="claim_form container_spacing">
                    <div class="container">
                        <div class="app-container slds-grid slds-gutters slds-wrap">
                            <div class="app-sidebar slds-col slds-size_1-of-1 slds-small-size_3-of-12">
                                <!-- Flow Steps -->
                                    <c-ok-contact-intake-flow current-step={currentStep} original-step={originalStep}
                                    is-vaccine-event={isVaccineEvent}>
                                </c-ok-contact-intake-flow>
                            </div>
                            <c-lwc-custom-toast title={toastTitle} message={toastMessage} variant={toastType}
                                auto-close="true"></c-lwc-custom-toast>

                            <div class="app-content slds-size_1-of-1 slds-small-size_9-of-12 slds-m-bottom_large">
                                <template if:true={showpage1}>
                                    <!--okcpConsentPage-->
                                    <c-okcp-consent-page-new onconsentsaved={consentSave} current-step={currentStep}
                                        contact-id={contactId} istesting={istesting}
                                        oncancelappointment={handleCancelAppointment} consent-details={consentDetails} show-asterisk-message={showAsteriskMessage}>
                                    </c-okcp-consent-page-new>
                                </template>

                                <template if:true={showpage2}>
                                    <!--okcpContactInfo-->
                                    <div class="page-header">
                                        <h1 class="page-title page-header-title">Attendee Personal Information</h1>
                                        <c-okpc-help-text help-text={showPUA_Claimant_Profile_Help_Text}>
                                        </c-okpc-help-text>
                                    </div>

                                    <c-okcp-contact-info-new is-appointment="true" istesting={istesting}
                                        current-step={currentStep} onsetobject={setContactPage2} contact-id={contactId}
                                        consent-details={consentDetails} appointment-contact={appointmentContact}
                                        search-existing-contact="true" event-id={eventId}
                                        is-vaccine-event={isVaccineEvent} onmindatetime={updateMinDateTimePreReg}>
                                    </c-okcp-contact-info-new>

                                    <div class="controls slds-m-top_medium">
                                        <lightning-button variant="neutral" label="Back" class="slds-m-right_xx-small"
                                            onclick={navigateToConsent}>
                                        </lightning-button>
                                        <lightning-button variant="brand" type="submit" label="Next" name="next"
                                            onclick={navigateToRegistration}>
                                        </lightning-button>
                                    </div>
                                </template>

                                <template if:true={showpage4}>
                                   </template>

                                <template if:true={showpage3}>
                                    <!--okcpTestingQuestions-->
                                    <c-okcp-testing-questions-new is-appointment="true" onsave={testingSaved}
                                        onbackevent={handleback} onsetobject={setContactPage4}
                                        dependent-contact-id={dependentContactId}
                                        appointment-contact={appointmentContact} appointment-id={appointmentId}
                                        oncancelappointment={handleCancelAppointment} if:false={isVaccineEvent}>
                                    </c-okcp-testing-questions-new>

                                    <c-okcp-vaccine-questions-new 
                                        is-testing-site={istesting}
                                        is-appointment="true" onsave={testingSaved}
                                        onbackevent={handleback} onsetobject={setContactPage4}
                                        dependent-contact-id={dependentContactId}
                                        appointment-contact={appointmentContact} appointment-id={appointmentId}
                                        oncancelappointment={handleCancelAppointment} if:true={isVaccineEvent}
                                        event-id={eventId} vaccine-type={vaccineType}
                                        is-testing-and-selected-dose-completed={isTestingAndSelectedDoseCompleted}>
                                    </c-okcp-vaccine-questions-new>
                                </template>

                                <!--Commented By Virendra Kumar as per S-16828-->

                                <template if:true={showpage6}>
                                    <!--okcpWaiver-->
                                    <c-okcp-waiver-new is-appointment="true" onsave={handleWaiver}
                                        onbackevent={handleback} onsetobject={setContactPage6}
                                        dependent-contact-id={dependentContactId}
                                        appointment-contact={appointmentContact} appointment-id={appointmentId}
                                        search-existing-contact="true" oncancelappointment={handleCancelAppointment}
                                        is-vaccination={isVaccineEvent} is-from-appt-scheduler={isFromApptScheduler}
                                        account-id={accountId} event-id={eventId} pre-reg-min-date-time={preRegMinDateTime} event-ids={eventIds}
                                        is-testing-and-selected-dose-completed={isTestingAndSelectedDoseCompleted}>
                                    </c-okcp-waiver-new>
                                </template>

                                <div style="display:none;">{selectedEvent} - {selectedAccountId} - {accountId} -
                                    {eventId}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </template>
        </template>
        <template if:true={showThankYou}>
            <div class="success">{thankYouMessage}</div>
        </template>

        <template if:true={overrideConfirmation}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" onclick={confirmationCancel} title="Close" style="color:white;">
                        <lightning-icon
                            icon-name="utility:close"
                            size="small">
                        </lightning-icon>
                        <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Appointment override confirmation</h2>
                    </header>
                    <div class="slds-modal__content slds-var-p-around_medium">
                        The attendee has an appointment at the following location. If you continue, that appointment will be canceled:
                        <br/><br/>
                        <ul>
                            <li>Account Name : {existingAppointmentData.Lab_Center__r.Name}</li>
                            <li>Account Address : {existingAppointmentData.Lab_Center_Address__c}</li>
                            <li>Appointment Date & Time : {existingAppointmentData.Appointment_Date__c} {existingAppointmentData.Appointment_Start_Time__c}</li>
                        </ul>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button variant="neutral" class="slds-float_left" label="Cancel" title="Cancel" onclick={confirmationCancel}></lightning-button>
                        <lightning-button variant="brand" label="Save" title="Save" onclick={confirmOverride}></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
    </div>
</template>