<template>
    <div class="slds-card">
        <header class="slds-modal__header">
            <div class="slds-modal__title slds-hyphenate slds-text-heading_medium">{modalHeader}</div>
        </header>
        <!-- Removing the  style={contentStyle} style attr to remove the fixed height. Changes by Manoj Reddy. Story ID: S-16854  -->
        <div class="slds-p-around_small slds-m-top_small">
            <template if:true={isStep1}>
                <c-vtpc-site-map oneventselected={handleEventSelected} site-id={accountId} event-id={eventId} show-private-access-filter>
                </c-vtpc-site-map>
            </template>
            <template if:true={isStep2}>
                <c-vtpc-schedule-appointment onslotselected={handleSlotSelected} recordid={appointmentId}
                    selectvalue={accountId} onclose={hideModal} eventid={eventId} selected-slot-id={slotId}
                    event-start-date = {DateFrom} event-end-date = {DateTo} event-start-time = {TimeFrom} event-end-time={TimeTo}>
                </c-vtpc-schedule-appointment>
            </template>
            <template if:true={isStep3}>
               
                <c-ok-contact-intake-form appointment-id={appointmentId} event-id={eventId} account-id={accountId} slot-id={slotId} oncancelappointment={backToAppointment}
                    onregistered={handleRegistrationSuccess} onmindatetime={updateMinDateTimePreReg} is-from-appt-scheduler>
                </c-ok-contact-intake-form>
            </template>
        </div>
        <footer class="slds-modal__footer">
            <template if:false={registrationComplete}>
                <template if:false={isStep3}>
                    <lightning-button disabled={isStep1} label="Previous" name="previous" onclick={handleClick}
                    class="slds-m-right_small">
                </lightning-button>
                </template>
               
                <template if:false={isStep3}>
                    <lightning-button disabled={isNextEnabled} label="Next" name="next" variant="brand"
                        onclick={handleClick}></lightning-button>
                </template>
                <!-- <template if:true={isStep3}>
                    <lightning-button label="Save" name="save" variant="brand" onclick={handleClick}></lightning-button>
                </template> -->
            </template>
            <template if:true={registrationComplete}>
                <lightning-button label="Finish" name="finish" variant="brand" onclick={handleClick}></lightning-button>
            </template>
        </footer>
    </div>
</template>